<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          {{popupData.header}}
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div class="card-body with-bottom-buttons">
      <div *ngIf="!savedLogin" class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>User Name</label></div>
        <div class="col-6">
          <input type="text" [(ngModel)]="jsonBodyLogin.userName"  class="form-control-sm w-100 no-radius" >
        </div>
      </div>
      <div *ngIf="!savedLogin" class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Password</label></div>
        <div class="col-6">
          <input type="text" [(ngModel)]="jsonBodyLogin.password"  class="form-control-sm w-100 no-radius" >
        </div>
      </div>
      <div *ngIf="savedLogin" class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Title</label></div>
        <div class="col-6">
          <mat-select placeholder="Select Title"  [(ngModel)]="jsonBodyAdmin.title">
            <mat-option *ngFor="let c of titles" [value]="c">
              {{c}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div *ngIf="savedLogin" class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>First Name</label></div>
        <div class="col-6">
          <input type="text" [(ngModel)]="jsonBodyAdmin.firstName"  class="form-control-sm w-100 no-radius" >
        </div>
      </div>
      <div *ngIf="savedLogin" class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Last Name</label></div>
        <div class="col-6">
          <input type="text" [(ngModel)]="jsonBodyAdmin.lastName"  class="form-control-sm w-100 no-radius" >
        </div>
      </div>
      <div *ngIf="savedLogin" class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Mobile No</label></div>
        <div class="col-6">
          <input placeholder="eg: 071-xxxxxxx" type="text" [(ngModel)]="jsonBodyAdmin.mobileNo"  class="form-control-sm w-100 no-radius" >
        </div>
      </div>
      <div *ngIf="savedLogin" class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>E-mail</label></div>
        <div class="col-6">
          <input placeholder="eg: john@mail.com" type="text" [(ngModel)]="jsonBodyAdmin.email"  class="form-control-sm w-100 no-radius" >
        </div>
      </div>
      <div *ngIf="savedLogin" class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Position</label></div>
        <div class="col-6">
          <input type="text" [(ngModel)]="jsonBodyAdmin.position"  class="form-control-sm w-100 no-radius" >
        </div>
      </div>
      <div *ngIf="savedLogin"  class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Role</label></div>
        <div class="col-6">
          <mat-select placeholder="Select Role"  [(ngModel)]="jsonBodyAdmin.role">
            <mat-option *ngFor="let c of roles" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
      </div>
    </div>
    <div  mat-dialog-actions class="card-footer mb-0">
      <div class="row  w-100">
        <div class="col w-100 pt-1 pb-0 pr-1 card-bottom-buttons d-flex justify-content-end">
          <!--<button class="btn btn-secondary mr-2 ml-2"  (click)="onClickCancel()"></button>-->
          <button class="btn btn-primary"  (click)="onClickSave()">Save</button>
        </div>
      </div>
    </div>
  </div>
  </div>
