<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          Enter Data
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div class="card-body with-bottom-buttons">

<!--      Project Name-->
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Project</label></div>
        <div class="col-6">
          <label>{{this.popupData.projectName}}</label>
        </div>

      </div>

<!--      year -->
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6">
          <label>Year</label>
        </div>
        <div class="col-6">
          <input  [(ngModel)]="actData.year"  class="form-control-sm w-100 no-radius" >
        </div>
      </div>

<!--      Month-->
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6">
          <label>Month</label>
        </div>
        <div class="col-6">
          <mat-select (selectionChange)="onChangeMonth($event)" placeholder="Select Month"  [(ngModel)]="actData.month">
            <mat-option *ngFor="let c of months" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>

      </div>

<!--      Value with unit-->
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6">
          <label>Production(kWh)</label>
        </div>
        <div class="col-6">
          <input type="number" [(ngModel)]="actData.value"  class="form-control-sm w-100 no-radius" >
        </div>
      </div>
    </div>
    <div  mat-dialog-actions class="card-footer mb-0">
      <div class="row  w-100">
        <div class="col w-100 pt-1 pb-0 pr-1 card-bottom-buttons d-flex justify-content-end">
          <!--<button class="btn btn-secondary mr-2 ml-2"  (click)="onClickCancel()"></button>-->
          <button class="btn btn-primary"  (click)="save($event)">Save</button>
        </div>
      </div>
  </div>
</div>
