.no-border-page-wrapper .mat-dialog-container{
  height: 100% !important;
  padding: 0px !important;
}
::ng-deep {
  .ngx-dropdown-container{
    .available-items{
      max-height: 30px;
      overflow-y: scroll !important;
      //z-index: 2;
    }
  }

}
.mat-dg-content {
  overflow-y: visible !important;
}
