<div class="container-fluid w-100">
  <div class="row mt-3">
    <div class="col-6"><label>Reason to remove </label></div>
    <div class="col-6"><input nbInput type="text" class="form-control-sm border-secondary"/></div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <button class="btn btn-primary">Remove</button>
    </div>
  </div>
</div>
