 <div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          {{popupData.header}}
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div style="max-height: 450px; overflow: scroll;" class="card-body with-bottom-buttons">
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-3"><label>Company</label></div>
        <div class="col-3">
          <mat-select placeholder="Select Company" (selectionChange)="onChangeCompany($event.value)" [(ngModel)]="jsonBody.COMPANY_ID">
            <mat-option  *ngFor="let c of companies" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-3"><label>Branch</label></div>
        <div class="col-3">
          <mat-select placeholder="Select Branch"  [(ngModel)]="jsonBody.BRANCH_ID">
            <mat-option  *ngFor="let c of branches" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>

      </div>

      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Sub Contractor Name</label></div>
        <div class="col-6">
          <input type="text" [(ngModel)]="jsonBody.SUB_CONTRACTOR_NAME"  class="form-control-sm w-100 no-radius" >
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Waste Type</label></div>
        <div class="col-6">
          <mat-select (selectionChange)="onChangeWaste($event)" placeholder="Select Waste"  [(ngModel)]="jsonBody.WASTE_TYPE">
            <mat-option *ngFor="let c of wastes" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Vehicle Type</label></div>
        <div class="col-6">
          <mat-select (selectionChange)="onChangeVehicle($event)" placeholder="Select Vehicle"  [(ngModel)]="jsonBody.VEHICLE_TYPE">
            <mat-option *ngFor="let c of vehicles" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>No of Turns</label></div>
        <div class="col-6">
          <input type="number" [(ngModel)]="jsonBody.noOfTurns"  class="form-control-sm w-100 no-radius" >

        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Quantity(tons)</label></div>
        <div class="col-6">
          <input type="number" [(ngModel)]="jsonBody.WASTE_TONS"  class="form-control-sm w-100 no-radius" >

        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Loading Capacity(tons)</label></div>
        <div class="col-6">
          <input type="number" [(ngModel)]="jsonBody.LOADING_CAPACITY"  class="form-control-sm w-100 no-radius" >
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Fuel Type</label></div>
        <div class="col-6">
          <mat-select (selectionChange)="onChangeFuel($event)" placeholder="Select Fuel"  [(ngModel)]="jsonBody.FUEL_TYPE">
            <mat-option *ngFor="let c of fuels" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Fuel Economy(km/l)</label></div>
        <div class="col-6">
          <input type="number" [(ngModel)]="jsonBody.FUEL_ECONOMY"  class="form-control-sm w-100 no-radius" >
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Distance(km)</label></div>
        <div class="col-6">
          <input type="number" [(ngModel)]="jsonBody.DISTANCE_TRAVELLED"  class="form-control-sm w-100 no-radius" >
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-3"><label>Month</label></div>
        <div class="col-3">
          <mat-select (selectionChange)="onChangeMonth($event)" placeholder="Select Month"  [(ngModel)]="jsonBody.MONTH">
            <mat-option *ngFor="let c of months" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-3"><label>Year</label></div>
        <div class="col-3">
          <mat-select placeholder="Select Year"  [(ngModel)]="jsonBody.YEAR">
            <mat-option *ngFor="let c of  years" [value]="c">
              {{c}}
            </mat-option>
          </mat-select>
        </div>
      </div>




    </div>
    <div  mat-dialog-actions class="card-footer mb-0">
      <div class="row  w-100">
        <div class="col w-100 pt-1 pb-0 pr-1 card-bottom-buttons d-flex justify-content-end">
          <!--<button class="btn btn-secondary mr-2 ml-2"  (click)="onClickCancel()"></button>-->
          <button class="btn btn-primary"  (click)="onClickSave()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
