
<div class="row">
  <nb-tabset class="col-12">
    <nb-tab tabTitle="Agreement" class="mw-100" style="min-width: 100%;">
      <div class="row mt-3 w-100 ">
        <div class="col-12">
          <nb-card class="w-100">
            <nb-card-body *ngIf ="projectId < 0">
              <div class="row mt-3"><h3>No Project Available Wait until ClimateSI admin create Project</h3></div>

            </nb-card-body>
            <nb-card-body *ngIf ="projectStatus > 0">
              <div class="row mt-3 font-weight-bolder">
               <div class="col-12 justify-content-center align-items-center">
                 Terms and Conditions for Smart Carbon Calculator
               </div>
              </div>

              <div class="row mt-3 font-weight-bold">
                <div class="col-12 justify-content-start tchead2">
                  1.&nbsp;&nbsp;General
                </div>
              </div>
              <div class="row mt-2">
                <p class="col-12">
                  These terms and conditions outline the rules and regulations for the use of Climate Smart Initiatives
                  (pvt) Ltd’s (ClimateSI) website, located at http://www.climatesi.com and the services offered through same.
                </p>
                <p class="col-12">
                  By accessing this website the user, confirms the acceptance of these  “Terms and Conditions of Use” and the contents of the
                  “Privacy Statement”
                </p>
                <p class="col-12">
                  The user is not allowed to use ClimateSI website and services offered through it, if you do not agree to
                  and abide by all of the relevant terms and conditions stated on this page.

                </p>
                <p class="col-12">
                  The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements:
                </p>
                <p class="col-12">
                  "Client", "You" and "Your" refers to you, the person logged on to this website and using or willing to use the services offered through it. In the case of a person using the wWebsite on behalf of a corporate entity,
                  these terms refer to both the individual/s using the wWebsite as well as the corporate entity.

                </p>
                <p class="col-12">
                  “CSI”, "The Company", "Ourselves", "We", "Our" and "Us", refers to the
                  Company – Climate Smart Initiatives (pvt) Ltd. incorporated as a Private Company  (P.V 119397) having complied with the requirements under the Companies ACT (No.7 of 2007).
                </p>
                <p class="col-12">
                  "Party", refers to either the client or  You Climate Smart Initiatives (Pvt) Ltd. while "Parties" , refers to both the client or  Climate Smart Initiatives(Pvt) Ltd.

                </p>
                <p class="col-12">
                  “The Website”, “Website” and “SMC” refer to this website offering the services of “Smart Carbon Calculator” maintained by CSI.

                </p>
                <p class="col-12">
                  These terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the
                  express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance with and subject to,
                  prevailing laws of Sri Lanka.

                </p>
                <p class="col-12">
                  Any use of the above terminology or other words in the singular, plural,
                  capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.

                </p>
              </div>
              <div class="row mt-3 font-weight-bold">
                <div class="col-12 justify-content-start tchead2">
                  2.&nbsp;&nbsp;Use of Cookies
                </div>
              </div>
              <div class="row mt-2">
                <p class="col-12">
                  Most interactive websites use cookies to let them retrieve user’s details on each visit. Cookies are used by our website too to enable the functionality of
                  certain areas to make it easier for people visiting our website. By accessing
                  the Website, you agree to Our use of cookies in accordance with Our Privacy Policy.

                </p>

              </div>
              <div class="row mt-3 font-weight-bold">
                <div class="col-12 justify-content-start tchead2">
                  3.&nbsp;&nbsp;License
                </div>
              </div>
              <div class="row mt-2">
                <p class="col-12">
                  Unless otherwise stated, CSI and/or its licensors own the intellectual property
                  rights for all material on the Website. All intellectual property rights are reserved.
                  You may access the contents of the Website is only  for Your use subjected to restrictions set in these terms and conditions.

                </p>
                <p class="col-12">
                  You must not:
                </p>
                <ul class="col-12">
                  <li>Republish any material available on the Website.</li>
                  <li>Sell, rent or sub-license  Your rights to use the Website
                  </li>
                  <li>Reproduce, duplicate or copy material from the Website</li>
                  <li>Redistribute content from the Website whether for a fee or not</li>
                  <li>Reverse engineer contents made available on the Website</li>
                  <li>Introduce any form of malicious software including but not limited to Virus, Spyware, Adware, PUPs into the site
                  </li>
                  <li>Try to intrude into data or information belonging to other site users or the Company</li>
                  <li>Use the Website for any unlawful activity</li>
                </ul>
                <p class="col-12">
                  This Agreement shall begin on the date of accessing the Website (beyond the home page and pages containing the Privacy Policy and Terms and Conditions.)

                </p>
              </div>
              <div class="row mt-3 font-weight-bold">
                <div class="col-12 justify-content-start tchead2">
                  4.&nbsp;&nbsp;Customer Data
                </div>
              </div>
              <div class="row mt-2">
                <p class="col-12">
                  Data relevant to Your operations would be stored in the Website for the sole purpose of providing inputs required for the services offered through the Website. Following conditions are applicable regarding to Your data stored on this Website:

                </p>
                <ul class="col-12">
                  <li>The legitimacy and accuracy of the data will be solely Your responsibility</li>
                  <li>The Website should not be used as a backup source of Your Data
                  </li>
                  <li>CSI will take all reasonable care against the safety and security of the customer data. However, CSI will be indemnified on any loss or corruption of Your data due to any reason whatsoever, including power interruptions, malicious interventions and failures or ‘bugs’ in the software used in the Website.
                  </li>
                  <li>In the event of a loss or corruption of data, CSI shall be indemnified of any costs inclusive of those associated with duplicate data entry.</li>
                </ul>
              </div>
              <div class="row mt-3 font-weight-bold">
                <div class="col-12 justify-content-start tchead2">
                  5.&nbsp;&nbsp;Use of Comments
                </div>
              </div>
              <div class="row mt-2">
               <p class="col-12">
                 Parts of this Website offers an opportunity for users to post and exchange
                 opinions and information in certain areas of the Website. CSI does not filter, edit, publish or review Comments prior to their presence on the Wwebsite. Comments do not reflect the views and opinions of CSI,
                 its agents and/or affiliates. Comments reflect the views and opinions of the personnel who post their views and opinions. To the extent permitted by applicable laws, CSI shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered
                 as a result of any use of and/or posting of and/or appearance of the Comments on this Website.

               </p>
               <p class="col-12">
                 CSI reserves the right to monitor all Comments and to remove
                 any Comments which, according to Our opinion,
                 are considered inappropriate, offensive or causes breach of these Terms and Conditions and/or Our Privacy Policy..

               </p>
               <p class="col-12">
                 You warrant and represent that:

               </p>
               <ul class="col-12">
                 <li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;
                 </li>
                 <li>The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;
                 </li>
                 <li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy</li>
                 <li>
                   The Comments will not be used to solicit or promote business, custom or present commercial activities or unlawful activity.

                 </li>
                 <li>
                   Comments are limited to matters related to the functionality of this Website and the services offered through it.

                 </li>
               </ul>
               <p class="col-12">
                 You hereby grant CSI a non-exclusive license to use, reproduce, remove, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.

               </p>
              </div>
              <div class="row mt-3 font-weight-bold">
                <div class="col-12 justify-content-start tchead2">
                  6.&nbsp;&nbsp;Hyperlinking to Our Content
                </div>
              </div>
              <div class="row mt-2">
                <p class="col-12">
                  The following organizations may link to our Website without prior written approval:
                </p>
                <ul class="col-12">
                  <li>Search engines;</li>
                  <li>Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses;</li>
                </ul>
                <p class="col-12">
                  These eligible organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services by Us; and (c) fits within the context of the linking party’s site.

                </p>
                <p class="col-12">
                  Any other organization or individual who wish to link with CSI web site requires prior written approval of the Board of Directors of Climate Smart Initiatives (Pvt) Ltd.
                </p>
                <p class="col-12">
                  Upon the  written Our approval, These organizations or individuals may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services by Us; and (c) fits within the context of the linking party’s site.

                </p>
                <p class="col-12">
                  If you are one of the organizations interested in linking to our website,
                  please inform  Us by sending an e-mail to CSI, . with your name, name of your organization,
                  contact information as well as the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link.
                </p>
                <p class="col-12">
                  Approved organizations may hyperlink to Our Website as follows:
                </p>
                <ul class="col-12">
                  <li>By use of Our corporate name; or</li>
                  <li>By use of the uniform resource locator being linked to Our Website; or</li>
                  <li>By use of any other reasonable description of our Website being linked to, that makes sense within the context and format of content on the linking party’s site,
                    provided such description does not portray a negative image about Us or our Website.</li>
                </ul>
                <p class="col-12">
                  No use of CSI's logo or other artwork will be allowed for linking in the absence of t a trademark license agreement.
                </p>
              </div>
              <div class="row mt-3 font-weight-bold">
                <div class="col-12 justify-content-start tchead2">
                  7.1&nbsp;&nbsp;iFrames
                </div>
              </div>
              <div class="row mt-2">
                <p class="col-12">
                  Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.

                </p>
              </div>
              <div class="row mt-3 font-weight-bold">
                <div class="col-12 justify-content-start tchead2" >
                  7.2&nbsp;&nbsp;Content Liablity
                </div>
              </div>
              <div class="row mt-2">
                <p class="col-12">
                  We shall not be  held responsible for any content that appears on Your Website
                  where hyperlinks are provided to Our contents. You agree to protect and defend
                  Us against all claims that is rising on your Website. No link(s) should appear
                  on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.
                </p>
              </div>
              <div class="row mt-3 font-weight-bold">
                <div class="col-12 justify-content-start tchead2">
                  7.3&nbsp;&nbsp;Reservation Rights
                </div>
              </div>
              <div class="row mt-2">
                <p class="col-12">
                  We reserve the right to request that You remove all links or any particular
                  link to our Website. You agree to immediately remove all links to our
                  Website upon request. We also reserve the right to amend these terms and conditions
                  and  Our linking policy at any time. By continuously linking to our Website,
                  you agree to be bound to and follow the latest versions of these linking terms
                  and conditions.
                </p>
              </div>
              <div class="row mt-3 font-weight-bold">
                <div class="col-12 justify-content-start tchead2">
                  7.4&nbsp;&nbsp;Removal of Links from our Website
                </div>
              </div>
              <div class="row mt-2">
                <p class="col-12">
                  If you find any link on our Website that is offensive for any reason, you are free
                  to contact and inform Us any moment. We will consider requests to remove links
                  but we are not obligated to or do so or to respond to you directly.
                </p>
              </div>
              <div class="row mt-3 font-weight-bold">
                <div class="col-12 justify-content-start tchead2" >
                  8.&nbsp;&nbsp;Disclaimer
                </div>
              </div>
              <div class="row mt-2">
                <p class="col-12">
                  We do not ensure that the information on this Website is correct, We
                  do not warrant its completeness or accuracy; nor do We promise to
                  ensure that the Website remains available or that the material on the Website
                  is kept up to date.
                </p>
                <p class="col-12">
                  To the maximum extent permitted by applicable law,
                  We exclude all representations, warranties and conditions
                  relating to Our Website and the use of  same. Nothing in this disclaimer will:
                </p>
                <ul class="col-12">
                  <li>
                    limit or exclude Our or Your liability for fraud or fraudulent misrepresentation;
                  </li>
                  <li>
                    limit any of  Our or Your liabilities in any way that is not permitted under applicable law; or
                  </li>
                  <li>
                    exclude any of our Our or Your liabilities that may not be excluded under applicable law.

                  </li>
                </ul>
                <p class="col-12">
                  The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.
                </p>
                <p class="col-12">
                  As long as the Website and the information and services on the Website are provided free of charge, We will not be liable for any loss or damage of any nature.
                </p>
                <p class="col-12">
                  Even under a paid subscription Our liabilities will be limited to the amount paid by You as subscription fee for our services. We shall not be liable for any indirect or consequential losses caused by the use or misuse of Our services under any circumstances.
                </p>
              </div>

            </nb-card-body>
            <nb-card-footer *ngIf ="projectStatus < 2" class="d-flex justify-content-end">
              <button [disabled]="projectStatus !== 1" class="btn btn-primary" (click)="onClickAgree()">Agree</button>
            </nb-card-footer>
          </nb-card>
        </div>
      </div>

    </nb-tab>
    <nb-tab *ngIf="projectStatus >= 2" style="overflow: hidden;" [disabled]="projectStatus === -1" tabTitle="Info">
      <div class="row mt-3">
        <div class="col-12">
          <nb-card class="alert-info font-weight-bold">
            <nb-card-header *ngIf="cadminStatus === 3">
              Approved Infomation
            </nb-card-header>
            <nb-card-body *ngIf="cadminStatus !== 3">
              <div *ngIf="cadminStatus !==3 " class="row mt-3">
                <p *ngIf="cadminStatus === 1">
                  Information is not submitted yet.
                </p>
                <p *ngIf="cadminStatus === 2">
                  Information is submitted for Reviewing.

                </p>
                <p *ngIf="cadminStatus === 4">
                  {{cadminStatusMsg}}
                </p>
              </div>
              <!--<div class="row mt-3 " *ngIf="cadminStatus ===3 ">-->
                <!--<p>Approved Information</p>-->
              <!--</div>-->
            </nb-card-body>
          </nb-card>
        </div>
      </div>

      <div class="row  mt-3  ">
        <div class="col-md-6 col-sm-12  col-xs-12  display-flex align-items-stretch-stretch ">
          <nb-card class="h-100">
            <nb-card-header>
              Basic Information
            </nb-card-header>
            <nb-card-body>
              <div class="row mt-3">
                <div class="col-6 d-flex align-items-center"><label>Title</label></div>
                <div class="col-6">
                  <ngx-select-dropdown [disabled]="cadminStatus === 3" [config]="titleConfig" [(ngModel)]="cadminInfo.title" [options]="titlesOptions"></ngx-select-dropdown>

                </div>
              </div>
              <div class="row mt-3">
                <div class="col-6 d-flex align-items-center"><label>First Name</label></div>
                <div class="col-6"><input [disabled]="cadminStatus === 3" [(ngModel)]="cadminInfo.firstName"  class="form-control-sm w-100 no-radius" ></div>
              </div>
              <div class="row mt-3">
                <div class="col-6 d-flex align-items-center"><label>Last Name</label></div>
                <div class="col-6"><input [disabled]="cadminStatus === 3" [(ngModel)]="cadminInfo.lastName"  class="form-control-sm w-100 no-radius" ></div>
              </div>
              <div class="row mt-3">
                <div class="col-6 d-flex align-items-center"><label>Position</label></div>
                <div class="col-6"><input [disabled]="cadminStatus === 3" [(ngModel)]="cadminInfo.position"  class="form-control-sm w-100 no-radius" ></div>
              </div>
              <div class="row mt-3">
                <div class="col-6 d-flex align-items-center"><label>Telephone No</label></div>
                <div class="col-6"><input [disabled]="cadminStatus === 3" [(ngModel)]="cadminInfo.telephoneNo" placeholder="eg: 011-xxxxxxx"   class="form-control-sm w-100 no-radius" ></div>
              </div>
              <div class="row mt-3">
                <div class="col-6 d-flex align-items-center"><label>Mobile No</label></div>
                <div class="col-6"><input [disabled]="cadminStatus === 3" [(ngModel)]="cadminInfo.mobileNo" placeholder="eg: 071-xxxxxxx"  class="form-control-sm w-100 no-radius" ></div>
              </div>
              <div class="row mt-3">
                <div class="col-6 d-flex align-items-center"><label>Email</label></div>
                <div class="col-6"><input [disabled]="cadminStatus === 3" [(ngModel)]="cadminInfo.email" placeholder="eg: john@mail.com"   class="form-control-sm w-100 no-radius" ></div>
              </div>
            </nb-card-body>
            <nb-card-footer *ngIf="!(cadminStatus === 3)" class="d-flex justify-content-end">
              <button class="btn btn-primary" (click)="updateCadminInfo()">Save</button>
            </nb-card-footer>
          </nb-card>
        </div>
        <div class="col-md-6  col-sm-12 col-xs-12  display-flex align-items-stretch-stretch">
          <nb-card class="h-100">
            <nb-card-header>
              Company Basic Information
            </nb-card-header>
            <nb-card-body>
              <div class="row mt-3">
                <div class="col-6 d-flex align-items-center"><label>Company Name</label></div>
                <div class="col-6"><input [disabled]="true" [(ngModel)]="companyBasicInfo.name"  class="form-control-sm w-100 no-radius" ></div>
              </div>
              <div class="row mt-3">
                <div class="col-6 d-flex align-items-center"><label>Address 1</label></div>
                <div class="col-6"><input [disabled]="cadminStatus === 3 || disableCompanyBasicInfo()" [(ngModel)]="companyBasicInfo.addr1"  class="form-control-sm w-100 no-radius" ></div>
              </div>
              <div class="row mt-3">
                <div class="col-6 d-flex align-items-center"><label>Address 2</label></div>
                <div class="col-6"><input [disabled]="cadminStatus === 3 || disableCompanyBasicInfo()" [(ngModel)]="companyBasicInfo.addr2"  class="form-control-sm w-100 no-radius" ></div>
              </div>
              <div class="row mt-3">
                <div class="col-6 d-flex align-items-center"><label>District</label></div>
                <div class="col-6">
                  <ngx-select-dropdown [disabled]="cadminStatus === 3 || disableCompanyBasicInfo()" [config]="districtConfig" [(ngModel)]="companyBasicInfo.district" [options]="districtsOptions"></ngx-select-dropdown>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-6 d-flex align-items-center"><label>Sector</label></div>
                <div class="col-6"><input [disabled]="true" [(ngModel)]="companyBasicInfo.sector"  class="form-control-sm w-100 no-radius" ></div>
              </div>
              <!--<div class="row mt-3">-->
                <!--<div class="col-6 d-flex align-items-center"><label>Code</label></div>-->
                <!--<div class="col-6"><input [disabled]="cadminStatus === 3" [(ngModel)]="companyBasicInfo.code"  class="form-control-sm w-100 no-radius" ></div>-->
              <!--</div>-->
              <div class="row mt-3">
                <div class="col-3 d-flex align-items-center"><label>Branches</label></div>
                <div class="col-3"><input [disabled]="cadminStatus === 3 || disableCompanyBasicInfo()" type="number" [(ngModel)]="companyBasicInfo.noOfBranches"  class="form-control-sm w-100 no-radius" ></div>
                <div class="col-3 d-flex align-items-center"><label>Employees</label></div>
                <div class="col-3"><input [disabled]="cadminStatus === 3 || disableCompanyBasicInfo()" type="number"  [(ngModel)]="companyBasicInfo.noOfEmployees"  class="form-control-sm w-100 no-radius" ></div>
              </div>


            </nb-card-body>
            <nb-card-footer *ngIf="!(cadminStatus === 3)" class="d-flex justify-content-end">
              <button [disabled]="disableCompanyBasicInfo()" class="btn btn-primary" (click)="updateCompanyBasicInfo()">Save</button>
            </nb-card-footer>
          </nb-card></div>
      </div>
      <div class = "row mt-3  "  >
        <div class="col-md-6 col-sm-12  col-xs-12  display-flex align-items-stretch " >
          <nb-card class="col-md-12 h-100 " >
            <nb-card-header>
              Advance Info
            </nb-card-header>
            <nb-card-body >
              <div class="row mt-3">
                <div class="col-3 d-flex align-items-center"><label>Current Year</label></div>
                <div class="col-6">
                  <!-------------------Changed to Radio Button as per request --------------------->
                  <!--<mat-checkbox class="example-margin" [(ngModel)]="isFinacialYear">Financial</mat-checkbox>-->
                  <mat-radio-group [disabled]="cadminStatus === 3 || disableCompanyAdvanceInfo()" (change)="onchangeYear($event)" style="display:flex; justify-contents: space-between" aria-label="Select an option">
                    <mat-radio-button [disabled]="cadminStatus === 3 || disableCompanyAdvanceInfo()" [checked]="isFinacialYear" style="flex: 1;" value="true">Financial</mat-radio-button>
                    <mat-radio-button [disabled]="cadminStatus === 3 || disableCompanyAdvanceInfo()" [checked]="!isFinacialYear" style="flex: 1;" value="false">Calendar</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="col-3"><input [disabled]="cadminStatus === 3 || disableCompanyAdvanceInfo()" [placeholder]="isFinacialYear ? 'eg: 2018/19' : 'eg: 2018'" type="text" [(ngModel)]="currentYear"  class="form-control-sm w-100 no-radius" ></div>
              </div>
              <div class="row mt-3">
                <div class="col-6 d-flex align-items-center"><label>Expected Revenue(Million) in Rupees</label></div>
                <div class="col-6"> <input [disabled]="cadminStatus === 3 || disableCompanyAdvanceInfo()" [(ngModel)]="comFinInfo.annumRevFY"  class="form-control-sm w-100 no-radius" ></div>
              </div>
              <div class="row mt-3 font-weight-bold">
                <div class="col-12">
                  GHG Reports Previous Years
                </div>
              </div>
              <div class="row mt-3">
                <nb-list class="col-12">
                  <nb-list-item class="row">
                    <span class="col-5">Year</span>
                    <input type="string" [disabled]="cadminStatus === 3 || disableCompanyAdvanceInfo() || currentYear === '' || currentYear ===  0 "  [(ngModel)]="yearOfReport" class=" form-control no-radius col-7" [placeholder]="isFinacialYear ? 'eg: 2019/20' : 'eg: 2019'" />
                  </nb-list-item>
                  <nb-list-item class="row">
                    <span class="col-5">Report</span>
                    <input [disabled]="cadminStatus === 3 || disableCompanyAdvanceInfo() || currentYear === '' || currentYear ===  0" type="file"  class="form-control no-radius col-7" (change)="onReportUploaded($event)">
                  </nb-list-item>
                  <nb-list-item class="row">
                    <span class="col-5">
                    </span>
                    <span class="col-7 d-inline-flex justify-content-end ">
                      <button [disabled]="cadminStatus === 3 || disableCompanyAdvanceInfo()|| currentYear === '' || currentYear ===  0 " class="btn btn-primary" (click)="uploadReport($event)">Upload</button>
                    </span>
                  </nb-list-item>
                  <nb-list-item class="row" *ngFor="let report of reports; let i = index;">
                    <span class="col-3">{{report.year}}</span>
                    <a class="col-7" [href]="report.url">Download</a>
                    <button [disabled]="cadminStatus === 3 || disableCompanyAdvanceInfo()" class="btn btn-outline-secondary col-2 "   (click)="deleteReport($event, report.projectId, i)"><nb-icon icon="trash-2-outline" pack="eva"></nb-icon></button>

                  </nb-list-item>
                </nb-list>
              </div>
            </nb-card-body>
            <nb-card-footer *ngIf="!(cadminStatus === 3)" class="d-flex justify-content-end">
              <button [disabled]="disableCompanyAdvanceInfo()" class="btn btn-primary" (click)="updateCompanyFinInfo()">Save</button>
            </nb-card-footer>
          </nb-card>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12   display-flex align-items-stretch  " >
          <nb-card class="col-md-12 h-100 ">
            <nb-card-header>
              Other Info
            </nb-card-header>
            <nb-card-body>
              <div class="row mt-3">
                <div class="col-6 d-flex align-items-center"><label>Logo</label></div>
                <div class="col-6"><input [disabled]="cadminStatus === 3 || disableCompanyOtherInfo()" type="file"  id="img" class="form-control no-radius" (change)="onFileChanged($event)"></div>
              </div>
              <div class="row mt-3" *ngIf="logoAvailable">
                <div class="col-12 d-flex justify-content-center"><img [src]="logoImage" style="width:auto;height: auto; max-height: 150px; max-width: 200px;"></div>
              </div>
              <div class="row mt-3">
                <div class="col-6 d-flex align-items-center"><label>Base year of GHG Preparation</label></div>
                <div class="col-6"><input [disabled]="cadminStatus === 3 || disableCompanyOtherInfo()" [placeholder]="isFinacialYear ? 'eg: 2018/19' : 'eg: 2018'" [(ngModel)]="baseYearStr"  class="form-control-sm w-100 no-radius" ></div>
              </div>
              <div class="row mt-3">
                <div class="col-6 d-flex align-items-center font-weight-bold"><label>Add Emission</label></div>
              </div>
              <div class="row mt-3">
                <div class="col-12 d-flex align-items-center font-weight-bold">
                  <nb-list class="w-100">
                    <nb-list-item class="w-100 row">
                      <span class="col-6  d-flex align-items-center font-weight-bold">Previous Year</span>
                      <span class="col-6  d-flex align-items-center font-weight-bold">Emission Intensity</span>
                    </nb-list-item>
                    <nb-list-item class="w-100 row">
                      <span class="col-12"><i>Enter Emission Intensity in tCo<sub>2</sub>e per Million LKR</i></span>
                    </nb-list-item>
                    <nb-list-item class="w-100 row">
                      <span class="col-6  d-flex align-items-center font-weight-bold"><input [disabled]="cadminStatus === 3 || disableCompanyOtherInfo()" [placeholder]="isFinacialYear ? 'eg: 2018/19' : 'eg: 2018'" [(ngModel)]="emissionYearStr"  class="form-control-sm w-100 no-radius" ></span>
                      <span class="col-3  d-flex align-items-center font-weight-bold"><input [disabled]="cadminStatus === 3 || disableCompanyOtherInfo()" type="number" [(ngModel)]="emission.emission"  class="form-control-sm w-100 no-radius" ></span>
                      <span class="col-3  d-flex align-items-center font-weight-bold"><button [disabled]="cadminStatus === 3 || disableCompanyOtherInfo()" (click)="onClickAddEmission($event)" class="btn btn-outline-secondary"><nb-icon icon="plus-outline" pack="eva"></nb-icon></button></span>
                    </nb-list-item>
                    <nb-list-item class="item w-100 row" *ngFor="let item of emissionYears;">
                      <span *ngIf="isFinacialYear" class="col-6  d-flex align-items-center">{{ item.fyyearStart + " /" + (item.fyyearEnd%100)}}</span>
                      <span *ngIf="!isFinacialYear" class="col-6  d-flex align-items-center">{{ item.fyyearStart}}</span>
                      <span class="col-3  d-flex align-items-center">{{ item.emission}}</span>
                      <span class="col-3  d-flex align-items-center"><button [disabled]="cadminStatus === 3 || disableCompanyOtherInfo()" (click)="onClickDeleteEmissionYears(item)" class="btn btn-outline-secondary"><nb-icon icon="trash-2-outline" pack="eva"></nb-icon></button></span>
                    </nb-list-item>
                  </nb-list>
                </div>
              </div>
            </nb-card-body>
            <nb-card-footer *ngIf="!(cadminStatus === 3)" class="d-flex justify-content-end">
              <button [disabled]="disableCompanyOtherInfo()" class="btn btn-primary" (click)="updateCompanyAdvInfo()">Save</button>
            </nb-card-footer>
          </nb-card>
        </div>

      </div>
      <!--<div class="row mt-3 ">-->
        <!--<div  class="col-12 d-flex justify-content-end" >-->
          <!--<button [disabled]="!(completed['1']  && completed['2'] && completed['3'] && completed['4'])" (click)="changeToPending()" class="btn btn-primary" >Submit</button>-->
        <!--</div>-->
      <!--</div>-->
    </nb-tab>

  </nb-tabset>
</div>


