.rotate {

  transform: rotate(-70deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-70deg);

  /* Firefox */
  -moz-transform: rotate(-70deg);

  /* IE */
  -ms-transform: rotate(-70deg);

  /* Opera */
  -o-transform: rotate(-70deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

}
