<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          Delete Confirm
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div class="card-body with-bottom-buttons">

      <div class="row mb-1 mt-1">
        <div class ="col-12 font-weight-bold">
          Are you sure you want to delete?
        </div>
      </div>




    </div>
    <div  mat-dialog-actions class="card-footer mb-0">
      <div class="row  w-100">
        <div class="col-6"></div>
        <div class="col-3  pt-1 pb-0 pr-1">
          <!--<button class="btn btn-secondary"  (click)="onClickNo()">Cancel</button>-->
        </div>
        <div class="col-3 ">
          <button class="btn btn-danger"  (click)="onClickYes()">Delete</button>

        </div>
      </div>
    </div>
  </div>
</div>
