<!-- <nb-card>
  <nb-card-header>
    Solar Projects
  </nb-card-header>

  <nb-card-body>

    <nb-list>
      <nb-list-item class="row font-weight-bold" >
        <span class="col-1"></span>
        <span class="col-1"></span>
        <span class="col-3">Name</span>
        <span class="col-7">Description</span>

      </nb-list-item>
      <nb-list-item class="row font-weight-bold" >
        <span class="col-1"></span>
        <span class="col-1"></span>
        <span class="col-7"></span>
        <span class="col-3"><button class="btn btn-primary"  (click)="openEditProject($event, undefined)">New Project</button></span>

      </nb-list-item>
      <nb-list-item class="row" *ngFor="let project of projects; let i = index;">
        <span class="col-1"><nb-icon (click)="openEditProject($event, project)" icon="edit-outline" pack="eva"></nb-icon></span>
        <span class="col-1"><nb-icon (click)="onDeleteProject($event, project.projectId)" icon="trash-2-outline" pack="eva"></nb-icon></span>
        <span class="col-3">{{project.name}}</span>
        <span class="col-7">{{project.description}}</span>

      </nb-list-item>
    </nb-list>


  </nb-card-body>
</nb-card>


 -->

 <nb-card>
  <nb-card-header>
    Mitigation Action Projects
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source"
                     (create)="openEditProject($event, undefined)"
                     (edit) = "openEditProject($event, source.data)"
                     (delete) = "onDeleteProject($event)"
                
    >
    </ng2-smart-table>
  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div style="font-size: small" class="col-2 d-flex justify-content-start pl-5 font-weight-lighter align-items-center">{{totalCount}} Rows</div>
      <div class="col-8 d-flex justify-content-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item page-link"  [ngClass]="{disabled: disablePrev}" (click)="onClickPrevPage()"><nb-icon icon="arrow-ios-back-outline" pack="eva"></nb-icon></li>
            <li class="page-item page-link">{{pg_current + 1}}</li>
            <li class="page-item page-link"  [ngClass]="{disabled: pg_current +1 >= pages}" (click)="onClickNextPage()"><nb-icon icon="arrow-ios-forward-outline" pack="eva"></nb-icon></li>
          </ul>
        </nav>
      </div>
      <div style="font-size: small" class="col-2  pr-5 d-flex justify-content-end font-weight-lighter align-items-center">{{pg_current + 1}} of {{pages === 0? 1 : pages}} Pages</div>
    </div>

  </nb-card-footer>
</nb-card>
