<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          Emission Calculations
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div class="card-body " style="max-height: 400px; overflow: scroll;">

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
         Equation
        </div>
      </div>
        <div  class="row mb-3 pr-2 pl-1">
          <div class="col-12 d-flex justify-content-center font-weight-bold"><i>E<sub>GE</sub> = EC X  EF<sub>GE</sub></i></div>
        </div>
        <div  class="row mb-3 pr-2 pl-1">
          <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
            <p>E<sub>GE</sub>  = Total GHG emissions from grid electricity consumption (tCo<sub>2e</sub>/year) </p>
          </div>
        </div>
        <div  class="row mb-3 pr-2 pl-1">
          <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
            <p>EC  = Total electricity consumption per year(MWh)  </p>
          </div>
        </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>EF<sub>GE</sub>  =  Emission factor for grid electricity (tCo<sub>2e</sub>/ MWh)  </p>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Substitution
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>EC = {{popupData.data.consumption}}&nbsp;kWh</i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>EF<sub>GE</sub>  = {{popupData.data.ef_grid}}&nbsp;tCo<sub>2e</sub>&nbsp;/&nbsp;MWh</i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>E<sub>GE</sub>  = {{popupData.data.consumption}}&nbsp;kWh X {{popupData.data.ef_grid}}&nbsp;tCo<sub>2e</sub>/MWh</i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>E<sub>GE</sub> = {{popupData.data.emission}}&nbsp;tCo<sub>2e</sub> </i>
        </div>
      </div>
      <!--<div  class="row mb-3 pr-2 pl-1">-->
        <!--<div class="col-12 d-flex justify-content-center">-->
          <!--<p>Substitution</p>-->
        <!--</div>-->
      <!--</div>-->




    </div>
    <!--<div  mat-dialog-actions class="card-footer mb-0">-->
      <!--<div class="row  w-100">-->
        <!--<div class="col w-100 pt-1 pb-0 pr-1 card-bottom-buttons d-flex justify-content-end">-->
          <!--&lt;!&ndash;<button class="btn btn-secondary mr-2 ml-2"  (click)="onClickCancel()"></button>&ndash;&gt;-->
          <!--<button class="btn btn-primary" [disabled]="isViewOnly" (click)="onClickSave()">{{btnText}}</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
