<!--<div class="row mt-3">-->
<div class="row mt-3">
  <div class="col-md-12 col-xs-12">
    <nb-card >
      <nb-card-header>
        Manage Menus
      </nb-card-header>
      <nb-card-body>
        <div class="row mt-3">
          <!--          <div class="col-md-1"></div>-->
          <div class="col-md-6 col-xs-6">
            Company
          </div>
          <div class="col-md-6 col-xs-6">
            <mat-select  (selectionChange)="onChangeCompany($event.value)" [(ngModel)]="companyId"  placeholder="Select Company" >
              <mat-option  *ngFor="let a of companines" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
          </div>

        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div *ngIf="this.companyId > 0"  class="row mt-3">
  <div class="col-md-12 col-xs-12">
    <nb-card>
      <nb-card-header class="d-flex ">
        Chose the menus and Emission Sources
      </nb-card-header>
      <nb-card-body>
        <div class="row mb-2">
          <nb-list>
            <nb-list-item class="row w-100 mb-3">
              <span class="col-3 mb-3 mt-3">Branch</span>
              <span class="col-3"><mat-checkbox class="example-margin" [(ngModel)]="pages[0]"></mat-checkbox></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

            </nb-list-item>



            <nb-list-item class="row w-100 mb-3">
              <span class="col-3 mb-3 mt-3">Users</span>
              <span class="col-3"><mat-checkbox class="example-margin" [(ngModel)]="pages[1]"></mat-checkbox></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>
            </nb-list-item>



            <nb-list-item class="row w-100 mb-3">
              <span class="col-3 mb-3 mt-3">Report</span>
              <span class="col-3"><mat-checkbox class="example-margin" [(ngModel)]="pages[2]"></mat-checkbox></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

            </nb-list-item>



<!--            <nb-list-item class="row w-100 mb-3">-->
<!--              <span class="col-3 mb-3 mt-3">Summary Inputs</span>-->
<!--              <span class="col-3"><mat-checkbox class="example-margin" [(ngModel)]="pages[4]"></mat-checkbox></span>-->
<!--              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>-->

<!--            </nb-list-item>-->



            <nb-list-item class="row w-100 mb-3">
              <span class="col-3 mb-3 mt-3">Access Control</span>
              <span class="col-3"><mat-checkbox class="example-margin" [(ngModel)]="pages[5]"></mat-checkbox></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

            </nb-list-item>

            <nb-list-item class="row w-100 mb-3">
              <span class="col-3 mb-3 mt-3">Renewable Energy: Solar</span>
              <span class="col-3"><mat-checkbox class="example-margin" [(ngModel)]="pages[33]"></mat-checkbox></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

            </nb-list-item>




            <nb-list-item   class="row w-100 mb-3">
              <span class="col-3 mb-3 mt-3">Business Air travel</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox (change)="onChangePageMenu($event, 7)" class="example-margin" [(ngModel)]="pages[7]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[14] != undefined" class="col-3">
                Category
              </span >
              <span  *ngIf="allowedEmissionSources[14] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 14)" [(ngModel)]="allowedEmissionSources[14].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[14] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[14] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 14)" [(ngModel)]="allowedEmissionSources[14].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >

              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[14] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[14] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[14].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

            </nb-list-item>



            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">Fire Extinguisher</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,8)" [(ngModel)]="pages[8]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[8] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[8] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 8)" [(ngModel)]="allowedEmissionSources[8].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[8] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[8] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 8)" [(ngModel)]="allowedEmissionSources[8].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >

              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[8] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[8] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[8].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

            </nb-list-item>



            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">Refrigerants</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,9)" [(ngModel)]="pages[9]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[7] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[7] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 7)" [(ngModel)]="allowedEmissionSources[7].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[7] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[7] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 7)" [(ngModel)]="allowedEmissionSources[7].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >

              <span class="col-12"></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[7] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[7] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[7].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

            </nb-list-item>



            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">Electricity</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,11)" [(ngModel)]="pages[11]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[13] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[13] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 13)" [(ngModel)]="allowedEmissionSources[13].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[13] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[13] != undefined"  class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 13)" [(ngModel)]="allowedEmissionSources[13].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >

              <span class="col-12"></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[13] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[13] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[13].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>
            </nb-list-item>

            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">Transmission and Distribution Loss</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangeEmissionSrc($event,18)" [(ngModel)]="emissionSources[17]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[18] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[18] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 18)" [(ngModel)]="allowedEmissionSources[18].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[18] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[18] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 18)" [(ngModel)]="allowedEmissionSources[18].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >

              <span class="col-12"></span>

              <span *ngIf="allowedEmissionSources[18] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[18] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[18].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

            </nb-list-item>



            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">Municipal water</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,13)" [(ngModel)]="pages[13]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[16] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[16] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 16)" [(ngModel)]="allowedEmissionSources[16].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[16] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[16] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 16)" [(ngModel)]="allowedEmissionSources[16].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >

              <span class="col-12"></span>

              <span *ngIf="allowedEmissionSources[16] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[16] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[16].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

            </nb-list-item>



            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">Waste Disposal</span>
              <span class="col-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,12)" [(ngModel)]="pages[12]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[17] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[17] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 17)" [(ngModel)]="allowedEmissionSources[17].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[17] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[17] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 17)" [(ngModel)]="allowedEmissionSources[17].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >

              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[17] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[17] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[17].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

            </nb-list-item>



            <nb-list-item class="row w-100 mb-3">
              <span class="col-3 mb-3 mt-3">Employee Commuting</span>
              <span class="col-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,14)" [(ngModel)]="pages[14]"></mat-checkbox></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

              <nb-list *ngIf="pages[14]" class="ml-3">
                <nb-list-item class="row w-100 mb-3">
                  <span class="col-4 mb- 3 mt-3">Employee Commuting, Paid by the Company</span>
                  <span class="col-8 mb- 3 mt-3"><mat-checkbox class="example-margin" (change)="onChangeEmissionSrc($event,11)" [(ngModel)]="emissionSources[10]"></mat-checkbox></span>
                  <span class="col-12"></span>
                  <span *ngIf="allowedEmissionSources[11] != undefined" class="col-3">
                Category
              </span >
                  <span *ngIf="allowedEmissionSources[11] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 11)" [(ngModel)]="allowedEmissionSources[11].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
                  <span *ngIf="allowedEmissionSources[11] != undefined" class="col-3">
                Classification
              </span >
                  <span *ngIf="allowedEmissionSources[11] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 11)" [(ngModel)]="allowedEmissionSources[11].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >

                  <span *ngIf="allowedEmissionSources[11] != undefined" class="col-3 mb-3 mt-3">Scope </span>
                  <span *ngIf="allowedEmissionSources[11] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[11].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>

                  <span  class="col-12"></span>

                </nb-list-item>
                <nb-list-item class="row w-100 mb-3">
                  <span class="col-4 mb- 3 mt-3">Employee Commuting Not Paid by the Company</span>
                  <span class="col-8 mb- 3 mt-3"><mat-checkbox class="example-margin" (change)="onChangeEmissionSrc($event,15)" [(ngModel)]="emissionSources[14]"></mat-checkbox></span>
                  <span class="col-12"></span>
                  <span *ngIf="allowedEmissionSources[15] != undefined" class="col-3">
                Category
              </span >
                  <span *ngIf="allowedEmissionSources[15] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 15)" [(ngModel)]="allowedEmissionSources[15].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
                  <span *ngIf="allowedEmissionSources[15] != undefined" class="col-3">
                Classification
              </span >
                  <span *ngIf="allowedEmissionSources[15] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 15)" [(ngModel)]="allowedEmissionSources[15].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >
                  <span class="col-12"></span>

                  <span *ngIf="allowedEmissionSources[15] != undefined" class="col-3 mb-3 mt-3">Scope </span>
                  <span *ngIf="allowedEmissionSources[15] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[15].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>

                </nb-list-item>
              </nb-list>
            </nb-list-item>



            <nb-list-item class="row w-100 mb-3">
              <span class="col-3 mb-3 mt-3">Transport</span>
              <span class="col-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,15)" [(ngModel)]="pages[15]"></mat-checkbox></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

              <nb-list *ngIf="pages[15]" class="ml-3">
                <nb-list-item class="row w-100 mb-3">
                  <span class="col-4 mb- 3 mt-3">Vehicle Hired, Not Paid</span>
                  <span class="col-8 mb- 3 mt-3"><mat-checkbox class="example-margin" (change)="onChangeEmissionSrc($event,12)" [(ngModel)]="emissionSources[11]"></mat-checkbox></span>

                  <span class="col-12"></span>
                  <span *ngIf="allowedEmissionSources[12] != undefined" class="col-3">
                Category
              </span >
                  <span *ngIf="allowedEmissionSources[12] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 12)" [(ngModel)]="allowedEmissionSources[12].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
                  <span *ngIf="allowedEmissionSources[12] != undefined" class="col-3">
                Classification
              </span >
                  <span *ngIf="allowedEmissionSources[12] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 12)" [(ngModel)]="allowedEmissionSources[12].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >
                  <span class="col-12"></span>

                  <span *ngIf="allowedEmissionSources[12] != undefined" class="col-3 mb-3 mt-3">Scope </span>
                  <span *ngIf="allowedEmissionSources[12] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[12].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>

                </nb-list-item>
                <nb-list-item class="row w-100 mb-3">
                  <span class="col-4 mb- 3 mt-3">Vehicle Hired, Paid</span>
                  <span class="col-8 mb- 3 mt-3"><mat-checkbox class="example-margin" (change)="onChangeEmissionSrc($event,5)" [(ngModel)]="emissionSources[4]"></mat-checkbox></span>

                  <span class="col-12"></span>
                  <span *ngIf="allowedEmissionSources[5] != undefined" class="col-3">
                Category
              </span >
                  <span *ngIf="allowedEmissionSources[5] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 5)" [(ngModel)]="allowedEmissionSources[5].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
                  <span *ngIf="allowedEmissionSources[5] != undefined" class="col-3">
                Classification
              </span >
                  <span *ngIf="allowedEmissionSources[5] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 5)" [(ngModel)]="allowedEmissionSources[5].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >
                  <span class="col-12"></span>
                  <span *ngIf="allowedEmissionSources[5] != undefined" class="col-3 mb-3 mt-3">Scope </span>
                  <span *ngIf="allowedEmissionSources[5] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[5].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>

                </nb-list-item>
                <nb-list-item class="row w-100 mb-3">
                  <span class="col-4 mb- 3 mt-3">Vehicle Rented, Paid</span>
                  <span class="col-8 mb- 3 mt-3"><mat-checkbox class="example-margin" (change)="onChangeEmissionSrc($event,36)" [(ngModel)]="emissionSources[35]"></mat-checkbox></span>

                  <span class="col-12"></span>
                  <span *ngIf="allowedEmissionSources[36] != undefined" class="col-3">
                Category
              </span >
                  <span *ngIf="allowedEmissionSources[36] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 36)" [(ngModel)]="allowedEmissionSources[36].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
                  <span *ngIf="allowedEmissionSources[36] != undefined" class="col-3">
                Classification
              </span >
                  <span *ngIf="allowedEmissionSources[36] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 36)" [(ngModel)]="allowedEmissionSources[36].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >
                  <span class="col-12"></span>

                  <span *ngIf="allowedEmissionSources[36] != undefined" class="col-3 mb-3 mt-3">Scope </span>
                  <span *ngIf="allowedEmissionSources[36] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[36].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>

                </nb-list-item>
                <nb-list-item class="row w-100 mb-3">
                  <span class="col-4 mb- 3 mt-3">Vehicle Rented, Not Paid</span>
                  <span class="col-8 mb- 3 mt-3"><mat-checkbox class="example-margin" (change)="onChangeEmissionSrc($event,37)" [(ngModel)]="emissionSources[36]"></mat-checkbox></span>

                  <span class="col-12"></span>
                  <span *ngIf="allowedEmissionSources[37] != undefined" class="col-3">
                Category
              </span >
                  <span *ngIf="allowedEmissionSources[37] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 37)" [(ngModel)]="allowedEmissionSources[37].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
                  <span *ngIf="allowedEmissionSources[37] != undefined" class="col-3">
                Classification
              </span >
                  <span *ngIf="allowedEmissionSources[37] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 37)" [(ngModel)]="allowedEmissionSources[37].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >
                  <span class="col-12"></span>
                  <span *ngIf="allowedEmissionSources[37] != undefined" class="col-3 mb-3 mt-3">Scope </span>
                  <span *ngIf="allowedEmissionSources[37] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[37].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>

                </nb-list-item>
                <nb-list-item class="row w-100 mb-3">
                  <span class="col-4 mb- 3 mt-3">Vehicle Rented</span>
                  <span class="col-8 mb- 3 mt-3"><mat-checkbox class="example-margin" (change)="onChangeEmissionSrc($event,4)" [(ngModel)]="emissionSources[3]"></mat-checkbox></span>

                  <span class="col-12"></span>
                  <span *ngIf="allowedEmissionSources[4] != undefined" class="col-3">
                Category
              </span >
                  <span *ngIf="allowedEmissionSources[4] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 4)" [(ngModel)]="allowedEmissionSources[4].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
                  <span *ngIf="allowedEmissionSources[4] != undefined" class="col-3">
                Classification
              </span >
                  <span *ngIf="allowedEmissionSources[4] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 4)" [(ngModel)]="allowedEmissionSources[4].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >
                  <span class="col-12"></span>
                  <span *ngIf="allowedEmissionSources[4] != undefined" class="col-3 mb-3 mt-3">Scope </span>
                  <span *ngIf="allowedEmissionSources[4] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[4].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>

                </nb-list-item>

                <nb-list-item class="row w-100 mb-3">
                  <span class="col-4 mb- 3 mt-3">Off-Road Vehicles</span>
                  <span class="col-8 mb- 3 mt-3"><mat-checkbox class="example-margin" (change)="onChangeEmissionSrc($event,9)" [(ngModel)]="emissionSources[8]"></mat-checkbox></span>

                  <span class="col-12"></span>
                  <span *ngIf="allowedEmissionSources[9] != undefined" class="col-3">
                Category
              </span >
                  <span *ngIf="allowedEmissionSources[9] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 9)" [(ngModel)]="allowedEmissionSources[9].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
                  <span *ngIf="allowedEmissionSources[9] != undefined" class="col-3">
                Classification
              </span >
                  <span *ngIf="allowedEmissionSources[9] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 9)" [(ngModel)]="allowedEmissionSources[9].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >
                  <span class="col-12"></span>
                  <span *ngIf="allowedEmissionSources[9] != undefined" class="col-3 mb-3 mt-3">Scope </span>
                  <span *ngIf="allowedEmissionSources[9] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[9].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
                </nb-list-item>

                <nb-list-item class="row w-100 mb-3">
                  <span class="col-4 mb- 3 mt-3">Company Owned Vehicles</span>
                  <span class="col-8 mb- 3 mt-3"><mat-checkbox class="example-margin" (change)="onChangeEmissionSrc($event,10)" [(ngModel)]="emissionSources[9]"></mat-checkbox></span>
                  <span class="col-12"></span>
                  <span *ngIf="allowedEmissionSources[10] != undefined" class="col-3">
                Category
              </span >
                  <span *ngIf="allowedEmissionSources[10] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 10)" [(ngModel)]="allowedEmissionSources[10].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
                  <span *ngIf="allowedEmissionSources[10] != undefined" class="col-3">
                Classification
              </span >
                  <span *ngIf="allowedEmissionSources[10] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 10)" [(ngModel)]="allowedEmissionSources[10].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >
                  <span class="col-12"></span>

                  <span *ngIf="allowedEmissionSources[10] != undefined" class="col-3 mb-3 mt-3">Scope </span>
                  <span *ngIf="allowedEmissionSources[10] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[10].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>


                </nb-list-item>

              </nb-list>
            </nb-list-item>



            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">Waste transport</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,16)" [(ngModel)]="pages[16]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[19] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[19] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 19)" [(ngModel)]="allowedEmissionSources[19].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span  *ngIf="allowedEmissionSources[19] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[19] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 19)" [(ngModel)]="allowedEmissionSources[19].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >

              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[19] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[19] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[19].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

            </nb-list-item>



            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">Transport Locally purchased</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,17)" [(ngModel)]="pages[17]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[3] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[3] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 3)" [(ngModel)]="allowedEmissionSources[3].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[3] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[3] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 3)" [(ngModel)]="allowedEmissionSources[3].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >

              <span  class="col-12"></span>
              <span *ngIf="allowedEmissionSources[3] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[3] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[3].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>
            </nb-list-item>



            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">Generators</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,10)" [(ngModel)]="pages[10]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[6] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[6] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 6)" [(ngModel)]="allowedEmissionSources[6].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[6] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[6] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 6)" [(ngModel)]="allowedEmissionSources[6].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >

              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[6] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[6] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[6].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

            </nb-list-item>



            <nb-list-item class="row w-100 mb-3">
              <span class="col-3 mb-3 mt-3">Freight Transport</span>
              <span class="col-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,18)" [(ngModel)]="pages[18]"></mat-checkbox></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

              <nb-list *ngIf="pages[18]" class="ml-3">
                <nb-list-item class="row w-100 mb-3">
                  <span class="col-4 mb- 3 mt-3">Sea Freight</span>
                  <span class="col-8 mb- 3 mt-3"><mat-checkbox class="example-margin" (change)="onChangeEmissionSrc($event, 2)" [(ngModel)]="emissionSources[1]"></mat-checkbox></span>

                  <span class="col-12"></span>
                  <span *ngIf="allowedEmissionSources[2] != undefined" class="col-3">
                Category
              </span >
                  <span *ngIf="allowedEmissionSources[2] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 2)" [(ngModel)]="allowedEmissionSources[2].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
                  <span *ngIf="allowedEmissionSources[2] != undefined" class="col-3">
                Classification
              </span >
                  <span *ngIf="allowedEmissionSources[2] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 2)" [(ngModel)]="allowedEmissionSources[2].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >

                  <span *ngIf="allowedEmissionSources[2] != undefined" class="col-3 mb-3 mt-3">Scope </span>
                  <span *ngIf="allowedEmissionSources[2] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[2].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>

                  <span class="col-12"></span>

                </nb-list-item>
                <nb-list-item class="row w-100 mb-3">
                  <span class="col-4 mb- 3 mt-3">Air Freight</span>
                  <span class="col-8 mb- 3 mt-3"><mat-checkbox class="example-margin" (change)="onChangeEmissionSrc($event,1)" [(ngModel)]="emissionSources[0]"></mat-checkbox></span>

                  <span class="col-12"></span>
                  <span *ngIf="allowedEmissionSources[1] != undefined" class="col-3">
                Category
              </span >
                  <span *ngIf="allowedEmissionSources[1] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 1)" [(ngModel)]="allowedEmissionSources[1].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
                  <span *ngIf="allowedEmissionSources[1] != undefined" class="col-3">
                Classification
              </span >
                  <span *ngIf="allowedEmissionSources[1] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 1)" [(ngModel)]="allowedEmissionSources[1].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >

                  <span *ngIf="allowedEmissionSources[1] != undefined" class="col-3 mb-3 mt-3">Scope </span>
                  <span *ngIf="allowedEmissionSources[1] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[1].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
                  <span class="col-12"></span>

                </nb-list-item>
              </nb-list>
            </nb-list-item>



            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">Bio Mass</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,19)" [(ngModel)]="pages[19]"></mat-checkbox></span>


              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[21] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[21] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 21)" [(ngModel)]="allowedEmissionSources[21].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[21] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[21] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 21)" [(ngModel)]="allowedEmissionSources[21].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >

              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[21] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[21] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[21].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

            </nb-list-item>

<!--LP Gas-->

            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">LP Gas</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,20)" [(ngModel)]="pages[20]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[20] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[20] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 20)" [(ngModel)]="allowedEmissionSources[20].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[20] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[20] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 20)" [(ngModel)]="allowedEmissionSources[20].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >

              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[20] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[20] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[20].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

            </nb-list-item>

            <!--Bio Gas ////NEW NEW NEW-->
            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">Bio Gas</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,34)" [(ngModel)]="pages[34]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[38] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[38] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 38)" [(ngModel)]="allowedEmissionSources[38].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[38] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[38] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 38)" [(ngModel)]="allowedEmissionSources[38].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >

              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[38] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[38] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[38].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

            </nb-list-item>
            <!--Bio Gas ////NEW NEW NEW-->

            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">Ash Transportation</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,21)" [(ngModel)]="pages[21]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[22] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[22] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 22)" [(ngModel)]="allowedEmissionSources[22].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[22] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[22] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 22)" [(ngModel)]="allowedEmissionSources[22].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >

              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[22] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[22] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[22].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

            </nb-list-item>

            <nb-list-item class="row w-100 mb-3">
              <span class="col-3 mb-3 mt-3">Forklifts</span>
              <span class="col-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,22)" [(ngModel)]="pages[22]"></mat-checkbox></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

              <nb-list *ngIf="pages[22]" class="ml-3">
                <nb-list-item class="row w-100 mb-3">
                  <span class="col-4 mb- 3 mt-3">Forklifts-Petrol</span>
                  <span class="col-8 mb- 3 mt-3"><mat-checkbox class="example-margin" (change)="onChangeEmissionSrc($event, 23)" [(ngModel)]="emissionSources[22]"></mat-checkbox></span>

                  <span class="col-12"></span>
                  <span *ngIf="allowedEmissionSources[23] != undefined" class="col-3">
                Category
              </span >
                  <span *ngIf="allowedEmissionSources[23] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 23)" [(ngModel)]="allowedEmissionSources[23].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
                  <span *ngIf="allowedEmissionSources[23] != undefined" class="col-3">
                Classification
              </span >
                  <span *ngIf="allowedEmissionSources[23] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 23)" [(ngModel)]="allowedEmissionSources[23].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >
                  <span *ngIf="allowedEmissionSources[23] != undefined" class="col-12"></span>

                  <span *ngIf="allowedEmissionSources[23] != undefined" class="col-3 mb-3 mt-3">Scope </span>
                  <span *ngIf="allowedEmissionSources[23] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[23].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>

                </nb-list-item>
                <nb-list-item class="row w-100 mb-3">
                  <span class="col-4 mb- 3 mt-3">Forklifts-Diesel</span>
                  <span class="col-8 mb- 3 mt-3"><mat-checkbox class="example-margin" (change)="onChangeEmissionSrc($event,24)" [(ngModel)]="emissionSources[23]"></mat-checkbox></span>

                  <span class="col-12"></span>
                  <span *ngIf="allowedEmissionSources[24] != undefined" class="col-3">
                Category
              </span >
                  <span *ngIf="allowedEmissionSources[24] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 24)" [(ngModel)]="allowedEmissionSources[24].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
                  <span *ngIf="allowedEmissionSources[24] != undefined" class="col-3">
                Classification
              </span >
                  <span *ngIf="allowedEmissionSources[24] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 24)" [(ngModel)]="allowedEmissionSources[24].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >

                  <span *ngIf="allowedEmissionSources[24] != undefined" class="col-3 mb-3 mt-3">Scope </span>
                  <span *ngIf="allowedEmissionSources[24] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[24].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>

                  <span class="col-12"></span>

                </nb-list-item>
              </nb-list>
            </nb-list-item>

            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">Furnace Oil</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,23)" [(ngModel)]="pages[23]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[25] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[25] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 25)" [(ngModel)]="allowedEmissionSources[25].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[25] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[25] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 25)" [(ngModel)]="allowedEmissionSources[25].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >

              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[25] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[25] != undefined" class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[25].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

            </nb-list-item>

            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">Lorry Transportation</span>
              <span class="col-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,24)" [(ngModel)]="pages[24]"></mat-checkbox></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

              <nb-list *ngIf="pages[24]" class="ml-3">
                <nb-list-item class="row w-100 mb-3">
                  <span class="col-4 mb- 3 mt-3">Lorry Transportation Internal</span>
                  <span class="col-8 mb- 3 mt-3"><mat-checkbox class="example-margin" (change)="onChangeEmissionSrc($event, 26)" [(ngModel)]="emissionSources[25]"></mat-checkbox></span>

                  <span class="col-12"></span>
                  <span *ngIf="allowedEmissionSources[26] != undefined" class="col-3">
                Category
              </span >
                  <span  *ngIf="allowedEmissionSources[26] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 26)" [(ngModel)]="allowedEmissionSources[26].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
                  <span   *ngIf="allowedEmissionSources[26] != undefined" class="col-3">
                Classification
              </span >
                  <span  *ngIf="allowedEmissionSources[26] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 26)" [(ngModel)]="allowedEmissionSources[26].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >

                  <span *ngIf="allowedEmissionSources[26] != undefined" class="col-3 mb-3 mt-3">Scope </span>
                  <span *ngIf="allowedEmissionSources[26] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[26].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>

                  <span class="col-12"></span>

                </nb-list-item>
                <nb-list-item class="row w-100 mb-3">
                  <span class="col-4 mb- 3 mt-3">Lorry Transportation External</span>
                  <span class="col-8 mb- 3 mt-3"><mat-checkbox class="example-margin" (change)="onChangeEmissionSrc($event,27)" [(ngModel)]="emissionSources[26]"></mat-checkbox></span>

                  <span class="col-12"></span>
                  <span  *ngIf="allowedEmissionSources[27] != undefined" class="col-3">
                Category
              </span >
                  <span *ngIf="allowedEmissionSources[27] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 27)" [(ngModel)]="allowedEmissionSources[27].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
                  <span *ngIf="allowedEmissionSources[27] != undefined" class="col-3">
                Classification
              </span >
                  <span  *ngIf="allowedEmissionSources[27] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 27)" [(ngModel)]="allowedEmissionSources[27].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
              </span >

                  <span *ngIf="allowedEmissionSources[27] != undefined" class="col-3 mb-3 mt-3">Scope </span>
                  <span *ngIf="allowedEmissionSources[27] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[27].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>

                  <span class="col-12"></span>

                </nb-list-item>
              </nb-list>

            </nb-list-item>

            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">Paid Manager Vehicle</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,26)" [(ngModel)]="pages[26]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[28] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[28] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 28)" [(ngModel)]="allowedEmissionSources[28].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[28] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[28] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 28)" [(ngModel)]="allowedEmissionSources[28].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >



              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[28] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[28] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[28].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

            </nb-list-item>

            <nb-list-item class="row w-100 mb-3">
              <span class="col-3 mb-3 mt-3">Paper Waste</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,27)" [(ngModel)]="pages[27]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[29] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[29] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 29)" [(ngModel)]="allowedEmissionSources[29].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[29] != undefined" class="col-3">
                Classification
              </span >
              <span  *ngIf="allowedEmissionSources[29] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 29)" [(ngModel)]="allowedEmissionSources[29].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >

              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[29] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[29] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[29].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>

            </nb-list-item>

            <nb-list-item *ngIf="allowedEmissionSources[30] != undefined" class="row w-100 mb-3">
              <span class="col-3 mb-3 mt-3">Oil and Gas Transportation</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,25)" [(ngModel)]="pages[25]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[30] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[30] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 30)" [(ngModel)]="allowedEmissionSources[30].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[30] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[30] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 30)" [(ngModel)]="allowedEmissionSources[30].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >

              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[30] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[30] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[30].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>


            </nb-list-item>

            <nb-list-item *ngIf="allowedEmissionSources[31] != undefined" class="row w-100 mb-3">
              <span class="col-3 mb-3 mt-3">Raw Material Transportation (Locally)</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,28)" [(ngModel)]="pages[28]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[31] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[31] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 31)" [(ngModel)]="allowedEmissionSources[31].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[31] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[31] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 31)" [(ngModel)]="allowedEmissionSources[31].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >

              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[31] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[31] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[31].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>


            </nb-list-item>

            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">Saw Dust Transportation</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,29)" [(ngModel)]="pages[29]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[34] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[34] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 34)" [(ngModel)]="allowedEmissionSources[34].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[34] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[34] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 34)" [(ngModel)]="allowedEmissionSources[34].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >

              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[34] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[34] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[34].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>


            </nb-list-item>

            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">Sludge Transportation</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,30)" [(ngModel)]="pages[30]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[32] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[32] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 32)" [(ngModel)]="allowedEmissionSources[32].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[32] != undefined" class="col-3">
                Classification
              </span >
              <span  *ngIf="allowedEmissionSources[32] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 32)" [(ngModel)]="allowedEmissionSources[32].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >

              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[32] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[32] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[32].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>



            </nb-list-item>


<!--            Raw Material Transportation-->
            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">Raw Material Transportation</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,28)" [(ngModel)]="pages[28]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[31] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[31] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 31)" [(ngModel)]="allowedEmissionSources[31].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[31] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[31] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 31)" [(ngModel)]="allowedEmissionSources[31].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >

              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[31] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[31] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[31].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>



            </nb-list-item>

<!--            Oil and gas transportation-->
            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">Oil and Gas Transportation</span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,25)" [(ngModel)]="pages[25]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[30] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[30] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 30)" [(ngModel)]="allowedEmissionSources[30].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[30] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[30] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 30)" [(ngModel)]="allowedEmissionSources[30].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >

              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[30] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[30] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[30].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>



            </nb-list-item>

            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">Staff Transportation </span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,31)" [(ngModel)]="pages[31]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[33] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[33] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 33)" [(ngModel)]="allowedEmissionSources[33].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[33] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[33] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 33)" [(ngModel)]="allowedEmissionSources[33].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >

              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[33] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[33] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[33].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>



            </nb-list-item>

            <nb-list-item  class="row w-100 mb-3">
              <span class="col-6">Vehicle Others </span>
              <span class="col-3 mb-3 mt-3"><mat-checkbox class="example-margin" (change)="onChangePageMenu($event,32)" [(ngModel)]="pages[32]"></mat-checkbox></span>
              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[35] != undefined" class="col-3">
                Category
              </span >
              <span *ngIf="allowedEmissionSources[35] != undefined" class="col-3">
                <mat-select  (selectionChange)="onChangeCategory($event.value, 35)" [(ngModel)]="allowedEmissionSources[35].catId"  placeholder="Select Category" >
              <mat-option  *ngFor="let a of emissionCategories" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >
              <span *ngIf="allowedEmissionSources[35] != undefined" class="col-3">
                Classification
              </span >
              <span *ngIf="allowedEmissionSources[35] != undefined" class="col-3">
                 <mat-select  (selectionChange)="onChangeClassification($event.value, 35)" [(ngModel)]="allowedEmissionSources[35].direct"  placeholder="Select Classification" >
              <mat-option  *ngFor="let a of directOptions" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span >

              <span class="col-12"></span>
              <span *ngIf="allowedEmissionSources[35] != undefined" class="col-3 mb-3 mt-3">Scope </span>
              <span *ngIf="allowedEmissionSources[35] != undefined"  class="col-3 mb-3 mt-3">
                 <mat-select   [(ngModel)]="allowedEmissionSources[35].scopeId"  placeholder="Select Scope" >
              <mat-option  *ngFor="let a of scopes" [value]="a.id">
                {{a.name}}
              </mat-option>
             </mat-select>
              </span>
              <span class="col-9"></span>
              <span class="col-3"><button class="btn btn-primary" (click)="updateMenus()">Save</button></span>



            </nb-list-item>


          </nb-list>


        </div>
      </nb-card-body>
      <!--<nb-card-footer >-->
      <!--<div class="row justify-content-end">-->
      <!--<button class="btn btn-primary" (click)="onClickSaveAll()">Save</button>-->
      <!--</div>-->
      <!--</nb-card-footer>-->
    </nb-card>
  </div>
</div>

