<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          Emission Calculations
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div class="card-body " style="max-height: 400px; overflow: scroll;">
      <!-- Total Energy calculation -->
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Equation
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-center font-weight-bold">
          <i>TE = ((W) /1000) X  NCV<sub>BG</sub> </i>


        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>TE = Total energy (TJ)  </p>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>W = Weight (kg)  </p>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>NCV<sub>BG</sub> = Net Calorific Value of Biogas (TJ/tons) </p>
        </div>
      </div>


      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Substitution
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <i>
            W = {{popupData.data.emissionDetails.quantity * 1000}} kg </i>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <i>NCV<sub>BG</sub> = {{popupData.data.emissionDetails.ncv}} TJ/tons </i>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <i>TE = (({{popupData.data.emissionDetails.quantity * 1000}} ) /1000) X {{popupData.data.emissionDetails.density}} X {{popupData.data.emissionDetails.ncv}}   </i>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <i>TE = {{popupData.data.emissionDetails.te}} TJ  </i>
        </div>
      </div>

      <!--      Emission calculation-->

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Equation
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-center font-weight-bold">
          <i>E = (((EF<sub>CO<sub>2</sub>,M,Biogas</sub> X GWP<sub>CO<sub>2</sub></sub>) + (EF<sub>CH<sub>4</sub>,M,Biogas</sub> X GWP<sub>CH<sub>4</sub></sub>) + (EF<sub>N<sub>2</sub>O,M,Biogas</sub> X GWP<sub>N<sub>2</sub>O</sub>)) / 1000 X TE) </i>


        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>E = Emissions (tCO<sub>2</sub>e)  </p>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>EF<sub>CO<sub>2</sub>,M,Biogas</sub> = Emission factor for CO<sub>2</sub> from mobile combustion of fuel Biogas (kg CO<sub>2</sub>/ TJ)  </p>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>EF<sub>CH<sub>4</sub>,M,Biogas</sub> = Emission factor for CH<sub>4</sub> from mobile combustion of fuel Biogas (kg CO<sub>2</sub>/ TJ)  </p>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>EF<sub>N<sub>2</sub>O,M,Biogas</sub> = Emission factor for N<sub>2</sub>O from mobile combustion of fuel Biogas (kg CO<sub>2</sub>/ TJ)  </p>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>GWP<sub>CO<sub>2</sub></sub> = Global warming potential for CO<sub>2</sub>  </p>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>GWP<sub>CH<sub>4</sub></sub> = Global warming potential for CH<sub>4</sub>  </p>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>GWP<sub>N<sub>2</sub>O</sub> = Global warming potential for N<sub>2</sub>O  </p>
        </div>
      </div>



      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Substitution
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <i>EF<sub>CO<sub>2</sub>,M,Biogas</sub> = {{popupData.data.emissionDetails.efCO2}} kg CO<sub>2</sub>/ TJ  </i>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <i>EF<sub>CH<sub>4</sub>,M,Biogas</sub> = {{popupData.data.emissionDetails.efCH4}} kg CO<sub>2</sub>/ TJ  </i>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <i>EF<sub>N<sub>2</sub>O,M,Biogas</sub> = {{popupData.data.emissionDetails.efN20}} kg CO<sub>2</sub>/ TJ  </i>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <i>GWP<sub>CO<sub>2</sub></sub> = {{popupData.data.emissionDetails.gwp_co2}}  </i>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <i>GWP<sub>CH<sub>4</sub></sub> = {{popupData.data.emissionDetails.gwp_ch4}}  </i>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <i>GWP<sub>N<sub>2</sub>O</sub> = {{popupData.data.emissionDetails.gwp_n20}}  </i>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <i>E = ((({{popupData.data.emissionDetails.efCO2}} X {{popupData.data.emissionDetails.gwp_co2}}) + ({{popupData.data.emissionDetails.efCH4}} X {{popupData.data.emissionDetails.gwp_ch4}}) + ({{popupData.data.emissionDetails.efN20}} X {{popupData.data.emissionDetails.gwp_n20}})) / 1000 X {{popupData.data.emissionDetails.te}}) </i>

        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <i>E = {{popupData.data.emissionDetails.tco2}}  </i>
        </div>
      </div>

    </div>
  </div>
</div>
