<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{renderValue}}</button>
      <div *ngIf="statusList.length !== 0"  ngbDropdownMenu aria-labelledby="dropdownBasic1" >
        <button ngbDropdownItem *ngFor="let s of statusList" (click)="onClickChangeStatus(s.value)">{{s.status}}</button>
      </div>
    </div>
  </div>
