<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          {{popupData.header}}
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div class="card-body with-bottom-buttons">

      <div class="row mb-3 pr-2 pl-1">
        <div class="col-3"><label>Company</label></div>
        <div class="col-3">
          <mat-select (selectionChange)="onChangeCompany($event)" placeholder="Select Company" (selectionChange)="onChangeCompany($event.value)" [(ngModel)]="jsonBody.companyId">
            <input  class="form-control w-100" placeholder="Search Branch" (keyup)="onSearchBranch($event.target.value)">
            <mat-option  *ngFor="let c of companies" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-3"><label>Branch</label></div>
        <div class="col-3">
          <mat-select ((selectionChange)="onChangeBranch($event.value)" placeholder="Select Branch"  [(ngModel)]="jsonBody.branchId">
            <input  class="form-control w-100" placeholder="Search Branch" (keyup)="onSearchBranch($event.target.value)">

            <mat-option *ngFor="let c of branches" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
      </div>

      <div class="row mb-3 pr-2 pl-1">
        <div class="col-4 d-flex justify-content-center"><input placeholder="Employee Name" type="text" [(ngModel)]="jsonBody.empId"  class="form-control-sm w-100 no-radius" ></div>
        <div class="col-4 d-flex justify-content-center">
          <mat-select (selectionChange)="onChangeMonth($event)" placeholder="Select Month" [(ngModel)]="jsonBody.month">
            <mat-option *ngFor="let a of months" [value]="a.id">
              {{a.name}}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <mat-select placeholder="Select Year" [(ngModel)]="jsonBody.year">
            <mat-option *ngFor="let a of years" [value]="a">
              {{a}}
            </mat-option>
          </mat-select>
        </div>
      </div>

      <div class="row mb-3 pr-2 pl-1">
        <div class="col-4"><mat-checkbox  class="example-margin" [(ngModel)]="this.showDirectMode">Direct Data Entry</mat-checkbox></div>
      </div>



      <div *ngIf="showDirectMode" class="row card ml-2 mr-2 pr-0 pl-1">
        <nb-list class="row w-100">
          <nb-list-item *ngIf="tabNum === 1" class="w-100 row">
            <span class="col-6 d-flex font-weight-bold">Company Transport : Petrol(Liters)</span>

            <span class="col-6  d-flex  ">
              <input type="number" [(ngModel)]="jsonBody.companyPetrolLiters"  class="form-control-sm w-100 no-radius" >
            </span>
          </nb-list-item>

          <nb-list-item *ngIf="tabNum === 1" class="w-100 row">
            <span class="col-6 d-flex font-weight-bold">Company Transport : Diesel(Liters)</span>

            <span class="col-6  d-flex  ">
              <input type="number" [(ngModel)]="jsonBody.companyDieselLiters"  class="form-control-sm w-100 no-radius" >
            </span>
          </nb-list-item>

          <nb-list-item *ngIf="tabNum === 1" class="w-100 row">
            <span class="col-6 d-flex font-weight-bold">Own Transport : Petrol(Liters)</span>

            <span class="col-6  d-flex  ">
              <input type="number" [(ngModel)]="jsonBody.ownPetrolLiters"  class="form-control-sm w-100 no-radius" >
            </span>
          </nb-list-item>

          <nb-list-item *ngIf="tabNum === 1" class="w-100 row">
            <span class="col-6 d-flex font-weight-bold">Own Transport : Diesel(Liters)</span>

            <span class="col-6  d-flex  ">
              <input type="number" [(ngModel)]="jsonBody.ownDieselLiters"  class="form-control-sm w-100 no-radius" >
            </span>
          </nb-list-item>
        </nb-list>
      </div>

      <div *ngIf="!showDirectMode" class="row mb-3 pr-2 pl-1">
        <div class="col-4"><mat-checkbox (change)="onChangePaid($event)" class="example-margin" [(ngModel)]="jsonBody.paidByCom">Paid by Company</mat-checkbox></div>
        <div class="col-4"><mat-checkbox (change)="onChangeTwoway($event)"  class="example-margin" [(ngModel)]="jsonBody.isTwoWay">Two way </mat-checkbox></div>
        <div class="col-2"><label>Working Days</label></div>
        <div class="col-2"><input type="number" [(ngModel)]="jsonBody.noOfWorkingDays"  class="form-control-sm w-100 no-radius" ></div>
      </div>
      <div *ngIf="!showDirectMode" class="row card ml-2 mr-2 pr-0 pl-1">
        <nb-list class="row w-100">
          <nb-list-item class="w-100 row">
            <span class="col-3  d-flex align-items-center font-weight-bold"></span>
            <span class="col-2  d-flex align-items-center font-weight-bold">Mode</span>
            <span class="col-2  d-flex align-items-center font-weight-bold">Fuel</span>
            <span class="col-3  d-flex align-items-center font-weight-bold">Fuel Economy(km/l)</span>
            <span class="col-2  d-flex align-items-center font-weight-bold">Distance</span>
          </nb-list-item>
          <!--<nb-list-item *ngIf="tabNum === 1" class="w-100 row">-->
          <!--<span class="col-12  d-flex align-items-center font-weight-bold">No Emission Up</span>-->
          <!--</nb-list-item>-->
          <nb-list-item *ngIf="tabNum === 1" class="w-100 row">
            <span class="col-3 d-flex font-weight-bold">No Emission Up</span>
            <span class="col-2  d-flex  ">
              <mat-select placeholder="Select Mode" [(ngModel)]="jsonBody.noEmissionMode_UP">
                <mat-option *ngFor="let a of noEmissionOptions" [value]="a.id">
                  {{a.name}}
                </mat-option>
              </mat-select>
            </span>
            <span class="col-2  d-flex  ">
              <!--<mat-select placeholder="" [(ngModel)]="jsonBody.month">-->
              <!--<mat-option *ngFor="let a of months" [value]="a.id">-->
              <!--{{a.name}}-->
              <!--</mat-option>-->
              <!--</mat-select>-->
            </span>
            <span class="col-3  d-flex  ">
              <!--<input type="number" [(ngModel)]="jsonBody.noE"  class="form-control-sm w-100 no-radius" >-->
            </span>
            <span class="col-2  d-flex  ">
              <input type="number" [(ngModel)]="jsonBody.noEmission_distance_UP"  class="form-control-sm w-100 no-radius" >
            </span>
          </nb-list-item>
          <!--<nb-list-item *ngIf="jsonBody.isTwoWay && tabNum === 1" class="w-100 row">-->
          <!--<span class="col-12  d-flex align-items-center font-weight-bold">No Emission Down</span>-->
          <!--</nb-list-item>-->
          <nb-list-item *ngIf="jsonBody.isTwoWay && tabNum === 1"  class="w-100 row">
            <span class="col-3 d-flex font-weight-bold">No Emission Down</span>
            <span class="col-2  d-flex  ">
              <mat-select placeholder="Select Mode" [(ngModel)]="jsonBody.noEmissionMode_DOWN">
                <mat-option *ngFor="let a of noEmissionOptions" [value]="a.id">
                  {{a.name}}
                </mat-option>
              </mat-select>
            </span>
            <span class="col-2  d-flex  ">
              <!--<mat-select placeholder="" [(ngModel)]="jsonBody.month">-->
              <!--<mat-option *ngFor="let a of months" [value]="a.id">-->
              <!--{{a.name}}-->
              <!--</mat-option>-->
              <!--</mat-select>-->
            </span>
            <span class="col-3  d-flex  ">
              <!--<input type="number" [(ngModel)]="jsonBody.noE"  class="form-control-sm w-100 no-radius" >-->
            </span>
            <span class="col-2  d-flex  ">
              <input type="number" [(ngModel)]="jsonBody.noEmission_distance_DOWN"  class="form-control-sm w-100 no-radius" >
            </span>
          </nb-list-item>
          <!--<nb-list-item *ngIf="tabNum === 2" class="w-100 row">-->
          <!--<span class="col-12  d-flex align-items-center font-weight-bold">Public Transport Up</span>-->
          <!--</nb-list-item>-->
          <nb-list-item *ngIf="tabNum === 2" class="w-100 row">
            <span class="col-3 d-flex font-weight-bold">Public Transport Up</span>
            <span class="col-2  d-flex  ">
              <mat-select placeholder="Select Mode" [(ngModel)]="jsonBody.publicTransMode_UP">
                <mat-option *ngFor="let a of pubTransOptions" [value]="a.id">
                  {{a.name}}
                </mat-option>
              </mat-select>
            </span>
            <span class="col-2  d-flex  ">
              <!--<mat-select placeholder="" [(ngModel)]="jsonBody.month">-->
              <!--<mat-option *ngFor="let a of months" [value]="a.id">-->
              <!--{{a.name}}-->
              <!--</mat-option>-->
              <!--</mat-select>-->
            </span>
            <span class="col-3  d-flex  ">
              <!--<input type="number" [(ngModel)]="jsonBody.noE"  class="form-control-sm w-100 no-radius" >-->
            </span>
            <span class="col-2  d-flex  ">
              <input type="number" [(ngModel)]="jsonBody.publicTrans_distance_UP"  class="form-control-sm w-100 no-radius" >
            </span>
          </nb-list-item>
          <!--<nb-list-item *ngIf="jsonBody.isTwoWay && tabNum === 2" class="w-100 row">-->
          <!--<span class="col-12  d-flex align-items-center font-weight-bold">Public Transport Down</span>-->
          <!--</nb-list-item>-->
          <nb-list-item *ngIf="jsonBody.isTwoWay && tabNum === 2" class="w-100 row">
            <span class="col-3 d-flex font-weight-bold">Public Transport Down</span>
            <span class="col-2  d-flex  ">
              <mat-select placeholder="Select Mode" [(ngModel)]="jsonBody.publicTransMode_DOWN">
                <mat-option *ngFor="let a of pubTransOptions" [value]="a.id">
                  {{a.name}}
                </mat-option>
              </mat-select>
            </span>
            <span class="col-2  d-flex  ">
              <!--<mat-select placeholder="" [(ngModel)]="jsonBody.month">-->
              <!--<mat-option *ngFor="let a of months" [value]="a.id">-->
              <!--{{a.name}}-->
              <!--</mat-option>-->
              <!--</mat-select>-->
            </span>
            <span class="col-3  d-flex  ">
              <!--<input type="number" [(ngModel)]="jsonBody.noE"  class="form-control-sm w-100 no-radius" >-->
            </span>
            <span class="col-2  d-flex  ">
              <input type="number" [(ngModel)]="jsonBody.publicTrans_distance_DOWN"  class="form-control-sm w-100 no-radius" >
            </span>
          </nb-list-item>
          <!--<nb-list-item *ngIf="tabNum === 3" class="w-100 row">-->
          <!--<span class="col-12  d-flex align-items-center font-weight-bold">Own Transport Up</span>-->
          <!--</nb-list-item>-->
          <nb-list-item *ngIf="tabNum === 3" class="w-100 row">
            <span class="col-3 d-flex font-weight-bold">Own Transport Up</span>
            <span class="col-2  d-flex  ">
              <mat-select placeholder="Select Mode" [(ngModel)]="jsonBody.ownTransMode_UP">
                <mat-option *ngFor="let a of ownTransOptions" [value]="a.id">
                  {{a.name}}
                </mat-option>
              </mat-select>
            </span>
            <span class="col-2  d-flex  ">
              <mat-select placeholder="Select Fuel" [(ngModel)]="jsonBody.ownTrans_fuelType_UP">
              <mat-option *ngFor="let a of fuels" [value]="a.id">
              {{a.name}}
              </mat-option>
              </mat-select>
            </span>
            <span class="col-3  d-flex  ">
              <input type="number" [(ngModel)]="jsonBody.ownTrans_fuelEconomy_UP"  class="form-control-sm w-100 no-radius" >
            </span>
            <span class="col-2  d-flex  ">
              <input type="number" [(ngModel)]="jsonBody.ownTrans_distance_UP"  class="form-control-sm w-100 no-radius" >
            </span>
          </nb-list-item>
          <!--<nb-list-item *ngIf="jsonBody.isTwoWay && tabNum === 3" class="w-100 row">-->
          <!--<span class="col-12  d-flex align-items-center font-weight-bold">Own Transport Down</span>-->
          <!--</nb-list-item>-->
          <nb-list-item *ngIf="jsonBody.isTwoWay && tabNum === 3" class="w-100 row">
            <span class="col-3 d-flex font-weight-bold">Own Transport Down</span>
            <span class="col-2  d-flex  ">
              <mat-select placeholder="Select Mode" [(ngModel)]="jsonBody.ownTransMode_DOWN">
                <mat-option *ngFor="let a of ownTransOptions" [value]="a.id">
                  {{a.name}}
                </mat-option>
              </mat-select>
            </span>
            <span class="col-2  d-flex  ">
              <mat-select placeholder="Select Fuel" [(ngModel)]="jsonBody.ownTrans_fuelType_DOWN">
              <mat-option *ngFor="let a of fuels" [value]="a.id">
              {{a.name}}
              </mat-option>
              </mat-select>
            </span>
            <span class="col-3  d-flex  ">
              <input type="number" [(ngModel)]="jsonBody.ownTrans_fuelEconomy_DOWN"  class="form-control-sm w-100 no-radius" >
            </span>
            <span class="col-2  d-flex  ">
              <input type="number" [(ngModel)]="jsonBody.ownTrans_distance_DOWN"  class="form-control-sm w-100 no-radius" >
            </span>
          </nb-list-item>
        </nb-list>
        <div class="row w-100">
          <div class="col-10"></div>
          <div class="col-1 d-flex justify-content-end">
            <button class="btn" (click)="onClickPrev()"><nb-icon icon="arrow-ios-back-outline" pack="eva"></nb-icon></button>
          </div>
          <div class="col-1 d-flex justify-content-start">
            <button class="btn " (click)="onClickNext()"><nb-icon icon="arrow-ios-forward-outline" pack="eva"></nb-icon></button>
          </div>
        </div>
      </div>



    </div>
    <div  mat-dialog-actions class="card-footer mb-0">
      <div class="row  w-100">
        <div class="col w-100 pt-1 pb-0 pr-1 card-bottom-buttons d-flex justify-content-end">
          <!--<button class="btn btn-secondary mr-2 ml-2"  (click)="onClickCancel()"></button>-->
          <button class="btn btn-primary"  (click)="onClickSave()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
