<nb-layout windowMode>
  <nb-layout-header fixed>
    <ngx-header></ngx-header>
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar container" tag="menu-sidebar" responsive>
    <!--<div *ngIf="(userType === 1 || userType === 2) && projectStauts === 4" class="row" style=" width:100%; height:40px; padding:0px;">-->
      <!--<div *ngIf="remDays >=0" class="col-6 font-weight-bolder">Remaining Days</div>-->
      <!--<div *ngIf="remDays >=0" class="col-6 font-weight-bold">{{remDays}}</div>-->
      <!--<div *ngIf="remDays < 0" class="col-12">Project Expired</div>-->
    <!--</div>-->
    <ng-content class="row" select="nb-menu"></ng-content>
  </nb-sidebar>

  <nb-layout-column>
    <ng-content select="router-outlet"></ng-content>
  </nb-layout-column>

</nb-layout>
