<nb-card>
  <nb-card-header>
    <div> {{ py }}. All rights reserved </div>
    Emission Factors
  </nb-card-header>
  <nb-card-body>

    <div class="row w-100">
      <nb-list-item class="w-100 row">
        <div class="col-md-5 col-xs-5 font-weight-bold">Description</div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  font-weight-bold">Value</div>
        <div class="col-md-4 col-xs-4 font-weight-bold">Reference</div>
      </nb-list-item>
    </div>
    <div class="row w-100 mb-3 mt-3">
      <div class="col-12 font-weight-bold">Fuel Parameters</div>
    </div>
    <div class="row w-100">
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">Density of Petrol(t/m<sup>3</sup>)</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0  "> <input type="number" [(ngModel)]="emissionFactors.values.den_petrol"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.den_petrol"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(2)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">Density of Diesel(t/m<sup>3</sup>)</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.den_diesel"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.den_petrol"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(1)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 "> Net calorific value of Petrol(TJ/t)</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.net_caloric_petrol"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.net_caloric_petrol"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(4)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 "> Net calorific value of Diesel(TJ/t)</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.net_caloric_diesel"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.net_caloric_diesel"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(3)">Save</button></div>
      </nb-list-item>
      <!--<nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 "> Price of Petrol for Financial Year(LKR/Liter)-{{currentYear}}</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_petrol_liter"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_petrol_liter"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(39)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 "> Price of Diesel for Financial Year(LKR/Liter)-{{currentYear}}</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_diesel_liter"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_diesel_liter"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(38)">Save</button></div>
      </nb-list-item>

      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 "> Price of Petrol for Calender Year(LKR/Liter)-{{currentYear}}</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_petrol_liter_cal"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_petrol_liter_cal"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(41)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 "> Price of Diesel for Calender Year(LKR/Liter)-{{currentYear}}</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_diesel_liter_cal"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_diesel_liter_cal"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(40)">Save</button></div>
      </nb-list-item>-->
  

      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 "> Price of LP95 for Financial Year(LKR/Liter)-{{currentYear}}</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lp95_fh"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lp95_fh"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(39)">Save</button></div>
      </nb-list-item>

      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 " > Price of LP92 for Financial Year(LKR/Liter)-{{currentYear}}</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lp92_fh"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lp92_fh"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(75)">Save</button></div>
      </nb-list-item>

      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 "> Price of LAD for Financial Year(LKR/Liter)-{{currentYear}}</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lad_fh"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lad_fh"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(38)">Save</button></div>
      </nb-list-item>

      <nb-list-item class="item w-100 row d-flex align-items-center">
      
        <div class="col-md-5 col-xs-5 " > Price of LSD for Financial Year(LKR/Liter)-{{currentYear}}</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lsd_fh"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lsd_fh"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(74)">Save</button></div>
      </nb-list-item>

      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 "> Price of LP95 for Calender Year(LKR/Liter)-{{currentYear}}</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lp95_fh_cal"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lp95_fh_cal"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(41)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 "> Price of LP92 for Calender Year(LKR/Liter)-{{currentYear}}</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lp92_fh_cal"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lp92_fh_cal"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(77)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 "> Price of LAD for Calender Year(LKR/Liter)-{{currentYear}}</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lad_fh_cal"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lad_fh_cal"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(40)">Save</button></div>
      </nb-list-item>

      <!---newwly Added-->
    
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 " > Price of LSD for Calender Year(LKR/Liter)-{{currentYear}}</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lsd_fh_cal"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lsd_fh_cal"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(76)">Save</button></div>
      </nb-list-item>

      

      <nb-list-item class="item w-100 row d-flex align-items-center">
      
        <div class="col-md-5 col-xs-5 "> Price of LP95 for Financial Year(LKR/Liter)-{{py}}</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lp95_sh"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lp95_sh"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(78)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 " > Price of LP92 for Financial Year(LKR/Liter)-{{py}}</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lp92_sh"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lp92_sh"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(79)">Save</button></div>
      </nb-list-item>

      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 "> Price of LAD for Financial Year(LKR/Liter)-{{py}}</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lad_sh"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lad_sh"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(80)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 "> Price of LSD for Financial Year(LKR/Liter)-{{py}}</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lsd_sh"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lsd_sh"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(81)">Save</button></div>
      </nb-list-item>

      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 "> Price of LP95 for Calender Year(LKR/Liter)-{{py}}</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lp95_sh_cal"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lp95_sh_cal"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(82)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 " > Price of LP92 for Calender Year(LKR/Liter)-{{py}}</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lp92_sh_cal"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lp92_sh_cal"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(83)">Save</button></div>
      </nb-list-item>

      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 "> Price of LAD for Calender Year(LKR/Liter)-{{py}}</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lad_sh_cal"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lad_sh_cal"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(84)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 "> Price of LSD for Calender Year(LKR/Liter)-{{py}}</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lsd_sh_cal"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lsd_sh_cal"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(85)">Save</button></div>
      </nb-list-item>

      
<!---pyear-->
<nb-list-item class="item w-100 row d-flex align-items-center">
      
  <div class="col-md-5 col-xs-5 "> Price of LP95 for Financial Year(LKR/Liter)-{{ppy}}</div>
  <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lp95_p"/> </div>
  <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lp95_p"/></div>
  <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(86)">Save</button></div>
</nb-list-item>
<nb-list-item class="item w-100 row d-flex align-items-center">
  <div class="col-md-5 col-xs-5 " > Price of LP92 for Financial Year(LKR/Liter)-{{ppy}}</div>
  <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lp92_p"/> </div>
  <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lp92_p"/></div>
  <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(87)">Save</button></div>
</nb-list-item>

<nb-list-item class="item w-100 row d-flex align-items-center">
  <div class="col-md-5 col-xs-5 "> Price of LAD for Financial Year(LKR/Liter)-{{ppy}}</div>
  <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lad_p"/> </div>
  <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lad_p"/></div>
  <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(88)">Save</button></div>
</nb-list-item>
<nb-list-item class="item w-100 row d-flex align-items-center">
  <div class="col-md-5 col-xs-5 "> Price of LSD for Financial Year(LKR/Liter)-{{ppy}}</div>
  <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lsd_p"/> </div>
  <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lsd_p"/></div>
  <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(89)">Save</button></div>
</nb-list-item>

<nb-list-item class="item w-100 row d-flex align-items-center">
  <div class="col-md-5 col-xs-5 "> Price of LP95 for Calender Year(LKR/Liter)-{{ppy}}</div>
  <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lp95_p_cal"/> </div>
  <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lp95_p_cal"/></div>
  <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(90)">Save</button></div>
</nb-list-item>
<nb-list-item class="item w-100 row d-flex align-items-center">
  <div class="col-md-5 col-xs-5 " > Price of LP92 for Calender Year(LKR/Liter)-{{ppy}}</div>
  <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lp92_p_cal"/> </div>
  <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lp92_p_cal"/></div>
  <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(91)">Save</button></div>
</nb-list-item>

<nb-list-item class="item w-100 row d-flex align-items-center">
  <div class="col-md-5 col-xs-5 "> Price of LAD for Calender Year(LKR/Liter)-{{ppy}}</div>
  <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lad_p_cal"/> </div>
  <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lad_p_cal"/></div>
  <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(92)">Save</button></div>
</nb-list-item>
<nb-list-item class="item w-100 row d-flex align-items-center">
  <div class="col-md-5 col-xs-5 "> Price of LSD for Calender Year(LKR/Liter)-{{ppy}}</div>
  <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.price_lsd_p_cal"/> </div>
  <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.price_lsd_p_cal"/></div>
  <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(93)">Save</button></div>
</nb-list-item>





     


    </div>
    <div class="row w-100 mb-3 mt-3">
      <div class="col-12 font-weight-bold">Emission Factors for Gas of fuel of Stationary Combustion</div>
    </div>
    <div class="row w-100">
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission factor for CO2 of stationary combustion of Diesel</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.ef_co2_s_diesel"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_co2_s_diesel"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(5)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission factor for CH4 of stationary combustion of Diesel</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.ef_ch4_s_diesel"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_ch4_s_diesel"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(6)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission factor for N20 of stationary combustion of Diesel</div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.ef_n2o_s_diesel"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_n2o_s_diesel"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(7)">Save</button></div>
      </nb-list-item>
    </div>


    <div class="row w-100">
      <div class="col-12 font-weight-bold">Emission Factors for Gas of fuel of Mobile Combustion</div>
    </div>
    <div class="row w-100">
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission factor for CO2 of mobile combustion of Gasoline</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.ef_co2_m_gasoline"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_co2_m_gasoline"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(22)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission factor for CH4 of mobile combustion of Gasoline</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.ef_ch4_m_gasoline"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_ch4_m_gasoline"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(24)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission factor for N20 of mobile combustion of Gasoline</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.ef_n20_m_gasoline"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_n20_m_gasoline"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(26)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission factor for CO2 of mobile combustion of Diesel</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.ef_co2_m_diesel"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_co2_m_diesel"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(23)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission factor for CH4 of mobile combustion of Diesel</div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.ef_ch4_m_diesel"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_ch4_m_diesel"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(25)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission factor for N20 of mobile combustion of Diesel</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.ef_n20_m_diesel"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_n20_m_diesel"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(27)">Save</button></div>
      </nb-list-item>
    </div>
    <div class="row w-100 mb-3 mt-3">
      <div class="col-12 font-weight-bold">Emission Factors for Gas of fuel of Off-road Combustion</div>
    </div>
    <div class="row w-100">
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission factor for CO2 of off-road combustion of Gasoline</div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.ef_co2_o_gasoline"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_co2_o_gasoline"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(28)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission factor for CH4 of off-road combustion of Gasoline</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.ef_ch4_o_gasoline"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_ch4_o_gasoline"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(30)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission factor for N20 of off-road combustion of Gasoline</div>
        <div class="col-md-2 col-xs-2 pr-2  pl-0 ml-0   "><input type="number" [(ngModel)]="emissionFactors.values.ef_n20_o_gasoline"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_n20_o_gasoline"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(32)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission factor for CO2 of off-road combustion of Diesel</div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.ef_co2_o_diesel"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_co2_o_diesel"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(29)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission factor for CH4 of off-road combustion of Diesel</div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.ef_ch4_o_diesel"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_ch4_o_diesel"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(31)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission factor for N20 of off-road combustion of Diesel</div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.ef_n2o_o_diesel"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_n2o_o_diesel"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(33)">Save</button></div>
      </nb-list-item>
    </div>

    <div class="row w-100 mb-3 mt-3">
      <div class="col-12 font-weight-bold">Freight Transport</div>
    </div>
    <div class="row w-100">


      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission factor for CO<sub>2</sub> of Air Freight Range 1 (tCO<sub>2</sub>e/ TJ) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.ef_co2_air_freight_range1"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_co2_air_freight_range1"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(52)">Save</button></div>
      </nb-list-item>

      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission factor for CO<sub>2</sub> of Air Freight Range 2 (tCO<sub>2</sub>e/ TJ) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.ef_co2_air_freight_range2"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_co2_air_freight_range2"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(53)">Save</button></div>
      </nb-list-item>

      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission factor for CO<sub>2</sub> of Air Freight Range 3 (tCO<sub>2</sub>e/ TJ) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.ef_co2_air_freight_range3"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_co2_air_freight_range3"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(54)">Save</button></div>
      </nb-list-item>

      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission factor for CO<sub>2</sub> of Sea Freight  (tCO<sub>2</sub>e/ TJ) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.ef_co2_sea_freight"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_co2_sea_freight"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(55)">Save</button></div>
      </nb-list-item>

    </div>

    <div class="row w-100 mb-3 mt-3">
      <div class="col-12 font-weight-bold">Biomass</div>
    </div>
    <div class="row w-100">
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">   Net calorific value of Biomass(TJ/t) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.ncv_biomass"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ncv_biomass"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(56)">Save</button></div>
      </nb-list-item>

      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission factor for CO<sub>2</sub> of Biomass (tCO<sub>2</sub>e/TJ) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.ef_co2_biomass"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_co2_biomass"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(58)">Save</button></div>
      </nb-list-item>


      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">   Emission factor for CH<sub>4</sub> of Biomass (tCO<sub>2</sub>e/TJ) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.ef_ch4_biomass"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_ch4_biomass"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(57)">Save</button></div>
      </nb-list-item>

      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">    Emission factor for N<sub>2</sub>O of Biomass (tCO<sub>2</sub>e/TJ) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.ef_n20_biomass"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_n20_biomass"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(59)">Save</button></div>
      </nb-list-item>



    </div>


    <div class="row w-100 mb-3 mt-3">
      <div class="col-12 font-weight-bold">LP Gas</div>
    </div>
    <div class="row w-100">
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 "> Net calorific value of LP Gas(TJ/kg) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.ncv_lpgas"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ncv_lpgas"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(60)">Save</button></div>
      </nb-list-item>

      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission factor for CO<sub>2</sub> of LP Gas (tCO<sub>2</sub>e/TJ) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.ef_co2_lpgas"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_co2_lpgas"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(62)">Save</button></div>
      </nb-list-item>


      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">   Emission factor for CH<sub>4</sub> of LP Gas (tCO<sub>2</sub>e/TJ) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.ef_ch4_lpgas"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_ch4_lpgas"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(61)">Save</button></div>
      </nb-list-item>

      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 "> Emission factor for N<sub>2</sub>O of LP Gas (tCO<sub>2</sub>e/TJ) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.ef_n20_lpgas"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.ef_n20_lpgas"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(63)">Save</button></div>
      </nb-list-item>


    </div>






    <div class="row w-100 mb-3 mt-3">
      <div class="col-12 font-weight-bold">Other factors</div>
    </div>
    <div class="row w-100">
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">   Emission factor for grid electricity (tCO2e/ MWh) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.grid_ef"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.grid_ef"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(34)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 "> Transmission & distribution loss (%)</div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.t_d_loss_perc"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.t_d_loss_perc"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(35)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Conversion factor for municipal water (kWh/ m3) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.cf_mw"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.cf_mw"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(36)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 "> Average Feed rate of a pig per day (kg) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.avg_pig_feed_rate"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.avg_pig_feed_rate"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(37)">Save</button></div>
      </nb-list-item>
    </div>

    <div class="row w-100 mb-3 mt-3">
      <div class="col-12 font-weight-bold">Emission Intensity</div>
    </div>
    <div class="row w-100">
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission Intensity Finance Sector(tCO<sub>2</sub><sub>e</sub>/Million LKR) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.em_intensity_finance"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.em_intensity_finance"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(42)">Save</button></div>
      </nb-list-item>
      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission Intensity Telecommunication Sector(tCO<sub>2</sub><sub>e</sub>/Million LKR) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.em_intensity_tel"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.em_intensity_tel"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(43)">Save</button></div>
      </nb-list-item>

      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission Intensity Apparel Sector(tCO<sub>2</sub><sub>e</sub>/Million LKR) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.em_intensity_apparel"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.em_intensity_apparel"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(44)">Save</button></div>
      </nb-list-item>

      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission Intensity Hospitality Sector(tCO<sub>2</sub><sub>e</sub>/Million LKR) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.em_intensity_hospitality"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.em_intensity_hospitality"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(45)">Save</button></div>
      </nb-list-item>


      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission Intensity Plantation Sector(tCO<sub>2</sub><sub>e</sub>/Million LKR) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.em_intensity_plant"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.em_intensity_plant"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(46)">Save</button></div>
      </nb-list-item>

      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission Intensity Tranport Sector(tCO<sub>2</sub><sub>e</sub>/Million LKR) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.em_intensity_trans"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.em_intensity_trans"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(47)">Save</button></div>
      </nb-list-item>

      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission Intensity Food and Beverage Sector(tCO<sub>2</sub><sub>e</sub>/Million LKR) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.em_intensity_food"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.em_intensity_food"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(48)">Save</button></div>
      </nb-list-item>

      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission Intensity Manufacturing Sector(tCO<sub>2</sub><sub>e</sub>/Million LKR) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.em_intensity_manuf"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.em_intensity_manuf"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(49)">Save</button></div>
      </nb-list-item>

      <nb-list-item class="item w-100 row d-flex align-items-center">
        <div class="col-md-5 col-xs-5 ">  Emission Intensity Other Sector(tCO<sub>2</sub><sub>e</sub>/Million LKR) </div>
        <div class="col-md-2 col-xs-2 pr-2   pl-0 ml-0  "><input type="number" [(ngModel)]="emissionFactors.values.em_intensity_other"/> </div>
        <div class="col-md-4 col-xs-4 "><input type="text" class="w-100 " [(ngModel)]="emissionFactors.refs.em_intensity_other"/></div>
        <div class="col-md-1 col-xs-1"><button class="btn btn-primary" (click)="onUpdate(50)">Save</button></div>
      </nb-list-item>


    </div>
    <!--<div class="row w-100">-->
      <!--<ng2-smart-table [settings]="settings" [source]="source"-->
                       <!--(editConfirm) = "onUpdate($event)"-->


      <!--&gt;-->
      <!--</ng2-smart-table>-->
    <!--</div>-->
  </nb-card-body>
  <!--<nb-card-footer class="d-flex justify-content-end">-->
    <!--<button class="btn btn-primary">Save</button>-->
  <!--</nb-card-footer>-->
</nb-card>
