.rounded {
  border-radius: .30rem !important;
}

//h1 {
//  font-size: 2.5vw;
//}
//
//h2 {
//  font-size: 2.0vw;
//}
//
//@media(max-width: 768px) {
//  h1 {
//    font-size: 4.0vw;
//
//  }
//  h2 {
//    font-size: 4.0vw;
//  }
//}
