
  <div class="row w-100">
    <div class="col"><label class="label w-auto" for="input-email">Email address:</label></div>
  </div>
  <div class="row w-100">
    <div class="col-12 w-100">
      <input nbInput
             class="w-100 form-control"
             fullWidth
             [(ngModel)]="user.email"
             #email="ngModel"
             name="email"
             id="input-email"
             pattern=".+@.+\..+"
             placeholder="Email address"
             fieldSize="large"
             autofocus
             [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
             [required]="getConfigValue('forms.validation.email.required')"
             [attr.aria-invalid]="email.invalid && email.touched ? true : null">
    </div>
  </div>
  <div class="row w-100">
    <div class="col-12 w-100">
          <span class="label-with-link w-100">
              <label class="label" for="input-password">Password:</label>
              <a class="forgot-password caption-2" routerLink="../request-password">Forgot Password?</a>
            </span>
    </div>
  </div>
  <div class="row w-100">
    <div class="col-12 w-100">
      <input nbInput
             class="form-control w-100"
             fullWidth
             [(ngModel)]="user.password"
             #password="ngModel"
             name="password"
             type="password"
             id="input-password"
             placeholder="Password"
             fieldSize="large"
             [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
             [required]="getConfigValue('forms.validation.password.required')"
             [minlength]="getConfigValue('forms.validation.password.minLength')"
             [maxlength]="getConfigValue('forms.validation.password.maxLength')"
             [attr.aria-invalid]="password.invalid && password.touched ? true : null">
    </div>
    <div class="row w-100">
      <div class="col-12">
        <ng-container *ngIf="password.invalid && password.touched ">
          <p class="caption status-danger" *ngIf="password.errors?.required">
            Password is required!
          </p>
          <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
            Password should contain
            from {{ getConfigValue('forms.validation.password.minLength') }}
            to {{ getConfigValue('forms.validation.password.maxLength') }}
            characters
          </p>
        </ng-container>
      </div>

    </div>
  </div>
  <div class="row w-100">
    <div class="col-3 ">
      <div class="form-control-group accept-group">
        <nb-checkbox name="rememberMe" [(ngModel)]="rememberMe" >Remember me</nb-checkbox>
      </div>
    </div>
  </div>
  <div class="row w-100">
    <div class="col-12">
      <button class ="btn btn-primary"
              fullWidth
              status="primary"
              size="large"
              [disabled]="submitted || !form.valid"
              [class.btn-pulse]="submitted">
        Log In
      </button>
    </div>
  </div>
  <!--<nb-card class="shadow-lg rounded bg-white">-->
    <!--<nb-card-header>-->
      <!--Smart Carbon Calculator-->
    <!--</nb-card-header>-->
    <!--<nb-card-body class="container">-->
    <!---->

    <!--</nb-card-body>-->
  <!--</nb-card>-->

