<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          {{popupData.header}}
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div class="card-body with-bottom-buttons">

      <div class="row mb-3 pr-2 pl-1">
        <div class="col-3"><label>Company</label></div>
        <div class="col-3">
          <mat-select (selectionChange)="onChangeCompany($event)" [disabled]="!popupData.isNew" placeholder="Select Company"  [(ngModel)]="jsonBody.companyId">
            <mat-option *ngFor="let c of companies" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-3"><label>Project Name</label></div>
        <div class="col-3">
          <input type="text"  [(ngModel)]="jsonBody.name"  class="form-control-sm w-100 no-radius" >
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-3"><label>Start Date</label></div>
        <div class="col-3">
          <input [(ngModel)]="startDate" (dateTimeChange)="onStartDateChange($event)" style="max-width: 90px;" class="form-control-sm border-secondary" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3">
          <owl-date-time #dt3  [pickerType]="'calendar'"></owl-date-time>
        </div>
        <div class="col-3"><label>End Date</label></div>
        <div class="col-3">
          <input [(ngModel)]="endDate" (dateTimeChange)="onEndDateChange($event)" style="max-width: 90px;" class="form-control-sm border-secondary" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4">
          <owl-date-time #dt4  [pickerType]="'calendar'"></owl-date-time>
        </div>
      </div>
      <div *ngIf="!popupData.isNew" class="row mb-3 pr-2 pl-1">
         <div class="col-6">
           <mat-checkbox class="example-margin" [(ngModel)]="jsonBody.isExtended">Extend Project</mat-checkbox>
         </div>
        <div class="col-3"><label>Until</label></div>
        <div class="col-3">
          <input [disabled]="!jsonBody.isExtended"
            [(ngModel)]="extendedDate" (dateTimeChange)="onExtendDateChange($event)" style="max-width: 90px;" class="form-control-sm border-secondary" [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5">
          <owl-date-time #dt5  [pickerType]="'calendar'"></owl-date-time>
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"> Number of Payments</div>
        <div class="col-6">
          <mat-select placeholder="Select Number of Payment"  [(ngModel)]="jsonBody.numberOfPayments">
            <mat-option *ngFor="let c of numPays" [value]="c">
              {{c}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 font-weight-bold">
          Payment
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6">
          Initial Payment
        </div>
        <div class="col-6">
          <input [(ngModel)]="initialPayDate" (dateTimeChange)="onInitialPayDateChange($event)" style="max-width: 90px;" class="form-control-sm border-secondary" [owlDateTimeTrigger]="dt6" [owlDateTime]="dt6">
          <owl-date-time #dt6  [pickerType]="'calendar'"></owl-date-time>
        </div>
      </div>
      <div *ngIf="jsonBody.numberOfPayments === 3" class="row mb-3 pr-2 pl-1">
        <div class="col-6">
          Second Payment
        </div>
        <div class="col-6">
          <input [(ngModel)]="secondPayDate"  (dateTimeChange)="onSecondPayDateChange($event)" style="max-width: 90px;" class="form-control-sm border-secondary" [owlDateTimeTrigger]="dt7" [owlDateTime]="dt7">
          <owl-date-time #dt7  [pickerType]="'calendar'"></owl-date-time>
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6">
          Final Payment
        </div>
        <div class="col-6">
          <input  [(ngModel)]="finalPayDate" (dateTimeChange)="onFinalPayDateChange($event)" style="max-width: 90px;" class="form-control-sm border-secondary" [owlDateTimeTrigger]="dt8" [owlDateTime]="dt8">
          <owl-date-time #dt8  [pickerType]="'calendar'"></owl-date-time>
        </div>
      </div>
    </div>
    <div  mat-dialog-actions class="card-footer mb-0">
      <div class="row  w-100">
        <div class="col w-100 pt-1 pb-0 pr-1 card-bottom-buttons d-flex justify-content-end">
          <button *ngIf="!this.popupData.isNew && this.jsonBody.disableFormula === 1" class="btn btn-secondary mr-2 ml-2"  (click)="onClickDisableFormula(false)">Enable Formula</button>

          <button *ngIf="!this.popupData.isNew && this.jsonBody.disableFormula === 0" class="btn btn-secondary mr-2 ml-2"  (click)="onClickDisableFormula(true)">Disable Formula</button>
          <button class="btn btn-primary"  (click)="onClickSave()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
