.loading-screen-wrapper {
  z-index: 100000;
  position: absolute;
  background-color: rgba(25, 100, 126, 0.6);
  width: 100%;
  height: 100%;
  display: block;
}
//
//.loading-screen-icon {
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//}
//
///**
//  Loader: https://codepen.io/eliortabeka/pen/EXJyPP
// */
//svg {
//  display: none;
//}
//
//$bolb-color: #475158;
//
//// Loader
//.blobs {
//  filter: url(#goo);
//  width: 300px;
//  height: 300px;
//  position: relative;
//  overflow: hidden;
//  border-radius: 70px;
//  transform-style: preserve-3d;
//
//  // Blob center item
//  .blob-center {
//    transform-style: preserve-3d;
//    position: absolute;
//    background: $bolb-color;
//    top: 50%;
//    left: 50%;
//    width: 30px;
//    height: 30px;
//    transform-origin: left top;
//    transform: scale(.9) translate(-50%, -50%);
//    animation: blob-grow
//    linear
//    3.4s
//    infinite;
//    border-radius: 50%;
//    box-shadow: 0 -10px 40px -5px $bolb-color;
//  }
//}
//
//// Blob item
//.blob {
//  position: absolute;
//  background: $bolb-color;
//  top: 50%;
//  left: 50%;
//  width: 30px;
//  height: 30px;
//  border-radius: 50%;
//  animation: blobs
//  ease-out
//  3.4s
//  infinite;
//  transform: scale(.9) translate(-50%, -50%);
//  transform-origin: center top;
//  opacity: 0;
//
//  // Set animation delay for each of type
//  @for $i from 1 to 6 {
//    &:nth-child(#{$i}) {
//      animation-delay: $i * 0.2 + s;
//    }
//  }
//}
//
//// Keyframes variables
//$left: calc(-330px - 50%);
//$right: calc(330px - 50%);
//
//// Keyframes
//@keyframes blobs {
//  0% {
//    opacity: 0;
//    transform: scale(0) translate($left, -50%);
//  }
//  1% {
//    opacity: 1;
//  }
//  35%,65% {
//    opacity: 1;
//    transform: scale(.9) translate(-50%, -50%);
//  }
//  99% {
//    opacity: 1;
//  }
//  100% {
//    opacity: 0;
//    transform: scale(0) translate($right, -50%);
//  }
//}
//
//@keyframes blob-grow {
//  0%,  39% {
//    transform: scale(0) translate(-50%, -50%);
//  }
//  40%, 42% {
//    transform: scale(1, .9) translate(-50%, -50%);
//  }
//  43%, 44% {
//    transform: scale(1.2, 1.1) translate(-50%, -50%);
//  }
//  45%, 46% {
//    transform: scale(1.3, 1.2) translate(-50%, -50%);
//  }
//  47%, 48% {
//    transform: scale(1.4, 1.3) translate(-50%, -50%);
//  }
//  52%{
//    transform: scale(1.5, 1.4) translate(-50%, -50%);
//  }
//  54% {
//    transform: scale(1.7, 1.6) translate(-50%, -50%);
//  }
//  58% {
//    transform: scale(1.8, 1.7) translate(-50%, -50%);
//  }
//  68%, 70% {
//    transform: scale(1.7, 1.5) translate(-50%, -50%);
//  }
//  78% {
//    transform: scale(1.6, 1.4) translate(-50%, -50%);
//  }
//  80%, 81% {
//    transform: scale(1.5, 1.4) translate(-50%, -50%);
//  }
//  82%, 83% {
//    transform: scale(1.4, 1.3) translate(-50%, -50%);
//  }
//  84%, 85% {
//    transform: scale(1.3, 1.2) translate(-50%, -50%);
//  }
//  86%, 87% {
//    transform: scale(1.2, 1.1) translate(-50%, -50%);
//  }
//  90%, 91% {
//    transform: scale(1, .9) translate(-50%, -50%);
//  }
//  92%, 100% {
//    transform: scale(0) translate(-50%, -50%);
//  }
//}

// 2
//.sk-chase {
//  width: 40px;
//  height: 40px;
//  position: relative;
//  animation: sk-chase 2.5s infinite linear both;
//}
//
//.sk-chase-dot {
//  width: 100%;
//  height: 100%;
//  position: absolute;
//  left: 0;
//  top: 0;
//  animation: sk-chase-dot 2.0s infinite ease-in-out both;
//}
//
//.sk-chase-dot:before {
//  content: '';
//  display: block;
//  width: 25%;
//  height: 25%;
//  background-color: #fff;
//  border-radius: 100%;
//  animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
//}
//
//.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
//.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
//.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
//.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
//.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
//.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
//.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
//.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
//.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
//.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
//.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
//.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
//
//@keyframes sk-chase {
//  100% { transform: rotate(360deg); }
//}
//
//@keyframes sk-chase-dot {
//  80%, 100% { transform: rotate(360deg); }
//}
//
//@keyframes sk-chase-dot-before {
//  50% {
//    transform: scale(0.4);
//  } 100%, 0% {
//      transform: scale(1.0);
//    }
//}







.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: rgb(255,255,255);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}
