<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          {{popupData.header}}
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div style="max-height: 450px; overflow: scroll;" class="card-body with-bottom-buttons">

      <div class="row mb-3 pr-2 pl-1">
      <div class="col-3"><label>Company</label></div>
      <div class="col-3">
        <mat-select placeholder="Select Company" (selectionChange)="onChangeCompany($event.value)" [(ngModel)]="jsonBody.COMPANY_ID">
          <mat-option *ngFor="let c of companies" [value]="c.id">
            {{c.name}}
          </mat-option>
        </mat-select>
      </div>
      <div class="col-3"><label>Branch</label></div>
      <div class="col-3">
        <mat-select (selectionChange)="onChangeBranch($event.value)" placeholder="Select Branch"  [(ngModel)]="jsonBody.BRANCH_ID">
          <input  class="form-control w-100" placeholder="Search branch" (keyup)="onSearchBranch($event.target.value)" >
          <mat-option *ngFor="let c of branches" [value]="c.id">
            {{c.name}}
          </mat-option>
        </mat-select>
      </div>

    </div>

      <div class="row mb-3 pr-2 pl-1">
        <div class="col-3"><label>Vehicle Category</label></div>
        <div class="col-3">
          <mat-select (selectionChange)="onChangeCategory($event)" placeholder="Select Category"  [(ngModel)]="jsonBody.VEHICLE_CATEGORY">
            <mat-option *ngFor="let c of vehicleCats" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-3"><label>Vehicle Model</label></div>
        <div class="col-3">
          <mat-select (selectionChange)="onChangeModel($event)" placeholder="Select Model"  [(ngModel)]="jsonBody.VEHICLE_MODEL">
            <mat-option *ngFor="let c of vehicleModels" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Vehicle Number</label></div>
        <div class="col-6">
          <input type="text" [(ngModel)]="jsonBody.VEHICLE_NUMBER"  class="form-control-sm w-100 no-radius" >
        </div>
      </div>

      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Year</label></div>
        <div class="col-6">
          <mat-select placeholder="Select Year"  [(ngModel)]="jsonBody.YEAR">
            <mat-option *ngFor="let c of  years" [value]="c">
              {{c}}
            </mat-option>
          </mat-select>
        </div>
      </div>

      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Month</label></div>
        <div class="col-6">
          <mat-select (selectionChange)="onChangeMonth($event)" placeholder="Select Month"  [(ngModel)]="jsonBody.MONTH">
            <mat-option *ngFor="let c of months" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
      </div>
    <!-- </div> -->
    <div class="row mb-3 pr-2 pl-1">
      <div class="col-6"><label>Fuel Type</label></div>
      <div class="col-6">
        <mat-select (selectionChange)="onChangeFuelY($event)" placeholder="Select Fuel"  [(ngModel)]="jsonBody.FUEL_TYPE">
          <mat-option *ngFor="let c of fuelsY" [value]="c.id">
            {{c.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>

      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Unit</label></div>
        <div class="col-6">
          <mat-select placeholder="Select Unit"  [(ngModel)]="jsonBody.UNITS">
            <mat-option *ngFor="let c of units" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <!-- <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Fuel Cost</label>
          <span class="label success"> (If You select LKR)</span>
        </div>
        
        <div class="col-6">
          <mat-select (selectionChange)="onChangeFuel($event)" placeholder="Select Fuel"  [(ngModel)]="jsonBody.FUEL_TYPE" [disabled]="jsonBody.UNITS !='6'">
            <mat-option *ngFor="let c of fuels" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
      </div>  [disabled]="jsonBody.UNITS =='6'"-->
 
      <!--new-->
 
     
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-12"><mat-checkbox class="example-margin" [(ngModel)]="jsonBody.IS_FUEL_PAID_BY_COMPANY">Fuel Paid by Company</mat-checkbox></div>
        <!--<div class="col-6">-->
          <!--<input type="number" [(ngModel)]="jsonBody.FUEL_CONSUMPTION"  class="form-control-sm w-100 no-radius" >-->
        <!--</div>-->
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Fuel Economy(km/l)</label></div>
        <div class="col-6">
          <input type="number" [(ngModel)]="jsonBody.fuelEconomy"  (change)="change($event)" class="form-control-sm w-100 no-radius" >
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Distance(km)</label></div>
        <div class="col-6">
          <input type="number" [(ngModel)]="jsonBody.distance"  (change)="change($event)" class="form-control-sm w-100 no-radius" >
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Fuel Consumption</label></div>
        <div class="col-6">
          <input type="number"  [(ngModel)]="jsonBody.FUEL_CONSUMPTION"  class="form-control-sm w-100 no-radius"  [disabled]="jsonBody.UNITS =='6'"  >
        </div>
      </div>

         <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Cost of Fuel</label></div>
        <div class="col-6">
          <input type="number" [(ngModel)]="jsonBody.FUEL_CONSUMPTION"  class="form-control-sm w-100 no-radius" [disabled]="jsonBody.UNITS !='6'" >
        </div>
      </div>

 
    <div  mat-dialog-actions class="card-footer mb-0">
      <div class="row  w-100">
        <div class="col w-100 pt-1 pb-0 pr-1 card-bottom-buttons d-flex justify-content-end">
          <!--<button class="btn btn-secondary mr-2 ml-2"  (click)="onClickCancel()"></button>-->
          <button class="btn btn-primary"  (click)="onClickSave()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
