@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

.disabled {
  pointer-events:none; //This makes it not clickable
  opacity:0.6;         //This grays it out to look disabled
}


:host {
  ::ng-deep .branch .ng2-smart-title {
    min-width: 100px;
  }

  ::ng-deep .company .ng2-smart-title {
    min-width: 100px;
  }
  ::ng-deep .empIDorName .ng2-smart-title {
    min-width: 100px;
  }
  ::ng-deep .depCountry .ng2-smart-title {
    min-width: 80px;
  }
  ::ng-deep .depAirport .ng2-smart-title {
    min-width: 40px;
  }
  ::ng-deep .destCountry .ng2-smart-title {
    min-width: 80px;
  }
  ::ng-deep .destAirport .ng2-smart-title {
    min-width: 50px;
  }
  ::ng-deep .transit1 .ng2-smart-title {
    min-width: 60px;
  }
  ::ng-deep .transit2 .ng2-smart-title {
    min-width: 60px;
  }
  ::ng-deep .transit3 .ng2-smart-title {
    min-width: 60px;
  }
  ::ng-deep .isTwoWay .ng2-smart-title {
    min-width: 30px;
  }
  ::ng-deep .year .ng2-smart-title {
    min-width: 30px;
  }
  ::ng-deep .month .ng2-smart-title {
    min-width: 30px;
  }

}
