<nb-card>
  <nb-card-header>
    Public Transport Factors
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source"
                     (editConfirm) = "onUpdate($event)"

    >
    </ng2-smart-table>

  </nb-card-body>
</nb-card>
