<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          Emission Calculations
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div class="card-body " style="max-height: 400px; overflow: scroll;">

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Equation
        </div>
      </div>
      <div *ngIf="popupData.data.refriTypeId == 1"  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-center font-weight-bold"><i> E =  W<sub>RG, R22</sub> X GWP<sub>RG, R22</sub></i></div>
      </div>
      <div *ngIf="popupData.data.refriTypeId == 2"  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-center font-weight-bold"><i>E = ((W<sub>RG, R407C</sub> X 23%) X 677) + ((W<sub>RG, R407C</sub> X 25%) X 3170) + ((W<sub>RG, R407C</sub> X 52%) X 1300)  </i></div>
      </div>
      <div *ngIf="popupData.data.refriTypeId == 3"  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-center font-weight-bold"><i>E =   ((W<sub>RG, R410A</sub> X 50%) X 677) + ((W<sub>RG, R410A</sub> X 50%) X 3170) </i></div>
      </div>

<!--      <div *ngIf="popupData.data.refriTypeId == 2"  class="row mb-3 pr-2 pl-1">-->
<!--        <div class="col-12 d-flex justify-content-left">-->
<!--          <i>W<sub>RG, R407C</sub> = {{popupData.data.quantity}} tons</i>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div *ngIf="popupData.data.refriTypeId == 3"  class="row mb-3 pr-2 pl-1">-->
<!--        <div class="col-12 d-flex justify-content-left">-->
<!--          <i>W<sub>RG, R410A</sub> = {{popupData.data.quantity}} tons</i>-->
<!--        </div>-->
<!--      </div>-->


      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Substitution
        </div>
      </div>

      <div *ngIf="popupData.data.refriTypeId == 1"  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>W<sub>RG, R22</sub> = {{popupData.data.quantity}}&nbsp;tons</i>
        </div>
      </div>
      <div *ngIf="popupData.data.refriTypeId == 1"  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>GWP<sub>RG, R22</sub> = {{popupData.data.gwp_r22}} </i>
        </div>
      </div>
      <div *ngIf="popupData.data.refriTypeId == 2"  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>W<sub>RG, R407C</sub> = {{popupData.data.quantity}}&nbsp;tons</i>
        </div>
      </div>
      <div *ngIf="popupData.data.refriTypeId == 3"  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>W<sub>RG, R410A</sub> = {{popupData.data.quantity}}&nbsp;tons</i>
        </div>
      </div>
      <div *ngIf="popupData.data.refriTypeId == 1" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>E  = {{popupData.data.quantity}} X  {{popupData.data.gwp_r22}} </i>
        </div>
      </div>
      <div *ngIf="popupData.data.refriTypeId == 1" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>E  = {{popupData.data.emission}}  </i>
        </div>
      </div>
      <div *ngIf="popupData.data.refriTypeId == 2" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>E  = (&nbsp;({{popupData.data.quantity}} X 23%) X 677&nbsp;) + (&nbsp;({{popupData.data.quantity}} X 25%&nbsp;) X 3170) + (&nbsp;({{popupData.data.quantity}} X 52%&nbsp;) X 1300) </i>
        </div>
      </div>
      <div *ngIf="popupData.data.refriTypeId == 2" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>E  = {{popupData.data.gwp_r407c}}</i>
        </div>
      </div>
      <div *ngIf="popupData.data.refriTypeId == 3" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>E  = (&nbsp;({{popupData.data.quantity}} X 50%) X 677&nbsp;) + (&nbsp;({{popupData.data.quantity}} X 50%) X 3170&nbsp;)</i>
        </div>
      </div>
      <div *ngIf="popupData.data.refriTypeId == 3" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>E  = {{popupData.data.gwp_410a}}</i>
        </div>
      </div>

<!--      <div  class="row mb-3 pr-2 pl-1">-->
<!--        <div class="col-12 d-flex justify-content-left font-weight-bold">-->
<!--          Equation-->
<!--        </div>-->
<!--      </div>-->
<!--      <div *ngIf="popupData.data.refriTypeId == 1"  class="row mb-3 pr-2 pl-1">-->
<!--        <div class="col-12 d-flex justify-content-center font-weight-bold"><i>E<sub>RL</sub> = W<sub>RG, R22</sub>  X  GWP<sub>RG, R22</sub></i></div>-->
<!--      </div>-->
<!--      <div *ngIf="popupData.data.refriTypeId == 2"  class="row mb-3 pr-2 pl-1">-->
<!--        <div class="col-12 d-flex justify-content-center font-weight-bold"><i>E<sub>RL</sub> = W<sub>RG, R407C</sub>  X  GWP<sub>RG, R407C</sub></i></div>-->
<!--      </div>-->
<!--      <div *ngIf="popupData.data.refriTypeId == 3"  class="row mb-3 pr-2 pl-1">-->
<!--        <div class="col-12 d-flex justify-content-center font-weight-bold"><i>E<sub>RL</sub> = W<sub>RG, R410A</sub>  X  GWP<sub>RG, R410A</sub></i></div>-->
<!--      </div>-->
<!--      <div   class="row mb-3 pr-2 pl-1">-->
<!--        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">-->
<!--          <p>E<sub>RL</sub>  = GHG emissions from refrigerant leakage (tCo<sub>2e</sub>/year) </p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div  class="row mb-3 pr-2 pl-1">-->
<!--        <div class="col-12 d-flex justify-content-left font-weight-bold">-->
<!--          Substitution-->
<!--        </div>-->
<!--      </div>-->
<!--      <div *ngIf="popupData.data.refriTypeId == 1"  class="row mb-3 pr-2 pl-1">-->
<!--        <div class="col-12 d-flex justify-content-left">-->
<!--          <i>W<sub>RG, R22</sub> = {{popupData.data.quantity}} tons</i>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div *ngIf="popupData.data.refriTypeId == 1"  class="row mb-3 pr-2 pl-1">-->
<!--        <div class="col-12 d-flex justify-content-center font-weight-bold"><i>E<sub>RL</sub> = {{popupData.data.quantity}}  X  {{popupData.data.gwp_r22}}</i></div>-->
<!--      </div>-->
<!--      <div *ngIf="popupData.data.refriTypeId == 2"  class="row mb-3 pr-2 pl-1">-->
<!--        <div class="col-12 d-flex justify-content-center font-weight-bold"><i>E<sub>RL</sub> = {{popupData.data.quantity}}  X  {{popupData.data.gwp_r407c}}</i></div>-->
<!--      </div>-->
<!--      <div *ngIf="popupData.data.refriTypeId == 3"  class="row mb-3 pr-2 pl-1">-->
<!--        <div class="col-12 d-flex justify-content-center font-weight-bold"><i>E<sub>RL</sub> = {{popupData.data.quantity}}  X  {{popupData.data.gwp_410a}}</i></div>-->
<!--      </div>-->
<!--      <div  class="row mb-3 pr-2 pl-1">-->
<!--        <div class="col-12 d-flex justify-content-center font-weight-bold"><i>E<sub>RL</sub> = {{popupData.data.emission}}</i></div>-->
<!--      </div>-->


    </div>
  </div>
</div>
