<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          Emission Calculations
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div class="card-body " style="max-height: 400px; overflow: scroll;">

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Equation
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-center font-weight-bold">
          <i>E = ((S X CF) X W) X EF </i>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>E = Emissions (tCO<sub>2</sub>e) </p>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>S = Distance (Nautic Miles)  </p>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>W = Weight (tons)  </p>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>CF = Conversion Factor (km/Nautic Miles)  </p>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>EF = Emission Factor (tCO<sub>2</sub>e/tons.km)  </p>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Substitution
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <i>S = {{popupData.data.emissionInfo.distance}} Nautic Miles  </i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <i>W = {{popupData.data.emissionInfo.quantity}} tons  </i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <i>CF = {{popupData.data.emissionInfo.cf}} km/Nautic Miles  </i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <i>EF = {{popupData.data.emissionInfo.ef}} tCO<sub>2</sub>e/tons.km  </i>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <i>E = (({{popupData.data.emissionInfo.distance}} X {{popupData.data.emissionInfo.cf}}) X {{popupData.data.emissionInfo.quantity}}) X {{popupData.data.emissionInfo.ef}} </i>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <i>E = {{popupData.data.emissionInfo.tco2}} </i>
        </div>
      </div>

    </div>
  </div>
</div>
