<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        Select Company and Branch
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-2">
            <label>Company</label>
          </div>
          <div class="col-4">
            <mat-select (selectionChange)="onChangeCompany($event)"  [(ngModel)]="comId" placeholder="Select Company" >
              <mat-option  *ngFor="let a of companines" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
          </div>
          <div class="col-2">
            <label>Branch</label>
          </div>
          <div class="col-4">
            <mat-select (selectionChange)="onChangeBranch($event)"  [(ngModel)]="branchId" placeholder="Select Branch" >
              <input  class="form-control w-100" placeholder="Search Branch" (keyup)="onSearchBranch($event.target.value)">
              <mat-option  *ngFor="let a of branches" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div *ngIf="comId === undefined " class="row font-weight-bold">
  <div class="col-12">
    Select Comany and Branch
  </div>
</div>


<!--<div *ngIf="comId > 0  && branchId  <= 0" class ="row">-->
<!--  <div class="col-12">-->
<!--    <nb-card>-->
<!--      <nb-card-header>-->
<!--        Project Data Entry Status-->
<!--      </nb-card-header>-->
<!--      <nb-card-body>-->
<!--        <div class="row">-->
<!--        </div>-->
<!--        <nb-list class="">-->
<!--          <nb-list-item class="row">-->
<!--            <span class="col-8">Electricity Data Entry</span>-->
<!--            <span class="col-4">{{dataEntryStatus.elec.status == 1 ? "Pending" : dataEntryStatus.elec.status == 2 ? "Completed" : "Not Available" }}</span>-->
<!--            &lt;!&ndash;<span class="col-6">Completed</span>&ndash;&gt;-->
<!--          </nb-list-item>-->
<!--          <nb-list-item class="row">-->
<!--            <span class="col-8">Municipal Water Data Entry</span>-->
<!--            <span class="col-4">{{dataEntryStatus.mw.status == 1 ? "Pending" : dataEntryStatus.mw.status == 2 ? "Completed" : "Not Available" }}</span>-->
<!--            &lt;!&ndash;<span class="col-6">Completed</span>&ndash;&gt;-->
<!--          </nb-list-item>-->
<!--          <nb-list-item class="row">-->
<!--            <span class="col-8">Refrigerant Leakage Water Data Entry</span>-->
<!--            <span class="col-4">{{dataEntryStatus.refri.status == 1 ? "Pending" : dataEntryStatus.refri.status == 2 ? "Completed" : "Not Available" }}</span>-->
<!--            &lt;!&ndash;<span class="col-6">Completed</span>&ndash;&gt;-->
<!--          </nb-list-item>-->
<!--          <nb-list-item class="row">-->
<!--            <span class="col-8">Fire Extinguisher Data Entry</span>-->
<!--            <span class="col-4">{{dataEntryStatus.fire.status == 1 ? "Pending" : dataEntryStatus.fire.status == 2 ? "Completed" : "Not Available" }}</span>-->
<!--            &lt;!&ndash;<span class="col-6">Completed</span>&ndash;&gt;-->
<!--          </nb-list-item>-->
<!--          <nb-list-item class="row">-->
<!--            <span class="col-8">Waste Transport Data Entry</span>-->
<!--            <span class="col-4">{{dataEntryStatus.wasteTrans.status == 1 ? "Pending" : dataEntryStatus.wasteTrans.status == 2 ? "Completed" : "Not Available" }}</span>-->
<!--            &lt;!&ndash;<span class="col-6">Completed</span>&ndash;&gt;-->
<!--          </nb-list-item>-->
<!--          <nb-list-item class="row">-->
<!--            <span class="col-8">Company Owned Vehicles Data Entry</span>-->
<!--            <span class="col-4">{{dataEntryStatus.comOwned.status == 1 ? "Pending" : dataEntryStatus.comOwned.status == 2 ? "Completed" : "Not Available" }}</span>-->
<!--            &lt;!&ndash;<span class="col-6">Completed</span>&ndash;&gt;-->
<!--          </nb-list-item>-->
<!--          <nb-list-item class="row">-->
<!--            <span class="col-8">Employee Commuting Data Entry</span>-->
<!--            <span class="col-4">{{dataEntryStatus.empComm.status == 1 ? "Pending" : dataEntryStatus.empComm.status == 2 ? "Completed" : "Not Available" }}</span>-->
<!--            &lt;!&ndash;<span class="col-6">Completed</span>&ndash;&gt;-->
<!--          </nb-list-item>-->
<!--          <nb-list-item class="row">-->
<!--            <span class="col-8">Business Air Travel Data Entry</span>-->
<!--            <span class="col-4">{{dataEntryStatus.airtravel.status == 1 ? "Pending" : dataEntryStatus.airtravel.status == 2 ? "Completed" : "Not Available" }}</span>-->
<!--            &lt;!&ndash;<span class="col-6">Completed</span>&ndash;&gt;-->
<!--          </nb-list-item>-->
<!--          <nb-list-item class="row">-->
<!--            <span class="col-8">Rented Vehicles Data Entry</span>-->
<!--            <span class="col-4">{{dataEntryStatus.rented.status == 1 ? "Pending" : dataEntryStatus.rented.status == 2 ? "Completed" : "Not Available" }}</span>-->
<!--            &lt;!&ndash;<span class="col-6">Completed</span>&ndash;&gt;-->
<!--          </nb-list-item>-->
<!--          <nb-list-item class="row">-->
<!--            <span class="col-8">Hired Vehicles Data Entry</span>-->
<!--            <span class="col-4">{{dataEntryStatus.hired.status == 1 ? "Pending" : dataEntryStatus.hired.status == 2 ? "Completed" : "Not Available" }}</span>-->
<!--            &lt;!&ndash;<span class="col-6">Completed</span>&ndash;&gt;-->
<!--          </nb-list-item>-->
<!--          <nb-list-item class="row">-->
<!--            <span class="col-8">Generators Data Entry</span>-->
<!--            <span class="col-4">{{dataEntryStatus.gen.status == 1 ? "Pending" : dataEntryStatus.gen.status == 2 ? "Completed" : "Not Available" }}</span>-->
<!--            &lt;!&ndash;<span class="col-6">Completed</span>&ndash;&gt;-->
<!--          </nb-list-item>-->
<!--          <nb-list-item class="row">-->
<!--            <span class="col-8">Waste Disposal Data Entry</span>-->
<!--            <span class="col-4">{{dataEntryStatus.wasteDis.status == 1 ? "Pending" : dataEntryStatus.wasteDis.status == 2 ? "Completed" : "Not Available" }}</span>-->
<!--            &lt;!&ndash;<span class="col-6">Completed</span>&ndash;&gt;-->
<!--          </nb-list-item>-->
<!--          <nb-list-item class="row">-->
<!--            <span class="col-8">Transport Locally Purchased Data Entry</span>-->
<!--            <span class="col-4">{{dataEntryStatus.wasteTrans.status == 1 ? "Pending" : dataEntryStatus.wasteTrans.status == 2 ? "Completed" : "Not Available" }}</span>-->
<!--            &lt;!&ndash;<span class="col-6">Completed</span>&ndash;&gt;-->
<!--          </nb-list-item>-->
<!--          <nb-list-item class="row">-->
<!--            <span class="col-8">Freight Transport Data Entry</span>-->
<!--            <span class="col-4">{{dataEntryStatus.freight.status == 1 ? "Pending" : dataEntryStatus.freight.status == 2 ? "Completed" : "Not Available" }}</span>-->
<!--            &lt;!&ndash;<span class="col-6">Completed</span>&ndash;&gt;-->
<!--          </nb-list-item>-->

<!--        </nb-list>-->
<!--      </nb-card-body>-->
<!--    </nb-card>-->
<!--  </div>-->
<!--</div>-->



<div *ngIf="comId > 0" class="row mt-4 display-flex align-items-stretch">
  <div class="col-6">
    <nb-card class="h-100">
      <nb-card-header>
        Electricity Data Entry Summary
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item class="row font-weight-bold">
            <span class="col-3">Month</span>
            <span class="col-2">kWh</span>
            <span class="col-7">Meter Numbers</span>
          </nb-list-item>
          <!--January-->
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">January</span>
            <span class="col-2">{{elec.jan.kwh}}</span>
            <span class="col-4"><label *ngFor="let n of elec.jan.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">February</span>
            <span class="col-2">{{elec.feb.kwh}}</span>
            <span class="col-4"><label *ngFor="let n of elec.feb.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">March</span>
            <span class="col-2">{{elec.mar.kwh}}</span>
            <span class="col-4"><label *ngFor="let n of elec.mar.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">April</span>
            <span class="col-2">{{elec.apr.kwh}}</span>
            <span class="col-4"><label *ngFor="let n of elec.apr.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">May</span>
            <span class="col-2">{{elec.may.kwh}}</span>
            <span class="col-4"><label *ngFor="let n of elec.may.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">June</span>
            <span class="col-2">{{elec.jun.kwh}}</span>
            <span class="col-4"><label *ngFor="let n of elec.jun.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">July</span>
            <span class="col-2">{{elec.jul.kwh}}</span>
            <span class="col-4"><label *ngFor="let n of elec.jul.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">August</span>
            <span class="col-2">{{elec.aug.kwh}}</span>
            <span class="col-4"><label *ngFor="let n of elec.aug.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">September</span>
            <span class="col-2">{{elec.sep.kwh}}</span>
            <span class="col-4"><label *ngFor="let n of elec.sep.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">October</span>
            <span class="col-2">{{elec.oct.kwh}}</span>
            <span class="col-4"><label *ngFor="let n of elec.oct.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">Novemeber</span>
            <span class="col-2">{{elec.nov.kwh}}</span>
            <span class="col-4"><label *ngFor="let n of elec.nov.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">December</span>
            <span class="col-2">{{elec.dec.kwh}}</span>
            <span class="col-4"><label *ngFor="let n of elec.dec.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">All Months</span>
            <span class="col-2">{{elec.all.kwh}}</span>
            <span class="col-4"><label *ngFor="let n of elec.all.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
<!--      <nb-card-footer *ngIf="branchId <= 0">-->
<!--        <div class="row">-->
<!--          <div class="col-4"></div>-->
<!--          <div class="col-4 d-flex justify-content-end align-items-center">Mark As</div>-->
<!--          <div class="col-4"><button [disabled]="dataEntryStatus.elec.status !== 1" class="btn btn-primary" (click)="markAsCompleted(1)">Completed</button></div>-->
<!--        </div>-->
<!--      </nb-card-footer>-->
    </nb-card>
  </div>
  <div class="col-6">
    <nb-card class="h-100">
      <nb-card-header>
        Municipal Water Data Entry Summary
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item class="row font-weight-bold">
            <span class="col-3">Month</span>
            <span class="col-2">m3</span>
            <span class="col-2">LKR</span>
            <span class="col-5">Meter Numbers</span>
          </nb-list-item>
          <!--January-->
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">January</span>
            <span class="col-2">{{mw.jan.lkr}}</span>
            <span class="col-2">{{mw.jan.m3}}</span>
            <span class="col-4"><label *ngFor="let n of mw.jan.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">February</span>
            <span class="col-2">{{mw.feb.lkr}}</span>
            <span class="col-2">{{mw.feb.m3}}</span>
            <span class="col-4"><label *ngFor="let n of mw.feb.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">March</span>
            <span class="col-2">{{mw.mar.lkr}}</span>
            <span class="col-2">{{mw.mar.m3}}</span>
            <span class="col-4"><label *ngFor="let n of mw.mar.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">April</span>
            <span class="col-2">{{mw.apr.lkr}}</span>
            <span class="col-2">{{mw.apr.m3}}</span>
            <span class="col-4"><label *ngFor="let n of mw.apr.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">May</span>
            <span class="col-2">{{mw.may.lkr}}</span>
            <span class="col-2">{{mw.mar.m3}}</span>
            <span class="col-4"><label *ngFor="let n of mw.may.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">June</span>
            <span class="col-2">{{mw.jun.lkr}}</span>
            <span class="col-2">{{mw.jun.m3}}</span>
            <span class="col-4"><label *ngFor="let n of mw.jun.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">July</span>
            <span class="col-2">{{mw.jul.lkr}}</span>
            <span class="col-2">{{mw.jul.m3}}</span>
            <span class="col-4"><label *ngFor="let n of mw.jul.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">August</span>
            <span class="col-2">{{mw.aug.lkr}}</span>
            <span class="col-2">{{mw.aug.m3}}</span>
            <span class="col-4"><label *ngFor="let n of mw.aug.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">September</span>
            <span class="col-2">{{mw.sep.lkr}}</span>
            <span class="col-2">{{mw.sep.m3}}</span>
            <span class="col-4"><label *ngFor="let n of mw.sep.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">October</span>
            <span class="col-2">{{mw.oct.lkr}}</span>
            <span class="col-2">{{mw.oct.m3}}</span>
            <span class="col-4"><label *ngFor="let n of mw.oct.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">Novemeber</span>
            <span class="col-2">{{mw.nov.lkr}}</span>
            <span class="col-2">{{mw.nov.m3}}</span>
            <span class="col-4"><label *ngFor="let n of mw.nov.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">December</span>
            <span class="col-2">{{mw.dec.lkr}}</span>
            <span class="col-2">{{mw.dec.m3}}</span>
            <span class="col-4"><label *ngFor="let n of mw.dec.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-3 font-weight-bold">All Months</span>
            <span class="col-2">{{mw.all.lkr}}</span>
            <span class="col-2">{{mw.all.m3}}</span>
            <span class="col-4"><label *ngFor="let n of mw.all.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
<!--      <nb-card-footer   *ngIf="branchId <= 0">-->
<!--        <div class="row">-->
<!--          <div class="col-4"></div>-->
<!--          <div class="col-4 d-flex justify-content-end align-items-center">Mark As</div>-->
<!--          <div class="col-4"><button class="btn btn-primary" [disabled]="dataEntryStatus.mw.status !== 1" (click)="markAsCompleted(2)">Completed</button></div>-->
<!--        </div>-->
<!--      </nb-card-footer>-->
    </nb-card>
  </div>
</div>


<div *ngIf="comId > 0" class="row mt-4 display-flex align-items-stretch">
  <div class="col-6">
    <nb-card class="h-100">
      <nb-card-header>
        Refigerent Leakage Data Entry Summary
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item class="row font-weight-bold">
            <span class="col-6">Month</span>
            <span class="col-6">Weight(kg)</span>
          </nb-list-item>
          <!--January-->
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">January</span>
            <span class="col-6">{{refri.jan.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">February</span>
            <span class="col-6">{{refri.feb.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">March</span>
            <span class="col-6">{{refri.mar.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">April</span>
            <span class="col-6">{{refri.apr.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">May</span>
            <span class="col-6">{{refri.may.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">June</span>
            <span class="col-6">{{refri.jun.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">July</span>
            <span class="col-6">{{refri.jul.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">August</span>
            <span class="col-6">{{refri.aug.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">September</span>
            <span class="col-6">{{refri.sep.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">October</span>
            <span class="col-6">{{refri.oct.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">Novemeber</span>
            <span class="col-6">{{refri.nov.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">December</span>
            <span class="col-6">{{refri.dec.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">All Months</span>
            <span class="col-6">{{refri.all.kg}}</span>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
<!--      <nb-card-footer *ngIf="branchId <= 0">-->
<!--        <div class="row">-->
<!--          <div class="col-4"></div>-->
<!--          <div class="col-4 d-flex justify-content-end align-items-center">Mark As</div>-->
<!--          <div class="col-4"><button class="btn btn-primary" [disabled]="dataEntryStatus.refri.status !== 1" (click)="markAsCompleted(3)">Completed</button></div>-->
<!--        </div>-->
<!--      </nb-card-footer>-->
    </nb-card>
  </div>
  <div class="col-6">
    <nb-card class="h-100">
      <nb-card-header>
        Fire Extinghiser Data Entry Summary
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item class="row font-weight-bold">
            <span class="col-6">Month</span>
            <span class="col-6">Weight(kg)</span>
          </nb-list-item>
          <!--January-->
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">January</span>
            <span class="col-6">{{fire.jan.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">February</span>
            <span class="col-6">{{fire.feb.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">March</span>
            <span class="col-6">{{fire.mar.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">April</span>
            <span class="col-6">{{fire.apr.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">May</span>
            <span class="col-6">{{fire.may.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">June</span>
            <span class="col-6">{{fire.jun.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">July</span>
            <span class="col-6">{{fire.jul.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">August</span>
            <span class="col-6">{{fire.aug.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">September</span>
            <span class="col-6">{{fire.sep.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">October</span>
            <span class="col-6">{{fire.oct.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">November</span>
            <span class="col-6">{{fire.nov.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">December</span>
            <span class="col-6">{{fire.dec.kg}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">All Months</span>
            <span class="col-6">{{fire.all.kg}}</span>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
<!--      <nb-card-footer *ngIf="branchId <= 0">-->
<!--        <div class="row">-->
<!--          <div class="col-4"></div>-->
<!--          <div class="col-4 d-flex justify-content-end align-items-center">Mark As</div>-->
<!--          <div class="col-4"><button class="btn btn-primary" [disabled]="dataEntryStatus.fire.status !== 1" (click)="markAsCompleted(4)">Completed</button></div>-->
<!--        </div>-->
<!--      </nb-card-footer>-->
    </nb-card>
  </div>
</div>

<div *ngIf="comId > 0" class="row mt-4 display-flex align-items-stretch">
  <div class="col-6">
    <nb-card class="h-100">
      <nb-card-header>
        Waste Transport Data Entry Summary
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item class="row font-weight-bold">
            <span class="col-6">Month</span>
            <span class="col-3">Diesel (km)</span>
            <span class="col-3">Petrol (km)</span>
          </nb-list-item>
          <!--January-->
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">January</span>
            <span class="col-3">{{wastTrans.jan.km_diesel}}</span>
            <span class="col-3">{{wastTrans.jan.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">February</span>
            <span class="col-3">{{wastTrans.feb.km_diesel}}</span>
            <span class="col-3">{{wastTrans.feb.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">March</span>
            <span class="col-3">{{wastTrans.mar.km_diesel}}</span>
            <span class="col-3">{{wastTrans.mar.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">April</span>
            <span class="col-3">{{wastTrans.apr.km_diesel}}</span>
            <span class="col-3">{{wastTrans.apr.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">May</span>
            <span class="col-3">{{wastTrans.may.km_diesel}}</span>
            <span class="col-3">{{wastTrans.may.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">June</span>
            <span class="col-3">{{wastTrans.jun.km_diesel}}</span>
            <span class="col-3">{{wastTrans.jun.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">July</span>
            <span class="col-3">{{wastTrans.jul.km_diesel}}</span>
            <span class="col-3">{{wastTrans.jul.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">August</span>
            <span class="col-3">{{wastTrans.aug.km_diesel}}</span>
            <span class="col-3">{{wastTrans.aug.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">September</span>
            <span class="col-3">{{wastTrans.sep.km_diesel}}</span>
            <span class="col-3">{{wastTrans.sep.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">October</span>
            <span class="col-3">{{wastTrans.oct.km_diesel}}</span>
            <span class="col-3">{{wastTrans.oct.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">Novemeber</span>
            <span class="col-3">{{wastTrans.nov.km_diesel}}</span>
            <span class="col-3">{{wastTrans.nov.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">December</span>
            <span class="col-3">{{wastTrans.dec.km_diesel}}</span>
            <span class="col-3">{{wastTrans.dec.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">All Months</span>
            <span class="col-3">{{wastTrans.all.km_diesel}}</span>
            <span class="col-3">{{wastTrans.all.km_petrol}}</span>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
<!--      <nb-card-footer *ngIf="branchId <= 0">-->
<!--        <div class="row">-->
<!--          <div class="col-4"></div>-->
<!--          <div class="col-4 d-flex justify-content-end align-items-center">Mark As</div>-->
<!--          <div class="col-4"><button class="btn btn-primary" [disabled]="dataEntryStatus.wasteTrans.status !== 1" (click)="markAsCompleted(5)">Completed</button></div>-->
<!--        </div>-->
<!--      </nb-card-footer>-->
    </nb-card>
  </div>
  <div class="col-6">
    <nb-card class="h-100">
      <nb-card-header>
        Transport Locally Purchased Data Entry Summary
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item class="row font-weight-bold">
            <span class="col-4">Month</span>
            <span class="col-4">Diesel (km)</span>
            <span class="col-4">Petrol (km)</span>
          </nb-list-item>
          <!--January-->
          <nb-list-item class="row">
            <span class="col-4 font-weight-bold">January</span>
            <span class="col-4">{{transLoc.jan.km_diesel}}</span>
            <span class="col-4">{{transLoc.jan.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4 font-weight-bold">February</span>
            <span class="col-4">{{transLoc.feb.km_diesel}}</span>
            <span class="col-4">{{transLoc.feb.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4 font-weight-bold">March</span>
            <span class="col-4">{{transLoc.mar.km_diesel}}</span>
            <span class="col-4">{{transLoc.mar.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4 font-weight-bold">April</span>
            <span class="col-4">{{transLoc.apr.km_diesel}}</span>
            <span class="col-4">{{transLoc.apr.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4 font-weight-bold">May</span>
            <span class="col-4">{{transLoc.may.km_diesel}}</span>
            <span class="col-4">{{transLoc.may.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4 font-weight-bold">June</span>
            <span class="col-4">{{transLoc.jun.km_diesel}}</span>
            <span class="col-4">{{transLoc.jun.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4 font-weight-bold">July</span>
            <span class="col-4">{{transLoc.jul.km_diesel}}</span>
            <span class="col-4">{{transLoc.jul.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4 font-weight-bold">August</span>
            <span class="col-4">{{transLoc.aug.km_diesel}}</span>
            <span class="col-4">{{transLoc.aug.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4 font-weight-bold">September</span>
            <span class="col-4">{{transLoc.sep.km_diesel}}</span>
            <span class="col-4">{{transLoc.sep.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4 font-weight-bold">October</span>
            <span class="col-4">{{transLoc.oct.km_diesel}}</span>
            <span class="col-4">{{transLoc.oct.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4 font-weight-bold">Novemeber</span>
            <span class="col-4">{{transLoc.nov.km_diesel}}</span>
            <span class="col-4">{{transLoc.nov.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4 font-weight-bold">December</span>
            <span class="col-4">{{transLoc.dec.km_diesel}}</span>
            <span class="col-4">{{transLoc.dec.km_petrol}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4 font-weight-bold">All Months</span>
            <span class="col-4">{{transLoc.all.km_diesel}}</span>
            <span class="col-4">{{transLoc.all.km_petrol}}</span>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
<!--      <nb-card-footer *ngIf="branchId <= 0">-->
<!--        <div class="row">-->
<!--          <div class="col-4"></div>-->
<!--          <div class="col-4 d-flex justify-content-end align-items-center">Mark As</div>-->
<!--          <div class="col-4"><button class="btn btn-primary" [disabled]="dataEntryStatus.transLoc.status !== 1" (click)="markAsCompleted(13)">Completed</button></div>-->
<!--        </div>-->
<!--      </nb-card-footer>-->
    </nb-card>
  </div>
</div>

<div *ngIf="comId > 0" class="row mt-4 display-flex align-items-stretch">
  <div class="col-12">
    <nb-card class="h-100">
      <nb-card-header>
        Company Owned Vehicles Data Entry Summary
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item class="row font-weight-bold">
            <span class="col-2">Month</span>
            <span class="col-2">Diesel</span>
            <span class="col-2">Petrol</span>
            <span class="col-4">Vehicle  Numbers</span>
          </nb-list-item>
          <!--January-->
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">January</span>
            <span class="col-2">
              <div>{{comowned.jan.m3_diesel}} m3</div>
              <div>{{comowned.jan.l_diesel}} liters</div>
              <div>{{comowned.jan.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{comowned.jan.m3_petrol}} m3</div>
              <div>{{comowned.jan.l_petrol}} liters</div>
              <div>{{comowned.jan.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of comowned.jan.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">February</span>
            <span class="col-2">
              <div>{{comowned.feb.m3_diesel}} m3</div>
              <div>{{comowned.feb.l_diesel}} liters</div>
              <div>{{comowned.feb.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{comowned.feb.m3_petrol}} m3</div>
              <div>{{comowned.feb.l_petrol}} liters</div>
              <div>{{comowned.feb.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of comowned.feb.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">March</span>
            <span class="col-2">
              <div>{{comowned.mar.m3_diesel}} m3</div>
              <div>{{comowned.mar.l_diesel}} liters</div>
              <div>{{comowned.mar.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{comowned.mar.m3_petrol}} m3</div>
              <div>{{comowned.mar.l_petrol}} liters</div>
              <div>{{comowned.mar.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of comowned.mar.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">April</span>
            <span class="col-2">
              <div>{{comowned.apr.m3_diesel}} m3</div>
              <div>{{comowned.apr.l_diesel}} liters</div>
              <div>{{comowned.apr.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{comowned.apr.m3_petrol}} m3</div>
              <div>{{comowned.apr.l_petrol}} liters</div>
              <div>{{comowned.apr.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of comowned.apr.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">May</span>
            <span class="col-2">
              <div>{{comowned.may.m3_diesel}} m3</div>
              <div>{{comowned.may.l_diesel}} liters</div>
              <div>{{comowned.may.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{comowned.may.m3_petrol}} m3</div>
              <div>{{comowned.may.l_petrol}} liters</div>
              <div>{{comowned.may.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of comowned.may.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">June</span>
            <span class="col-2">
              <div>{{comowned.jun.m3_diesel}} m3</div>
              <div>{{comowned.jun.l_diesel}} liters</div>
              <div>{{comowned.jun.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{comowned.jun.m3_petrol}} m3</div>
              <div>{{comowned.jun.l_petrol}} liters</div>
              <div>{{comowned.jun.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of comowned.jun.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">July</span>
            <span class="col-2">
              <div>{{comowned.jul.m3_diesel}} m3</div>
              <div>{{comowned.jul.l_diesel}} liters</div>
              <div>{{comowned.jul.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{comowned.jul.m3_petrol}} m3</div>
              <div>{{comowned.jul.l_petrol}} liters</div>
              <div>{{comowned.jul.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of comowned.jul.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">August</span>
            <span class="col-2">
              <div>{{comowned.aug.m3_diesel}} m3</div>
              <div>{{comowned.aug.l_diesel}} liters</div>
              <div>{{comowned.aug.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{comowned.aug.m3_petrol}} m3</div>
              <div>{{comowned.aug.l_petrol}} liters</div>
              <div>{{comowned.aug.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of comowned.aug.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">September</span>
            <span class="col-2">
              <div>{{comowned.sep.m3_diesel}} m3</div>
              <div>{{comowned.sep.l_diesel}} liters</div>
              <div>{{comowned.sep.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{comowned.sep.m3_petrol}} m3</div>
              <div>{{comowned.sep.l_petrol}} liters</div>
              <div>{{comowned.sep.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of comowned.sep.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">October</span>
            <span class="col-2">
              <div>{{comowned.oct.m3_diesel}} m3</div>
              <div>{{comowned.oct.l_diesel}} liters</div>
              <div>{{comowned.oct.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{comowned.oct.m3_petrol}} m3</div>
              <div>{{comowned.oct.l_petrol}} liters</div>
              <div>{{comowned.oct.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of comowned.oct.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">Novemeber</span>
            <span class="col-2">
              <div>{{comowned.nov.m3_diesel}} m3</div>
              <div>{{comowned.nov.l_diesel}} liters</div>
              <div>{{comowned.nov.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{comowned.nov.m3_petrol}} m3</div>
              <div>{{comowned.nov.l_petrol}} liters</div>
              <div>{{comowned.nov.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of comowned.nov.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">December</span>
            <span class="col-2">
              <div>{{comowned.dec.m3_diesel}} m3</div>
              <div>{{comowned.dec.l_diesel}} liters</div>
              <div>{{comowned.dec.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{comowned.dec.m3_petrol}} m3</div>
              <div>{{comowned.dec.l_petrol}} liters</div>
              <div>{{comowned.dec.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of comowned.dec.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">All Months</span>
            <span class="col-2">
              <div>{{comowned.all.m3_diesel}} m3</div>
              <div>{{comowned.all.l_diesel}} liters</div>
              <div>{{comowned.all.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{comowned.all.m3_petrol}} m3</div>
              <div>{{comowned.all.l_petrol}} liters</div>
              <div>{{comowned.all.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of comowned.all.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
<!--      <nb-card-footer *ngIf="branchId <= 0">-->
<!--        <div class="row">-->
<!--          <div class="col-8"></div>-->
<!--          <div class="col-2 d-flex justify-content-end align-items-center">Mark As</div>-->
<!--          <div class="col-2"><button class="btn btn-primary" [disabled]="dataEntryStatus.comOwned.status !== 1" (click)="markAsCompleted(6)">Completed</button></div>-->
<!--        </div>-->
<!--      </nb-card-footer>-->
    </nb-card>
  </div>
</div>

<div *ngIf="comId > 0" class="row mt-4">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        Rented Vehicles Data Entry Summary
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item class="row font-weight-bold">
            <span class="col-2">Month</span>
            <span class="col-2">Diesel</span>
            <span class="col-2">Petrol</span>
            <span class="col-4">Vehicle  Numbers</span>
          </nb-list-item>
          <!--January-->
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">January</span>
            <span class="col-2">
              <div>{{rented.jan.m3_diesel}} m3</div>
              <div>{{rented.jan.l_diesel}} liters</div>
              <div>{{rented.jan.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{rented.jan.m3_petrol}} m3</div>
              <div>{{rented.jan.l_petrol}} liters</div>
              <div>{{rented.jan.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of rented.jan.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">February</span>
            <span class="col-2">
              <div>{{rented.feb.m3_diesel}} m3</div>
              <div>{{rented.feb.l_diesel}} liters</div>
              <div>{{rented.feb.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{rented.feb.m3_petrol}} m3</div>
              <div>{{rented.feb.l_petrol}} liters</div>
              <div>{{rented.feb.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of rented.feb.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">March</span>
            <span class="col-2">
              <div>{{rented.mar.m3_diesel}} m3</div>
              <div>{{rented.mar.l_diesel}} liters</div>
              <div>{{rented.mar.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{rented.mar.m3_petrol}} m3</div>
              <div>{{rented.mar.l_petrol}} liters</div>
              <div>{{rented.mar.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of rented.mar.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">April</span>
            <span class="col-2">
              <div>{{rented.apr.m3_diesel}} m3</div>
              <div>{{rented.apr.l_diesel}} liters</div>
              <div>{{rented.apr.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{rented.apr.m3_petrol}} m3</div>
              <div>{{rented.apr.l_petrol}} liters</div>
              <div>{{rented.apr.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of rented.apr.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">May</span>
            <span class="col-2">
              <div>{{rented.may.m3_diesel}} m3</div>
              <div>{{rented.may.l_diesel}} liters</div>
              <div>{{rented.may.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{rented.may.m3_petrol}} m3</div>
              <div>{{rented.may.l_petrol}} liters</div>
              <div>{{rented.may.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of rented.may.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">June</span>
            <span class="col-2">
              <div>{{rented.jun.m3_diesel}} m3</div>
              <div>{{rented.jun.l_diesel}} liters</div>
              <div>{{rented.jun.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{rented.jun.m3_petrol}} m3</div>
              <div>{{rented.jun.l_petrol}} liters</div>
              <div>{{rented.jun.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of rented.jun.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">July</span>
            <span class="col-2">
              <div>{{rented.jul.m3_diesel}} m3</div>
              <div>{{rented.jul.l_diesel}} liters</div>
              <div>{{rented.jul.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{rented.jul.m3_petrol}} m3</div>
              <div>{{rented.jul.l_petrol}} liters</div>
              <div>{{rented.jul.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of rented.jul.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">August</span>
            <span class="col-2">
              <div>{{rented.aug.m3_diesel}} m3</div>
              <div>{{rented.aug.l_diesel}} liters</div>
              <div>{{rented.aug.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{rented.aug.m3_petrol}} m3</div>
              <div>{{rented.aug.l_petrol}} liters</div>
              <div>{{rented.aug.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of rented.aug.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">September</span>
            <span class="col-2">
              <div>{{rented.sep.m3_diesel}} m3</div>
              <div>{{rented.sep.l_diesel}} liters</div>
              <div>{{rented.sep.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{rented.sep.m3_petrol}} m3</div>
              <div>{{rented.sep.l_petrol}} liters</div>
              <div>{{rented.sep.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of rented.sep.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">October</span>
            <span class="col-2">
              <div>{{rented.oct.m3_diesel}} m3</div>
              <div>{{rented.oct.l_diesel}} liters</div>
              <div>{{rented.oct.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{rented.oct.m3_petrol}} m3</div>
              <div>{{rented.oct.l_petrol}} liters</div>
              <div>{{rented.oct.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of rented.oct.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">Novemeber</span>
            <span class="col-2">
              <div>{{rented.nov.m3_diesel}} m3</div>
              <div>{{rented.nov.l_diesel}} liters</div>
              <div>{{rented.nov.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{rented.nov.m3_petrol}} m3</div>
              <div>{{rented.nov.l_petrol}} liters</div>
              <div>{{rented.nov.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of rented.nov.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">December</span>
            <span class="col-2">
              <div>{{rented.dec.m3_diesel}} m3</div>
              <div>{{rented.dec.l_diesel}} liters</div>
              <div>{{rented.dec.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{rented.dec.m3_petrol}} m3</div>
              <div>{{rented.dec.l_petrol}} liters</div>
              <div>{{rented.dec.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of rented.dec.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">All Months</span>
            <span class="col-2">
              <div>{{rented.all.m3_diesel}} m3</div>
              <div>{{rented.all.l_diesel}} liters</div>
              <div>{{rented.all.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{rented.all.m3_petrol}} m3</div>
              <div>{{rented.all.l_petrol}} liters</div>
              <div>{{rented.all.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of rented.all.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
<!--      <nb-card-footer *ngIf="branchId <= 0">-->
<!--        <div class="row">-->
<!--          <div class="col-8"></div>-->
<!--          <div class="col-2 d-flex justify-content-end align-items-center">Mark As</div>-->
<!--          <div class="col-2"><button class="btn btn-primary" [disabled]="dataEntryStatus.rented.status !== 1" (click)="markAsCompleted(9)">Completed</button></div>-->
<!--        </div>-->
<!--      </nb-card-footer>-->
    </nb-card>
  </div>
</div>

<div *ngIf="comId > 0" class="row mt-4">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        Hired Vehicles Data Entry Summary
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item class="row font-weight-bold">
            <span class="col-2">Month</span>
            <span class="col-2">Diesel</span>
            <span class="col-2">Petrol</span>
            <span class="col-4">Vehicle  Numbers</span>
          </nb-list-item>
          <!--January-->
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">January</span>
            <span class="col-2">
              <div>{{hired.jan.m3_diesel}} m3</div>
              <div>{{hired.jan.l_diesel}} liters</div>
              <div>{{hired.jan.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{hired.jan.m3_petrol}} m3</div>
              <div>{{hired.jan.l_petrol}} liters</div>
              <div>{{hired.jan.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of hired.jan.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">February</span>
            <span class="col-2">
              <div>{{hired.feb.m3_diesel}} m3</div>
              <div>{{hired.feb.l_diesel}} liters</div>
              <div>{{hired.feb.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{hired.feb.m3_petrol}} m3</div>
              <div>{{hired.feb.l_petrol}} liters</div>
              <div>{{hired.feb.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of hired.feb.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">March</span>
            <span class="col-2">
              <div>{{hired.mar.m3_diesel}} m3</div>
              <div>{{hired.mar.l_diesel}} liters</div>
              <div>{{hired.mar.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{hired.mar.m3_petrol}} m3</div>
              <div>{{hired.mar.l_petrol}} liters</div>
              <div>{{hired.mar.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of hired.mar.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">April</span>
            <span class="col-2">
              <div>{{hired.apr.m3_diesel}} m3</div>
              <div>{{hired.apr.l_diesel}} liters</div>
              <div>{{hired.apr.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{hired.apr.m3_petrol}} m3</div>
              <div>{{hired.apr.l_petrol}} liters</div>
              <div>{{hired.apr.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of hired.apr.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">May</span>
            <span class="col-2">
              <div>{{hired.may.m3_diesel}} m3</div>
              <div>{{hired.may.l_diesel}} liters</div>
              <div>{{hired.may.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{hired.may.m3_petrol}} m3</div>
              <div>{{hired.may.l_petrol}} liters</div>
              <div>{{hired.may.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of hired.may.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">June</span>
            <span class="col-2">
              <div>{{hired.jun.m3_diesel}} m3</div>
              <div>{{hired.jun.l_diesel}} liters</div>
              <div>{{hired.jun.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{hired.jun.m3_petrol}} m3</div>
              <div>{{hired.jun.l_petrol}} liters</div>
              <div>{{hired.jun.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of hired.jun.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">July</span>
            <span class="col-2">
              <div>{{hired.jul.m3_diesel}} m3</div>
              <div>{{hired.jul.l_diesel}} liters</div>
              <div>{{hired.jul.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{hired.jul.m3_petrol}} m3</div>
              <div>{{hired.jul.l_petrol}} liters</div>
              <div>{{hired.jul.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of hired.jul.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">August</span>
            <span class="col-2">
              <div>{{hired.aug.m3_diesel}} m3</div>
              <div>{{hired.aug.l_diesel}} liters</div>
              <div>{{hired.aug.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{hired.aug.m3_petrol}} m3</div>
              <div>{{hired.aug.l_petrol}} liters</div>
              <div>{{hired.aug.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of hired.aug.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">September</span>
            <span class="col-2">
              <div>{{hired.sep.m3_diesel}} m3</div>
              <div>{{hired.sep.l_diesel}} liters</div>
              <div>{{hired.sep.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{hired.sep.m3_petrol}} m3</div>
              <div>{{hired.sep.l_petrol}} liters</div>
              <div>{{hired.sep.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of hired.sep.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">October</span>
            <span class="col-2">
              <div>{{hired.oct.m3_diesel}} m3</div>
              <div>{{hired.oct.l_diesel}} liters</div>
              <div>{{hired.oct.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{hired.oct.m3_petrol}} m3</div>
              <div>{{hired.oct.l_petrol}} liters</div>
              <div>{{hired.oct.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of hired.oct.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">Novemeber</span>
            <span class="col-2">
              <div>{{hired.nov.m3_diesel}} m3</div>
              <div>{{hired.nov.l_diesel}} liters</div>
              <div>{{hired.nov.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{hired.nov.m3_petrol}} m3</div>
              <div>{{hired.nov.l_petrol}} liters</div>
              <div>{{hired.nov.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of hired.nov.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">December</span>
            <span class="col-2">
              <div>{{hired.dec.m3_diesel}} m3</div>
              <div>{{hired.dec.l_diesel}} liters</div>
              <div>{{hired.dec.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{hired.dec.m3_petrol}} m3</div>
              <div>{{hired.dec.l_petrol}} liters</div>
              <div>{{hired.dec.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of hired.dec.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">All Months</span>
            <span class="col-2">
              <div>{{hired.all.m3_diesel}} m3</div>
              <div>{{hired.all.l_diesel}} liters</div>
              <div>{{hired.all.lkr_diesel}} LKR</div>
            </span>
            <span class="col-2">
              <div>{{hired.all.m3_petrol}} m3</div>
              <div>{{hired.all.l_petrol}} liters</div>
              <div>{{hired.all.lkr_petrol}} LKR</div>
            </span>
            <span class="col-4"><label *ngFor="let n of hired.all.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
<!--      <nb-card-footer *ngIf="branchId <= 0">-->
<!--        <div class="row">-->
<!--          <div class="col-8"></div>-->
<!--          <div class="col-2 d-flex justify-content-end align-items-center">Mark As</div>-->
<!--          <div class="col-2"><button class="btn btn-primary" [disabled]="dataEntryStatus.hired.status !== 1" (click)="markAsCompleted(10)">Completed</button></div>-->
<!--        </div>-->
<!--      </nb-card-footer>-->
    </nb-card>
  </div>
</div>


<div *ngIf="comId > 0" class="row mt-4 display-flex align-items-stretch">
  <div class="col-6">
    <nb-card class="h-100">
      <nb-card-header>
        Business Airtravel Data Entry Summary
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item class="row font-weight-bold">
            <span class="col-6">Month</span>
            <span class="col-6">No of Employees</span>
          </nb-list-item>
          <!--January-->
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">January</span>
            <span class="col-6">{{airtravel.jan.emps}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">February</span>
            <span class="col-6">{{airtravel.feb.emps}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">March</span>
            <span class="col-6">{{airtravel.mar.emps}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">April</span>
            <span class="col-6">{{airtravel.apr.emps}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">May</span>
            <span class="col-6">{{airtravel.may.emps}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">June</span>
            <span class="col-6">{{airtravel.jun.emps}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">July</span>
            <span class="col-6">{{airtravel.jul.emps}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">August</span>
            <span class="col-6">{{airtravel.aug.emps}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">September</span>
            <span class="col-6">{{airtravel.sep.emps}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">October</span>
            <span class="col-6">{{airtravel.oct.emps}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">Novemeber</span>
            <span class="col-6">{{airtravel.nov.emps}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">December</span>
            <span class="col-6">{{airtravel.dec.emps}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-6 font-weight-bold">All Months</span>
            <span class="col-6">{{airtravel.all.emps}}</span>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
<!--      <nb-card-footer *ngIf="branchId <= 0">-->
<!--        <div class="row">-->
<!--          <div class="col-4"></div>-->
<!--          <div class="col-4 d-flex justify-content-end align-items-center">Mark As</div>-->
<!--          <div class="col-4"><button class="btn btn-primary" [disabled]="dataEntryStatus.airtravel.status !== 1" (click)="markAsCompleted(8)">Completed</button></div>-->
<!--        </div>-->
<!--      </nb-card-footer>-->
    </nb-card>
  </div>
  <div class="col-6">
    <nb-card class="h-100">
      <nb-card-header>
        Employee Commuting Data Entry Summary
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item class="row font-weight-bold">
            <span class="col-4">Month</span>
            <span class="col-4">No of Employees</span>
            <span class="col-4">Total Working Days</span>
          </nb-list-item>
          <!--January-->
          <nb-list-item class="row">
            <span class="col-4 font-weight-bold">January</span>
            <span class="col-4">{{emp_comm.jan.emps}}</span>
            <span class="col-4">{{emp_comm.jan.days}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4 font-weight-bold">February</span>
            <span class="col-4">{{emp_comm.feb.emps}}</span>
            <span class="col-4">{{emp_comm.feb.days}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4  font-weight-bold">March</span>
            <span class="col-4">{{emp_comm.mar.emps}}</span>
            <span class="col-4">{{emp_comm.mar.days}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4  font-weight-bold">April</span>
            <span class="col-4">{{emp_comm.apr.emps}}</span>
            <span class="col-4">{{emp_comm.apr.days}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4  font-weight-bold">May</span>
            <span class="col-4">{{emp_comm.may.emps}}</span>
            <span class="col-4">{{emp_comm.may.days}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4  font-weight-bold">June</span>
            <span class="col-4">{{emp_comm.jun.emps}}</span>
            <span class="col-4">{{emp_comm.jun.days}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4  font-weight-bold">July</span>
            <span class="col-4">{{emp_comm.jul.emps}}</span>
            <span class="col-4">{{emp_comm.jul.days}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4  font-weight-bold">August</span>
            <span class="col-4">{{emp_comm.aug.emps}}</span>
            <span class="col-4">{{emp_comm.aug.days}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4  font-weight-bold">September</span>
            <span class="col-4">{{emp_comm.sep.emps}}</span>
            <span class="col-4">{{emp_comm.sep.days}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4  font-weight-bold">October</span>
            <span class="col-4">{{emp_comm.oct.emps}}</span>
            <span class="col-4">{{emp_comm.oct.days}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4  font-weight-bold">Novemeber</span>
            <span class="col-4">{{emp_comm.nov.emps}}</span>
            <span class="col-4">{{emp_comm.nov.days}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4  font-weight-bold">December</span>
            <span class="col-4">{{emp_comm.dec.emps}}</span>
            <span class="col-4">{{emp_comm.dec.days}}</span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-4  font-weight-bold">All Months</span>
            <span class="col-4">{{emp_comm.all.emps}}</span>
            <span class="col-4">{{emp_comm.all.days}}</span>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
<!--      <nb-card-footer *ngIf="branchId <= 0">-->
<!--        <div class="row">-->
<!--          <div class="col-4"></div>-->
<!--          <div class="col-4 d-flex justify-content-end align-items-center">Mark As</div>-->
<!--          <div class="col-4"><button class="btn btn-primary" [disabled]="dataEntryStatus.empComm.status !== 1" (click)="markAsCompleted(7)">Completed</button></div>-->
<!--        </div>-->
<!--      </nb-card-footer>-->
    </nb-card>
  </div>
</div>

<div *ngIf="comId > 0" class="row mt-4">
  <div class="col-12">
    <nb-card class="h-100">
      <nb-card-header>
        Generator Data Entry Summary
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item class="row font-weight-bold">
            <span class="col-2">Month</span>
            <span class="col-2">m3</span>
            <span class="col-2">LKR</span>
            <span class="col-2">Liters</span>
            <span class="col-4">Generator Numbers</span>
          </nb-list-item>
          <!--January-->
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">January</span>
            <span class="col-2">{{gen.jan.m3}}</span>
            <span class="col-2">{{gen.jan.lkr}}</span>
            <span class="col-2">{{gen.jan.l}}</span>
            <span class="col-4"><label *ngFor="let n of gen.jan.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">February</span>
            <span class="col-2">{{gen.feb.m3}}</span>
            <span class="col-2">{{gen.feb.lkr}}</span>
            <span class="col-2">{{gen.feb.l}}</span>
            <span class="col-4"><label *ngFor="let n of gen.feb.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">March</span>
            <span class="col-2">{{gen.mar.m3}}</span>
            <span class="col-2">{{gen.mar.lkr}}</span>
            <span class="col-2">{{gen.mar.l}}</span>
            <span class="col-4"><label *ngFor="let n of gen.mar.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">April</span>
            <span class="col-2">{{gen.apr.m3}}</span>
            <span class="col-2">{{gen.apr.lkr}}</span>
            <span class="col-2">{{gen.apr.l}}</span>
            <span class="col-4"><label *ngFor="let n of gen.apr.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">May</span>
            <span class="col-2">{{gen.may.m3}}</span>
            <span class="col-2">{{gen.may.lkr}}</span>
            <span class="col-2">{{gen.may.l}}</span>
            <span class="col-4"><label *ngFor="let n of gen.may.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">June</span>
            <span class="col-2">{{gen.jun.m3}}</span>
            <span class="col-2">{{gen.jun.lkr}}</span>
            <span class="col-2">{{gen.jun.l}}</span>
            <span class="col-4"><label *ngFor="let n of gen.jun.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">July</span>
            <span class="col-2">{{gen.jul.m3}}</span>
            <span class="col-2">{{gen.jul.lkr}}</span>
            <span class="col-2">{{gen.jul.l}}</span>
            <span class="col-4"><label *ngFor="let n of gen.jul.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">August</span>
            <span class="col-2">{{gen.aug.m3}}</span>
            <span class="col-2">{{gen.aug.lkr}}</span>
            <span class="col-2">{{gen.aug.l}}</span>
            <span class="col-4"><label *ngFor="let n of gen.aug.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">September</span>
            <span class="col-2">{{gen.sep.m3}}</span>
            <span class="col-2">{{gen.sep.lkr}}</span>
            <span class="col-2">{{gen.sep.l}}</span>
            <span class="col-4"><label *ngFor="let n of gen.sep.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">October</span>
            <span class="col-2">{{gen.oct.m3}}</span>
            <span class="col-2">{{gen.oct.lkr}}</span>
            <span class="col-2">{{gen.oct.l}}</span>
            <span class="col-4"><label *ngFor="let n of gen.oct.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">Novemeber</span>
            <span class="col-2">{{gen.sep.m3}}</span>
            <span class="col-2">{{gen.sep.lkr}}</span>
            <span class="col-2">{{gen.sep.l}}</span>
            <span class="col-4"><label *ngFor="let n of gen.nov.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">December</span>
            <span class="col-2">{{gen.dec.m3}}</span>
            <span class="col-2">{{gen.dec.lkr}}</span>
            <span class="col-2">{{gen.dec.l}}</span>
            <span class="col-4"><label *ngFor="let n of gen.dec.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
          <nb-list-item class="row">
            <span class="col-2 font-weight-bold">All Months</span>
            <span class="col-2">{{gen.all.m3}}</span>
            <span class="col-2">{{gen.all.lkr}}</span>
            <span class="col-2">{{gen.all.l}}</span>
            <span class="col-4"><label *ngFor="let n of gen.all.nums" class="ml-1">{{n}}</label></span>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
<!--      <nb-card-footer *ngIf="branchId <= 0">-->
<!--        <div class="row">-->
<!--          <div class="col-8"></div>-->
<!--          <div class="col-2 d-flex justify-content-end align-items-center">Mark As</div>-->
<!--          <div class="col-2"><button class="btn btn-primary" [disabled]="dataEntryStatus.gen.status !== 1" (click)="markAsCompleted(11)">Completed</button></div>-->
<!--        </div>-->
<!--      </nb-card-footer>-->
    </nb-card>
  </div>
</div>

<div *ngIf="comId > 0" class="row mt-4">
  <div class="col-12">
    <nb-card class="h-100">
      <nb-card-header>
        Waste Disposal Data Entry Summary
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item class="row font-weight-bold ">
            <span  class="col-3 d-inline-block">Month</span>
            <span class="col-1 d-block" style="word-break: break-all;">Reuse</span>
            <span class="col-1 d-block" style="word-break: break-all;">Open Loop</span>
            <span class="col-1 d-block" style="word-break: break-all;">Closed Loop</span>
            <span class="col-1 d-block" style="word-break: break-all;">Combustion</span>
            <span class="col-1 d-block" style="word-break: break-all;">Composting</span>
            <span class="col-1 d-block" style="word-break: break-all;">Land Fill</span>
            <span class="col-1 d-block" style="word-break: break-all;">Anaerobic Digestion</span>
            <span class="col-1 d-block" style="word-break: break-all;">Animal Feeding</span>
            <span class="col-1 d-block" style="word-break: break-all;">Incineration</span>
          </nb-list-item>

          <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">January</span>
            <span class="col-1 ">{{wastDis.jan.reuse}}</span>
            <span class="col-1 ">{{wastDis.jan.oloop}}</span>
            <span class="col-1 ">{{wastDis.jan.cloop}}</span>
            <span class="col-1 ">{{wastDis.jan.combu}}</span>
            <span class="col-1 ">{{wastDis.jan.compo}}</span>
            <span class="col-1 ">{{wastDis.jan.land}}</span>
            <span class="col-1 ">{{wastDis.jan.anaer}}</span>
            <span class="col-1 ">{{wastDis.jan.piggery}}</span>
            <span class="col-1 ">{{wastDis.jan.incin}}</span>
          </nb-list-item>
 <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">Feburuary</span>
            <span class="col-1 ">{{wastDis.feb.reuse}}</span>
            <span class="col-1 ">{{wastDis.feb.oloop}}</span>
            <span class="col-1 ">{{wastDis.feb.cloop}}</span>
            <span class="col-1 ">{{wastDis.feb.combu}}</span>
            <span class="col-1 ">{{wastDis.feb.compo}}</span>
            <span class="col-1 ">{{wastDis.feb.land}}</span>
            <span class="col-1 ">{{wastDis.feb.anaer}}</span>
            <span class="col-1 ">{{wastDis.feb.piggery}}</span>
            <span class="col-1 ">{{wastDis.feb.incin}}</span>
          </nb-list-item>
 <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">March</span>
            <span class="col-1 ">{{wastDis.mar.reuse}}</span>
            <span class="col-1 ">{{wastDis.mar.oloop}}</span>
            <span class="col-1 ">{{wastDis.mar.cloop}}</span>
            <span class="col-1 ">{{wastDis.mar.combu}}</span>
            <span class="col-1 ">{{wastDis.mar.compo}}</span>
            <span class="col-1 ">{{wastDis.mar.land}}</span>
            <span class="col-1 ">{{wastDis.mar.anaer}}</span>
            <span class="col-1 ">{{wastDis.mar.piggery}}</span>
            <span class="col-1 ">{{wastDis.mar.incin}}</span>
          </nb-list-item>
 <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">April</span>
            <span class="col-1 ">{{wastDis.apr.reuse}}</span>
            <span class="col-1 ">{{wastDis.apr.oloop}}</span>
            <span class="col-1 ">{{wastDis.apr.cloop}}</span>
            <span class="col-1 ">{{wastDis.apr.combu}}</span>
            <span class="col-1 ">{{wastDis.apr.compo}}</span>
            <span class="col-1 ">{{wastDis.apr.land}}</span>
            <span class="col-1 ">{{wastDis.apr.anaer}}</span>
            <span class="col-1 ">{{wastDis.apr.piggery}}</span>
            <span class="col-1 ">{{wastDis.apr.incin}}</span>
          </nb-list-item>
 <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">May</span>
            <span class="col-1 ">{{wastDis.may.reuse}}</span>
            <span class="col-1 ">{{wastDis.may.oloop}}</span>
            <span class="col-1 ">{{wastDis.may.cloop}}</span>
            <span class="col-1 ">{{wastDis.may.combu}}</span>
            <span class="col-1 ">{{wastDis.may.compo}}</span>
            <span class="col-1 ">{{wastDis.may.land}}</span>
            <span class="col-1 ">{{wastDis.may.anaer}}</span>
            <span class="col-1 ">{{wastDis.may.piggery}}</span>
            <span class="col-1 ">{{wastDis.may.incin}}</span>
          </nb-list-item>
 <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">June</span>
            <span class="col-1 ">{{wastDis.jun.reuse}}</span>
            <span class="col-1 ">{{wastDis.jun.oloop}}</span>
            <span class="col-1 ">{{wastDis.jun.cloop}}</span>
            <span class="col-1 ">{{wastDis.jun.combu}}</span>
            <span class="col-1 ">{{wastDis.jun.compo}}</span>
            <span class="col-1 ">{{wastDis.jun.land}}</span>
            <span class="col-1 ">{{wastDis.jun.anaer}}</span>
            <span class="col-1 ">{{wastDis.jun.piggery}}</span>
            <span class="col-1 ">{{wastDis.jun.incin}}</span>
          </nb-list-item>
 <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">July</span>
            <span class="col-1 ">{{wastDis.jul.reuse}}</span>
            <span class="col-1 ">{{wastDis.jul.oloop}}</span>
            <span class="col-1 ">{{wastDis.jul.cloop}}</span>
            <span class="col-1 ">{{wastDis.jul.combu}}</span>
            <span class="col-1 ">{{wastDis.jul.compo}}</span>
            <span class="col-1 ">{{wastDis.jul.land}}</span>
            <span class="col-1 ">{{wastDis.jul.anaer}}</span>
            <span class="col-1 ">{{wastDis.jul.piggery}}</span>
            <span class="col-1 ">{{wastDis.jul.incin}}</span>
          </nb-list-item>
 <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">August</span>
            <span class="col-1 ">{{wastDis.aug.reuse}}</span>
            <span class="col-1 ">{{wastDis.aug.oloop}}</span>
            <span class="col-1 ">{{wastDis.aug.cloop}}</span>
            <span class="col-1 ">{{wastDis.aug.combu}}</span>
            <span class="col-1 ">{{wastDis.aug.compo}}</span>
            <span class="col-1 ">{{wastDis.aug.land}}</span>
            <span class="col-1 ">{{wastDis.aug.anaer}}</span>
            <span class="col-1 ">{{wastDis.aug.piggery}}</span>
            <span class="col-1 ">{{wastDis.aug.incin}}</span>
          </nb-list-item>
 <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">September</span>
            <span class="col-1 ">{{wastDis.sep.reuse}}</span>
            <span class="col-1 ">{{wastDis.sep.oloop}}</span>
            <span class="col-1 ">{{wastDis.sep.cloop}}</span>
            <span class="col-1 ">{{wastDis.sep.combu}}</span>
            <span class="col-1 ">{{wastDis.sep.compo}}</span>
            <span class="col-1 ">{{wastDis.sep.land}}</span>
            <span class="col-1 ">{{wastDis.sep.anaer}}</span>
            <span class="col-1 ">{{wastDis.sep.piggery}}</span>
            <span class="col-1 ">{{wastDis.sep.incin}}</span>
          </nb-list-item>
 <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">November</span>
            <span class="col-1 ">{{wastDis.nov.reuse}}</span>
            <span class="col-1 ">{{wastDis.nov.oloop}}</span>
            <span class="col-1 ">{{wastDis.nov.cloop}}</span>
            <span class="col-1 ">{{wastDis.nov.combu}}</span>
            <span class="col-1 ">{{wastDis.nov.compo}}</span>
            <span class="col-1 ">{{wastDis.nov.land}}</span>
            <span class="col-1 ">{{wastDis.nov.anaer}}</span>
            <span class="col-1 ">{{wastDis.nov.piggery}}</span>
            <span class="col-1 ">{{wastDis.nov.incin}}</span>
          </nb-list-item>
 <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">December</span>
            <span class="col-1 ">{{wastDis.dec.reuse}}</span>
            <span class="col-1 ">{{wastDis.dec.oloop}}</span>
            <span class="col-1 ">{{wastDis.dec.cloop}}</span>
            <span class="col-1 ">{{wastDis.dec.combu}}</span>
            <span class="col-1 ">{{wastDis.dec.compo}}</span>
            <span class="col-1 ">{{wastDis.dec.land}}</span>
            <span class="col-1 ">{{wastDis.dec.anaer}}</span>
            <span class="col-1 ">{{wastDis.dec.piggery}}</span>
            <span class="col-1 ">{{wastDis.dec.incin}}</span>
          </nb-list-item>
 <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">All Months</span>
            <span class="col-1 ">{{wastDis.all.reuse}}</span>
            <span class="col-1 ">{{wastDis.all.oloop}}</span>
            <span class="col-1 ">{{wastDis.all.cloop}}</span>
            <span class="col-1 ">{{wastDis.all.combu}}</span>
            <span class="col-1 ">{{wastDis.all.compo}}</span>
            <span class="col-1 ">{{wastDis.all.land}}</span>
            <span class="col-1 ">{{wastDis.all.anaer}}</span>
            <span class="col-1 ">{{wastDis.all.piggery}}</span>
            <span class="col-1 ">{{wastDis.all.incin}}</span>
          </nb-list-item>

        </nb-list>
      </nb-card-body>
<!--      <nb-card-footer *ngIf="branchId <= 0">-->
<!--        <div class="row">-->
<!--          <div class="col-8"></div>-->
<!--          <div class="col-2 d-flex justify-content-end align-items-center">Mark As</div>-->
<!--          <div class="col-2"><button [disabled]="dataEntryStatus.wasteDis.status !== 1" class="btn btn-primary"(click)="markAsCompleted(12)" >Completed</button></div>-->
<!--        </div>-->
<!--      </nb-card-footer>-->
    </nb-card>
  </div>
</div>

<div *ngIf="comId > 0" class="row mt-4">
  <div class="col-12">
    <nb-card class="h-100">
      <nb-card-header>
        Freight Data Entry Summary
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item class="row font-weight-bold ">
            <span  class="col-3 d-inline-block">Month</span>
            <span class="col-4 d-block" style="word-break: break-all;">Sea Freight(tons)</span>
            <span class="col-4 d-block" style="word-break: break-all;">Air Freight(tons)</span>

          </nb-list-item>

          <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">January</span>
            <span class="col-4 rotate">{{freight.jan.sea_quantity}}</span>
            <span class="col-4 rotate">{{freight.jan.air_quantity}}</span>

          </nb-list-item>
          <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">Feburuary</span>
            <span class="col-4 rotate">{{freight.feb.sea_quantity}}</span>
            <span class="col-4 rotate">{{freight.feb.air_quantity}}</span>

          </nb-list-item>
          <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">March</span>
            <span class="col-4 rotate">{{freight.mar.sea_quantity}}</span>
            <span class="col-4 rotate">{{freight.mar.air_quantity}}</span>

          </nb-list-item>
          <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">April</span>
            <span class="col-4 rotate">{{freight.apr.sea_quantity}}</span>
            <span class="col-4 rotate">{{freight.apr.air_quantity}}</span>

          </nb-list-item>
          <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">May</span>
            <span class="col-4 rotate">{{freight.may.sea_quantity}}</span>
            <span class="col-4 rotate">{{freight.may.air_quantity}}</span>

          </nb-list-item>
          <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">June</span>
            <span class="col-4 rotate">{{freight.jun.sea_quantity}}</span>
            <span class="col-4 rotate">{{freight.jun.air_quantity}}</span>

          </nb-list-item>
          <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">July</span>
            <span class="col-4 rotate">{{freight.jul.sea_quantity}}</span>
            <span class="col-4 rotate">{{freight.jul.air_quantity}}</span>

          </nb-list-item>
          <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">August</span>
            <span class="col-4 rotate">{{freight.aug.sea_quantity}}</span>
            <span class="col-4 rotate">{{freight.aug.air_quantity}}</span>

          </nb-list-item>
          <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">September</span>
            <span class="col-4 rotate">{{freight.sep.sea_quantity}}</span>
            <span class="col-4 rotate">{{freight.sep.air_quantity}}</span>

          </nb-list-item>
          <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">November</span>
            <span class="col-4 rotate">{{freight.nov.sea_quantity}}</span>
            <span class="col-4 rotate">{{freight.nov.air_quantity}}</span>

          </nb-list-item>
          <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">December</span>
            <span class="col-4 rotate">{{freight.dec.sea_quantity}}</span>
            <span class="col-4 rotate">{{freight.dec.air_quantity}}</span>

          </nb-list-item>
          <nb-list-item class="row ">
            <span class="col-3 d-inline-block font-weight-bold">All Months</span>
            <span class="col-4 rotate">{{freight.all.sea_quantity}}</span>
            <span class="col-4 rotate">{{freight.all.air_quantity}}</span>

          </nb-list-item>

        </nb-list>
      </nb-card-body>
<!--      <nb-card-footer *ngIf="branchId <= 0">-->
<!--        <div class="row">-->
<!--          <div class="col-8"></div>-->
<!--          <div class="col-2 d-flex justify-content-end align-items-center">Mark As</div>-->
<!--          <div class="col-2"><button [disabled]="dataEntryStatus.freight.status !== 1" class="btn btn-primary"(click)="markAsCompleted(14)" >Completed</button></div>-->
<!--        </div>-->
<!--      </nb-card-footer>-->
    </nb-card>
  </div>
</div>




