<div *ngIf="showChart()" class="row mt-3">

  <div  class="col-md-12 col-xs-12"><nb-card>
    <nb-card-header class="d-flex justify-content-center container">
      <div class="row"><div class="col-12">Mitigation Projects</div></div>

    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-3">Project</div>
        <div class="col-4"> <mat-select (selectionChange)="onChangeProject($event, $event.value)" placeholder="Select Project"  [(ngModel)]="selectedProject">
          <mat-option *ngFor="let c of  projects" [value]="c.id">
            {{c.name}}
          </mat-option>
        </mat-select></div>
        <div  class="col-2">
<!--          <nb-radio-group *ngIf="selectedProject > 0" [(ngModel)]="mode"   (valueChange)="onChangeMode($event, $event.value)">-->
<!--          <nb-radio value="1">Monthly</nb-radio>-->
<!--          <nb-radio value="2">Annually</nb-radio>-->
<!--        </nb-radio-group>-->
        </div>
        <div class="col-1" *ngIf="mode==1">Year</div>
        <div class="col-2" *ngIf="mode==1"> <mat-select (selectionChange)="onChangeYear($event, $event.value)" placeholder="Select Year"  [(ngModel)]="selectedYear">
          <mat-option *ngFor="let c of years" [value]="c">
            {{c}}
          </mat-option>
        </mat-select></div>


      </div>

      <div class="row">
        <div class="chart-8 echart w-100 h-100" echarts [options]="chart_options"></div>
      </div>
    </nb-card-body>
  </nb-card></div>
</div>
