<nb-card>
  <nb-card-header>
    Reports
  </nb-card-header>
  <nb-card-body>
    <div class="row" *ngIf="reports.length !== 0">
      <div class="col-md-2 col-xs-6" *ngFor="let report of reports" (click)="onClickDownloadReport(report.url)">
        <div class="row  d-flex justify-content-center">
          <img style="display: block; min-width:120px;max-width: 120px;" src="../../../../assets/utlil-imgs/pdf.webp"/>
        </div>
        <div class="row d-flex justify-content-center">{{report.type}}</div>
        <div class="row d-flex justify-content-center">
          {{report.name}}
        </div>
      </div>
    </div>
    <div class="row" *ngIf="reports.length === 0">
      <div class="col-12 d-flex justify-content-start">No Reports Available</div>
    </div>
  </nb-card-body>
</nb-card>
