<nb-card>
  <nb-card-header style="display: flex; justify-content: space-between">
    Emission Categories
    <div class="row mb-3 pr-2 pl-1" style="min-width: 300px">
      <div class="col-6"><label>Company</label></div>
      <div class="col-6">
        <mat-select placeholder="Select Company" (selectionChange)="onChangeCompany($event.value)" [(ngModel)]="this.selectedCompanyId">
          <mat-option  *ngFor="let c of compaines" [value]="c.id">
            {{c.name}}
          </mat-option>
        </mat-select>
      </div>

    </div>

  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source"
                     (editConfirm) = "onUpdate($event, 2)"
                     (createConfirm) = "onUpdate($event, 1)"
                     (deleteConfirm) = "onUpdate($event, 3)"

    >
    </ng2-smart-table>
    <!--<nb-card-footer>-->
    <!--<nav aria-label="Page navigation example">-->
    <!--<ul class="pagination justify-content-center">-->
    <!--<li class="page-item disabled">-->
    <!--<a class="page-link" href="#" tabindex="-1">Previous</a>-->
    <!--</li>-->
    <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
    <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
    <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
    <!--<li class="page-item">-->
    <!--<a class="page-link" href="#">Next</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</nav>-->
    <!--</nb-card-footer>-->
  </nb-card-body>
</nb-card>
