<nb-card>
  <nb-card-header>
    Employees
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source"
                     (createConfirm)="onUpdate($event)"
                     (editConfirm) = "onUpdate($event)"
                     (userRowSelect)="onClickRow($event)"
                     (deleteConfirm)="onDelete($event)"
    >
    </ng2-smart-table>
    <nb-card-footer>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item page-link"  [ngClass]="{disabled: disablePrev}" (click)="onClickPrevPage()"><nb-icon icon="arrow-ios-back-outline" pack="eva"></nb-icon></li>
          <li class="page-item page-link">{{pg_current + 1}}</li>
          <li class="page-item page-link"  [ngClass]="{disabled: disableNext}" (click)="onClickNextPage()"><nb-icon icon="arrow-ios-forward-outline" pack="eva"></nb-icon></li>
        </ul>
      </nav>
    </nb-card-footer>
  </nb-card-body>
</nb-card>
