<div class="row mt-3">

  <div class="col-md-8 col-xs-12">
    <nb-card style="min-height: 500px;" class="col-md-12 h-100">
      <nb-card-header class="d-flex justify-content-center">
        Active Project By Status
      </nb-card-header>
      <nb-card-body>
        <div class="chart-6 echart w-100 h-100" echarts [options]="projectStatusOptions"></div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4 col-xs-12">
    <nb-card class="col-md-12 h-100">
      <nb-card-header class="d-flex justify-content-center">
         Expired Projects
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item class="item w-100 row" *ngIf="expiredProjects.length === 0">
            No Expired projects
          </nb-list-item>
          <nb-list-item class="item w-100 row" *ngFor="let item of expiredProjects;">
            <span class="col-6">{{item.name}}</span>
            <span class="col-6">{{item.endDate}}</span>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>
  <div class="row mt-3">
    <div class="col-md-8 col-xs-12">
      <nb-card style="min-height: 500px;" class="col-md-12 h-100">
        <nb-card-header class="d-flex justify-content-center">
          Active Project By Payment Status
        </nb-card-header>
        <nb-card-body>
          <div class="chart-6 echart w-100 h-100" echarts [options]="paymentStatusOptions"></div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-4 col-xs-12">
      <nb-card class="col-md-12 h-100">
        <nb-card-header class="d-flex justify-content-center">
          Active Report Status
        </nb-card-header>
        <nb-card-body>
          <nb-list>
            <nb-list-item class="item w-100 row" *ngIf="reports.length === 0">
              No Reports Available
            </nb-list-item>
            <nb-list-item class="item w-100 row" *ngFor="let item of reports;">
              <span class="col-6">{{item.name}}</span>
              <span class="col-6">{{item.status}}</span>
            </nb-list-item>
          </nb-list>


        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <!--<div class="row">-->
    <!--<div class="col-md-6 col-xs-12">-->
      <!--completeness check-->
    <!--</div>-->
    <!--<div class="col-md-6 col-xs-12">-->
      <!--comadmins reviews-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class ="row">-->
    <!--<div class="col-md-6 col-xs-12">-->
      <!--<nb-card>-->
        <!--<nb-card-header class="d-flex justify-content-center">-->
          <!--Active Project Timeline-->
        <!--</nb-card-header>-->
        <!--<nb-card-body>-->
          <!--<div class="chart-6 echart w-100 h-100" echarts [options]="chart6_options"></div>-->


        <!--</nb-card-body>-->
      <!--</nb-card>-->
    <!--</div>-->
  <!--</div>-->

