<div class="container-fluid bg-light">
  <div class="row">
    <div class="col-6">
      <label>Branch Name</label>
    </div>
    <div class="col-6">
      <input nbInput type="text" class="form-control border-secondary"/>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-6">
      <label>Address 1</label>
    </div>
    <div class="col-6">
      <input nbInput type="text" class="form-control border-secondary"/>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-6">
      <label>Address 2</label>
    </div>
    <div class="col-6">
      <input nbInput type="text" class="form-control border-secondary"/>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-6"><label>District</label></div>
    <div class="col-6">
      <input nbInput type="text" class="form-control border-secondary"/>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-6"><label>Code</label></div>
    <div class="col-6">
      <input nbInput type="text" class="form-control border-secondary"/>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 d-flex justify-content-end">
      <button nbButton status="primary">Save</button>
    </div>
  </div>
</div>
